$user-dashboard-max-width: 44rem;
// $user-dashboard-background: 

#sulo-user-dashboard {
	// max-width: $user-dashboard-max-width;
	.button.secondary.hollow {
		// border-color: $light-gray;
		// color: $medium-gray;
		// border-radius: 100px;
	}
	.row {
		max-width: $user-dashboard-max-width;
		margin: 0 auto;
	}
	.page-content {
		padding-top: 1rem;
	}


	h2 {
		// font-family: $header-font-family-serif;
		// color: $dark-gray;
		// text-transform: uppercase;
		margin-bottom: 0.5rem;
	}
	// h3 {
	// 	text-transform: none;
	// 	margin-top: 0.5rem;
	// 	// color: $dark-gray;
	// 	font-size: 120%;
	// 	font-weight: $global-weight-bold;
	// 	@include breakpoint(medium) {
	// 		font-size: 130%;
	// 	}
	// }

	.section-title {
		// font-family: $header-font-family-serif;
		// font-weight: $global-weight-bold;
		// font-size: 110%;
		margin-top: 2rem;
		letter-spacing: 1px;
		// text-transform: uppercase;
		// display: flex;
		// justify-content: space-between;
		// align-items: flex-end;
		// font-weight: $global-weight-bold;
		margin-bottom: 0.2rem;
	}
	.menu.section-list {
		border-top: $global-border-secondary;
		border-bottom: $global-border-secondary;
		margin-bottom: 4rem;
		// margin-top: 1rem;
		li {
			padding: 1rem 0;
			border-bottom: $global-border-secondary;
			&:last-child {
				border: none;
			}
			> .row > .column:nth-child(2) {
				text-align: right;
				@include breakpoint(medium) {
					// text-align: right;
				}
			}
		}
		small {
			color: $dark-gray;
		}

		label {
			color: $body-font-color;
			font-size: 120%;
		}

		.section-list-item--card {
			.column:nth-child(2) {
				text-align: left !important;
				@include breakpoint(medium) {
					text-align: center !important;
				}
			}
			// .column:nth-child(3) {
			// 	display: flex;
			// 	flex-direction: column;
			// 	@include breakpoint(medium) {
			// 		flex-direction: row;
			// 	}
			// }
		}

		.payment-card {
			display: flex;
			flex-direction: row;
			align-items: center;
		
			> * {
				margin-right: 1rem;
			}
			.payment-brand {
				font-weight: $global-weight-bold;
			
			}
			p {
				text-align: left;
				flex: 1;
				display: flex;
				flex-wrap: wrap;
				align-items: flex-end;
				margin: 0;
				span:first-child {
					margin-right: 1rem;
					flex: 1;
				}
			}
		}
		.icon {
			width: 2rem;
			height: 2rem;
			min-width: 2rem;
			opacity: 1;
			// flex: 1 0;
		}

		.user-profile {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			@include breakpoint(medium) {
				// justify-content: flex-end;
			}
			.photo-container {
				max-width: 3rem;
				width: 3rem;
				margin: 0.5rem;
		// margin: 0 auto;
				// margin: 0.5rem 0;
			}
			span {
				font-weight: $global-weight-bold;
				// letter-spacing: 1px;
			}
		}
	}

	.reveal-overlay {
		overflow: hidden;
	}

	.reveal.full {
		display: flex;
		align-items: center;
		// justify-content: center;
		// flex-direction: column;

		.user-profile-photo {
			max-width: 10rem;
			margin: 0 auto;
		}
		.section-list {
			margin-bottom: 1rem;
		}

		.edit-profile-modal {
			.upload-photo {
				margin: 1rem auto;
				max-width: 10rem;
				width: 10rem;
			}
			.action-buttons {
				display: flex;
				flex-direction: column-reverse;
				align-items: center;
				.button {
					// flex: 1 1 auto;
					width: 5rem;
					margin-bottom: 0.5rem !important;
				}
			}
		}
	}
}