#sulo-order-receipt {
	h3 {
		small {
			text-transform: none;
			font-weight: $global-weight-bold;
		}
	}
}

#sulo-user-order-list {
	$border: 1px solid $light-gray;
	.order-item-sku {
		// padding: 1rem 0;
		// border-top: $border;
		// border-bottom: $border;
	}
	td {
		padding: 0.5rem;
	}
	tfoot {
		background: $white;
		font-size: 0.9rem;
	}
}