#sulo-user-order-list {
	// .page-container {
		background: $dashboard-background;
	// }
	padding-top: $global-padding;
	.row {
		max-width: $dashboard-content-width;
		margin: 0 auto;
	}

	.empty-container {
		padding: 4rem 0;
		margin-bottom: 4rem;
	}

	.section-title {
		letter-spacing: 0;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		p {
			margin: 0;
		}
	}

	.sl-order-card {
		// border: $global-border;
		// padding: 0;
		margin-bottom: 4rem;
		&:last-child {
			margin-bottom: 10rem;
		}
		.sl-order-card-subtitle {
			padding-top: $global-padding;
			p {
				margin: 0;
			}
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			.order-status {
				p {
					margin: 0;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: bold;
					font-size: 0.75rem;
					border-radius: $global-radius;
				}
			}
		}
		.sl-order-card-title {
			margin: 0;
			padding-bottom: $global-padding;
			.button {
				margin-bottom: 0;
				margin-top: $global-margin-small;
			}
			align-items: center;
			.sl-order-card-title--store {
				display: flex;
				align-items: center;
				p {
					margin-left: $global-margin;
					font-size: 110%;
				}
				a {
					display: flex;
				}
				.photo-container {
					flex: 0 0 auto;
					min-width: 4rem;
					max-width: 4rem;
					width: 4rem;
				}
			}
			.sl-order-card-title--number {
				text-align: right;
				flex: 0 0 auto;
				small {
					font-weight: $global-weight-bold;
				}
			}
		}
		.sl-order-card-content {
			.sl-order-card-content--status {
				border-top: $global-border-secondary;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: $global-padding;
				.button {
					margin: 0;
				}
			}
			.sl-order-items-list {
				border-top: $global-border-secondary;
				border-bottom: $global-border-secondary;
				padding-top: $global-padding;
				p {
					text-align: center;
					line-height: 1;
					@include wrap-text;
				}
				// background: rgba($light-gray, 0.5);
			}
			// .menu {
			// 	padding: 0 $global-padding;
			// 	li {
			// 		display: flex;
			// 		border-bottom: $global-border-secondary;
			// 		&:first-child {
			// 			border-top: $global-border-secondary;
			// 		}
			// 		padding: $global-padding-small 0;
			// 		justify-content: space-between;
			// 		a {
			// 			padding: 0;
			// 			justify-content: space-between;
			// 			align-items: center;
			// 		}
			// 		p {
			// 			margin: 0;
			// 		}
			// 		.photo-container {
			// 			flex: 1 0 auto;

			// 			// min-width: 10rem;
			// 			// max-width: 10rem;
			// 			margin-right: $global-margin;
			// 			// width: 3rem;
			// 		}
			// 		.sl-order-items-list-item--info {

			// 			max-width: 10rem;
			// 			flex-direction: column;
			// 			margin-right: $global-margin-small;
			// 			p {
			// 				line-height: 1.1;
			// 			}
			// 		}
			// 	}
			// }
		}
	}

}
