#sulo-order-receipt {
	padding-bottom: 4rem;
	
	// .row {
		max-width: $dashboard-content-width;
		margin: 0 auto;
	// }
	.row.column {
		> .row {
			// .column {
				// text-align: center;
			// }
		}
	}
	.section-title {
		letter-spacing: 0;
	}
	.page-title {
		font-size: 1.5rem;
		padding-bottom: 1rem;
		// border-bottom: $global-border;
		.photo-container {
			// margin: 0 auto;
			max-width: 6rem;
			min-width: 6rem;
			margin-right: 1rem;
		}
		display: flex;
		align-items: center;
		p {
			margin: 0;
		}

	}
	h1 {
		border-bottom: $global-border;
	}
	.callout {
		border: none;
		&.not-found {
			p a {
				color: $body-font-color;
			}
		}
	}

	.photo-container {
		.photo.cover {
			padding-top: 10%;
		}
		.overlay {
			background: rgba($white, 0.75);
		}
	}
	.sl-shipping--name {
		font-weight: $global-weight-bold;
	}
	.sl-shipping--address {
		// font-size: 100%;
		color: $body-font-color;
	}

	// .section-title {
	// 	font-size: 120%;
	// 	border-top: $global-border-secondary;
	// 	padding-top: 1rem;
	// }
	.section-list {
		// border: none;
		// border-color: $light-gray;
		// padding-bottom: 0;
		// margin-bottom: 2rem;
		li:last-child {
			padding: 0.5rem 0;
			p {
				margin: 0;
			}
		}
		margin-bottom: 0.5rem;
	}
	.total-price {
		font-size: 120%;
		margin-bottom: 4rem;
	}

	.section-list-item {
		// border: none;
		&.order-item {
			// display: flex;
			// justify-content: space-between;
			.photo-container {
				align-self: flex-start;
				max-width: 4rem;
				min-width: 4rem;
				margin-right: 1rem;
				flex: 0 0 auto;
				@include breakpoint(large) {
					max-width: 4rem;
				}
			}
			.order-item-info {
				display: flex;
			}
		}
	}
	.contact {
		margin-top: 4rem;
		p {
			margin: 0;
		}
	}
}