// $user-dashboard-background: 

.menu.section-list {
	border-top: $global-border-secondary;
	border-bottom: $global-border-secondary;
	li {
		padding: 1rem 0;
		border-bottom: $global-border-secondary;
		&:last-child {
			border: none;
		}
	}
	small {
		color: $dark-gray;
	}

	label {
		color: $body-font-color;
		font-size: 120%;
	}

	.user-profile {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		.photo-container {
			max-width: 3rem;
			width: 3rem;
			margin: 0.5rem;
		}
		span {
			font-weight: $global-weight-bold;
		}
	}
}
.section-form.section-form--address {
	border-top: $global-border-secondary;
	border-bottom: $global-border-secondary;
	margin-bottom: 1rem;
	> div {
		border-bottom: $global-border-secondary;
		padding: 1rem 0 0 0;
		&:last-child {
			border: none;
		}
	}
	// li {
		.column {
			margin-bottom: 1rem;
			// &:last-child {
			// 	margin-bottom: 0;
			// }
		}
	// }
}
.section-list.section-list--cards {
	.section-list-item--card, .section-list-item--new-card {
		display: flex;
		> a, > div {
			flex: 1;
			display: flex;
			align-items: center;
			input[type='radio'] {
				margin-right: 0.5rem;
				width: 2rem;
				flex: 0 0 auto;
			}
			&:not(.button) {
				color: $body-font-color;
			}
			&:nth-child(2) {
				flex: 0 0 auto;
			}
		}
		.payment-card {
			display: flex;
			flex-direction: row;
			align-items: center;

			> * {
				margin-right: 1rem;
			}
			.payment-brand {
				font-weight: $global-weight-bold;
			
			}
			small {
				color: $dark-gray;
			}
			p {
				text-align: left;
				display: flex;
				flex-direction: column;
				margin: 0;
				@include breakpoint(medium) {
					flex-direction: row;
					align-items: flex-end;
					:nth-child(2) {
						margin-left: 0.5rem;
					}
				}
			}
			&.default-card {
				justify-content: flex-end;
				align-items: flex-end;
				margin-bottom: 0.5rem;
				p {
					margin-right: 0.5rem;
				}
			}
			.icon {
				width: 2rem;
				height: 2rem;
				min-width: 2rem;
				opacity: 1;
			}
		}
		.button {
			margin: 0;
		}

		&:hover {
			background: rgba($light-gray, 0.25);
		}
	}
	.section-list-item--new-card {
		label {
			font-size: 80%;
			color: $dark-gray;
		}
		.button {
			margin-bottom: 0;
		}
	}
}

.section-title {
	margin-top: 2rem;
	letter-spacing: 1px;
	margin-bottom: 0.2rem;
}

#sulo-user-settings {
	.page-content .row {
		max-width: $user-dashboard-max-width;
		margin-right: auto;
		margin-left: auto;
	}
	.page-content {
		padding-top: 1rem;
	}

	
	.section-list {
		margin-bottom: 4rem;
	}
	
	.callout.warning {
		small {
			color: $body-font-color;
		}
	}

	.reveal-overlay {
		overflow: hidden;
	}

	.reveal.full {
		display: flex;
		align-items: center;

		.section-list {
			margin-bottom: 1rem;
		}

		.edit-profile-modal {
			.photo-container {
				margin: 1rem auto;
				max-width: 10rem;
				width: 10rem;
				// height: 10rem;
				.content {
					padding: 0.5rem;
					font-size: 1rem;
				}
				i {
					color: $dark-gray;
					font-size: 1rem;
				}
			}
		}
		.action-buttons {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.button {
				width: 5rem;
				&:first-child {
					margin-right: 0.5rem;
				}
				margin-bottom: 0.5rem !important;
			}
		}
	}
}