$user-dashboard-max-width: 44rem;

#sulo-user {

	.go-back {
		padding: 1rem 0;
		padding-left: 0.5rem;
		font-weight: $global-weight-bold;
		font-size: 90%;
		a {
			transition: color .25s ease-in-out;
			color: $dark-gray;
			&:hover  {
				color: $body-font-color;
			}
		}
	}
	.page-content-container {
		.user-profile-photo {
			margin: 1.75rem auto;
			.photo-container {
				max-width: 10rem;
				transition: width .25s ease-in-out;
				@include breakpoint(large) {
					max-width: 15rem;
				}
			}
		}
	}

	tfoot {
		background: $white;
		font-size: 0.9rem;
	}

}

@import "settings";
@import "profile";
@import "order";
@import "receipt";
@import "login";