
#sulo-user {
	.page-content-container {
		.user-profile-photo {
			margin: 1.75rem auto;
			.photo-container {
				max-width: 10rem;
				transition: width .25s ease-in-out;
				@include breakpoint(large) {
					max-width: 15rem;
				}
			}
		}
	}

	tfoot {
		background: $white;
		font-size: 0.9rem;
	}

}

@import "profile";
@import "order";
@import "dashboard";