/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
profiles.clj

# IntelliJ files
.idea/
*.iml

## Figwheel
/figwheel_server.log

## lein-npm
/node_modules

## Generated clojurescript->javascript output
/resources/public/*/js

# Hiccup-bridge
/hicv
