{"AWSEBDockerrunVersion": "1",
 "Ports": [{"ContainerPort": "8080"}],
 "Authentication": { "Bucket": "sulo-conf",
                     "Key": "docker/.dockercfg"},
 "Image": { "Name": "<DOCKER_IMAGE>",
            "Update": "true"}}

