{"AWSEBDockerrunVersion": "1",
 "Ports": [{"ContainerPort": "8080"}],
 "Authentication": { "Bucket": "petterik-jourmoney",
                     "Key": ".dockercfg"},
 "Image": { "Name": "<DOCKER_IMAGE>",
            "Update": "true"}}

