

#sulo-account-settings {
	max-width: $dashboard-content-width;
	margin: 0 auto;
	// .section-title {
	// 	display: flex;
	// 	// text-align: left;
	// 	// justify-content: space-between;
	// 	align-items: flex-start !important;
	// 	flex-direction: column;
	// 	@include breakpoint(medium) {
	// 		flex-direction: row;
	// 	}
	// }

	.menu.submenu {
	
		li {
			// margin: 0 0.5rem;
			// border-bottom: 2px solid transparent;
			transition: background .25s ease-in-out;
			a {
				// padding: 0.5rem;
				color: $dark-gray;
				transition: color .25s ease-in-out;
			}
			&:hover, &.is-active {
				a {
					color: $body-font-color;
				}
				background: $light-gray;
			}
			&.is-active {
				a {
					font-weight: $global-weight-bold;
				}
			}
			// &.is-active {
			// 	a {

			// 	}
			// 	border-bottom: 2px solid $primary-color;
			// }
		}
	}
	label.text-left {
		text-align: left;
	}
	input, select {
		&[disabled] {
			background-color: darken($white, 5%);
		}	
	}
	.currency {
		text-transform: uppercase;
		font-weight: $global-weight-bold;
		.label {
			border-radius: 4px;

		}
	}
	.payment-methods {
		display: flex;
		flex-direction: row;
	}

	.callout {
		.header {
			font-weight: $global-weight-bold;
			border-bottom: $global-border;
			padding-bottom: 0.1rem;
			margin-bottom: 1.5rem;
		}
	}
	.icon {
		$size: 32px;
		margin-right: 0.5rem;
		width: $size;
		height: $size;
		svg {
			width: $size;
			height: $size;
		}
	}

	.bank-account-container {
		margin-bottom: 0.5rem;
	}
	.bank-account {
		display: flex;
		// padding: 0.5rem 1rem;
		align-items: center;

		.bank-detail {
			margin-right: 0.5rem;
			&:last-child, &:first-child {
				margin-right: 0;
			}
			flex: 0 1 auto;
			min-width: 0;
			@include breakpoint(medium) {
				margin-right: 1rem;
				&:first-child {
					margin-right: 1rem;
				}
			}
			font-size: 90%;
			.label {
				background: $white;
				color: $primary-color;
				// border: $global-border;
				border: 1px solid $primary-color;
			}
			i {
				color: $primary-color;
				display: none;
				@include breakpoint(medium) {
					display: block;
				}
			}
			&.currency {
				font-weight: $global-weight-bold;
				text-transform: uppercase;
			}
			&.account {
				color: $dark-gray;
				flex: 1 0 auto;
			}
			&.country {
				text-transform: uppercase;
			}
			&.bank-name {
				text-transform: uppercase;
				@include wrap-text;
			}
		}
	}
	.payout-schedule-container {
		// margin: 1rem 0;
		font-size: 95%;
		// font-weight: $global-weight-bold;
		.button {
			margin: 0;
		}

	}
	.payout-schedule, .bank-account, .default-currency {
		padding: 0.5rem;
		@include breakpoint(medium) {
			padding: 0.5rem 1rem;
		}
		border: $global-border;
	}
	.payout-schedule {
		@include wrap-text;
		border-radius: $global-radius;
		select {
			max-width: 100%;
			margin-bottom: 0;
		}
		// margin-bottom: 1rem;
	}
}

#sulo-activate-account-form {
	input, select {
		// max-width: 20rem;
		margin: 0;
		&[disabled] {
			background: $white;
			font-weight: $global-weight-bold;
		}
	}
	p a {
		text-decoration: underline; 
	}
	.business-type {
		label {
			color: $black;
			font-weight: $global-weight-normal;
		}
	}
	.callout > .row {
		margin-bottom: 1rem;
		.row {
			margin-bottom: 1rem;
		}
	}
	.callout.alert {
		padding: 1rem;
	}
}