

#sulo-account-settings {
	max-width: $dashboard-content-width;
	margin: 0 auto;
	padding-top: $navbar-height;
	// .section-title {
	// 	display: flex;
	// 	// text-align: left;
	// 	// justify-content: space-between;
	// 	align-items: flex-start !important;
	// 	flex-direction: column;
	// 	@include breakpoint(medium) {
	// 		flex-direction: row;
	// 	}
	// }

	.menu.submenu {

		li {
			// margin: 0 0.5rem;
			// border-bottom: 2px solid transparent;
			transition: background .25s ease-in-out;
			a {
				// padding: 0.5rem;
				color: $dark-gray;
				transition: color .25s ease-in-out;
			}
			&:hover, &.is-active {
				a {
					color: $body-font-color;
				}
				background: $light-gray;
			}
			&.is-active {
				a {
					font-weight: $global-weight-bold;
				}
			}
			// &.is-active {
			// 	a {

			// 	}
			// 	border-bottom: 2px solid $primary-color;
			// }
		}
	}
	label.text-left {
		text-align: left;
	}
	input, select {
		&[disabled] {
			background-color: darken($white, 5%);
		}	
	}
	.currency {
		text-transform: uppercase;
		font-weight: $global-weight-bold;
		.label {
			border-radius: 4px;

		}
	}
	.payment-methods {
		display: flex;
		flex-direction: row;
	}

	// .callout {
		// .header {
		// 	font-weight: $global-weight-bold;
		// 	border-bottom: $global-border;
		// 	padding-bottom: 0.1rem;
		// 	margin-bottom: 1.5rem;
		// }
	// }
	.icon {
		$size: 32px;
		margin-right: 0.5rem;
		width: $size;
		height: $size;
		svg {
			width: $size;
			height: $size;
		}
	}

	
	
	// .payout-schedule-container {
		// margin: 1rem 0;
		// font-size: 95%;
		// font-weight: $global-weight-bold;
	// 	.button {
	// 		margin: 0;
	// 	}

	// }
	.payout-schedule, .bank-account, .default-currency {
		// padding: 0.5rem;
		@include breakpoint(medium) {
			// padding: 0.5rem 1rem;
		}
		// border: $global-border;
	}
	// .payout-schedule {
	// 	@include wrap-text;
	// 	border-radius: $global-radius;
	// 	select {
	// 		max-width: 100%;
	// 		margin-bottom: 0;
	// 	}
	// 	// margin-bottom: 1rem;
	// }
}

#sulo-activate-account-form {
	small {
		color: $body-font-color;
	}
	label {
		font-size: 90%; 
		color: $dark-gray;
		@include breakpoint(medium) {
			text-align: right;
		}
	}
	input, select {
		max-width: 25rem;
		// margin: 0;
		&[disabled] {
			background: $white;
			font-weight: $global-weight-bold;
		}
	}
	select {
		max-width: 10rem;
	}
	.section-title {
		&:first-child {
			margin-top: 0;
		}
		// font-weight: $global-weight-bold;
	}
	.menu.section-list {
		margin-bottom: 4rem;
		&:last-child {
			margin-bottom: 1rem;
		}
		li {
			border: none;
		}
		.row {
			margin-top: 1rem;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.action-buttons {
		.button {
			margin-bottom: 0;
		}
	}
	.document-upload-container {
		label {
			text-align: left;
		}
		p {
			margin-bottom: 0;
		}
	}
		.document-uploader {
			label {
				@include button;
				// @include button-hollow;
				// @include button-hollow-style($secondary-color);
				margin-right: 1rem;
				// @extend .button;
				flex: 0;
				text-align: left;
				border: 1px solid $secondary-color;
			}
		}
	// }
	// p a {
	// 	text-decoration: underline; 
	// }
	// .business-type {
	// 	label {
	// 		color: $black;
	// 		font-weight: $global-weight-normal;
	// 	}
	// }
	// .callout > .row {
	// 	margin-bottom: 1rem;
	// 	.row {
	// 		margin-bottom: 1rem;
	// 	}
	// }
	.callout.alert {
		padding: 1rem;
	}
}