// @mixin action-button($color, $button-fill) {
// 	@each $name, $color in $foundation-palette {
//       @if $button-fill != hollow {
//         &.#{$name} {
//           @include button-style($color, auto, auto);
//         }
//       }
//       @else {
//         &.#{$name} {
//           @include button-hollow-style($color);
//         }
//       }
//     }
// }

// @mixin sulo-action-buttons {
// 	@include foundation-button;
// 	.button {
// 		$color: map-get($foundation-palette, action);
// 		&:not(.hollow) {
// 			@include action-button($color, solid);
// 			@include button-style($color, auto, auto);
// 		}
// 		&.hollow {
// 			@include action-button($color, hollow);
// 			@include button-hollow-style($color);
// 			// border: none;
// 		}
// 	}
// }

// $dashboard-max-width: 100%;
// $dashboard-primary-color: map-get($foundation-palette, action);
// $dashboard-background: rgba($light-gray, 0.5);
// $dashboard-content-width: 54rem;

#sulo-store-dashboard {
	.page-container {
		background: $dashboard-background;
	}
	.navbar, footer, .footer .row, .row {
		max-width: $dashboard-max-width;
	}
	.callout label {
		@include breakpoint(large) {
			text-align: right;
		}
	}
	.footer {
		display: none;
	}
	.page-content .callout .callout {
		border: none;
		// padding: 0;
	}
	h2 {
		font-family: $header-font-family-serif;
		color: $dark-gray;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
	}
	h3 {
		text-transform: none;
		margin-top: 0.5rem;
		color: $dark-gray;
		font-size: 120%;
		@include breakpoint(medium) {
			font-size: 130%;
		}	
	}
	.section-title {
		margin-left: 0.5rem;
	}
	#sulo-navbar .navbar-container {
		box-shadow: none;
		border-bottom: $global-border-secondary;
		// background: map-get($foundation-palette, action);
	}
	#sulo-navbar, #store-navbar {
		li.menu-text {
			color: $dark-gray;
			font-weight: normal;
			font-size: 90%;
			@include breakpoint(medium) {
				font-size: 120%;
			}
		}
	}

	#sulo-navbar {
		.top-bar {
			ul {
				font-size: 100%;
			}
			.top-bar-right {
					@include breakpoint(large) {
						font-size: 120%;
					}
				}
		}
		// position: absolute;
		.top-bar-left {
			ul {
				// font-size: 120%;
				li {
					border: none;
					.store-name {
						// font-size: 120%;
					}
				}
				li:first-child {
					border-right: $global-border;
				}
				li:last-child {
					border-left: $global-border;
				}
			}
		}
	}
	#store-navbar {
		$background: map-get($foundation-palette, secondary);
		background: $white;
		border-bottom: $global-border-secondary;
		a {
			transition: color .25s ease-in-out;
			color: $dark-gray;
			font-size: 0.9rem;
		}
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $subnav-height;
		@include breakpoint(large) {
			position: fixed;
			top: $navbar-height;
			z-index: $subnavbar-zindex;
		}
		.navbar {
			max-width: $dashboard-max-width;
			margin: 0 auto;
			height: 100%;
		}
		ul, li {
			height: 100%;
			display: flex;
			align-items: center;
		}
		ul:not(.breadcrumbs) {
			li {
				border-bottom: 3px solid transparent;
				margin-right: 1rem;
				transition: border-color .25s ease-in-out;
			}
			li:not(.menu-text) {
				&:hover, &.is-active {
					$border-color: map-get($foundation-palette, primary);
					border-bottom: 3px solid $border-color;
					a {
						color: $black;
					}
				}
				&.is-active {
					a {
						font-weight: $global-weight-bold;
					}
				}
			}
		}
		ul.breadcrumbs {
			margin: 0 1rem;
		}
	}

	.page-content {
		// @include sulo-action-buttons;

		// h3 {
		// 	margin-top: 0;
		// }
		padding-top: 5rem;
		@include breakpoint(large) {
			padding-top: 5rem;
		}
		.wip-label {
			margin-top: -2.5rem;
			position: absolute;
		}

		.photo-section {
			padding: 1rem 0;
			.upload-button {
				margin: 0;
			}
		}
		.photo-uploader {
			label {
				display: none;
			}
		}
		.overlay-container {
			.overlay {
				background: rgba($white, 0.75);
				.content {
					margin: 0 auto;
				}
			}
		}
		.upload-button {
			position: relative;
			width: 100%;
			padding-top: 100%;
			> * {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				position: absolute;
			}
		}
	}
}

