@mixin action-button($color, $button-fill) {
	@each $name, $color in $foundation-palette {
      @if $button-fill != hollow {
        &.#{$name} {
          @include button-style($color, auto, auto);
        }
      }
      @else {
        &.#{$name} {
          @include button-hollow-style($color);
          border: none;
        }

        // &.#{$name}.dropdown::after {
        //   border-top-color: $color;
        // }
      }
    }
}

@mixin sulo-action-buttons {
	$primary-color: map-get($foundation-palette, action);
	@include foundation-button;
	.button {
		$color: map-get($foundation-palette, action);
		&:not(.hollow) {
			@include action-button($color, solid);
			@include button-style($color, auto, auto);
		}
		&.hollow {
			@include action-button($color, hollow);
			@include button-hollow-style($color);
			border: none;
		}
		// margin: 0;
	}
}
#sulo-store-dashboard {
	.row {
		max-width: 80rem;
	}
	#sulo-navbar {
		position: absolute;
	}
	.page-content {
	@include sulo-action-buttons;
	h3 {
		margin: 0;
	}
	padding-top: 3rem;
	// .menu.store-nav {
		// margin: 2rem 0;
	// }
	.callout {
		box-shadow: 0 1px 3px 0 rgba($black, 0.1);
		padding: 0.5rem;
		@include breakpoint(medium) {
			padding: 2rem;
		}
	}
	.photo-section {
		padding: 1rem 0;
		.upload-button {
			margin: 0;
		}
	}
	.photo-uploader {
		label {
			display: none;
		}
	}
	.overlay-container {
		.overlay {
			background: rgba($white, 0.75);
			.content {
				margin: 0 auto;
			}
		}
	}
	.upload-button {
		position: relative;
		width: 100%;
		padding-top: 100%;
		> * {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			position: absolute;
		}
	}
	tr {
		// padding: 1rem 0;
		border-top: 1px solid rgba($light-gray, 0.3);
		&:first-child {
			border-top: none;
		}
		input[type="checkbox"] {
			margin: 0;
		}
	}
}
	.page-container {
		$color: map-get($foundation-palette, primary);
		background: rgba($color, 0.03);
	}
	.navbar, footer, .footer .row {
		max-width: 100%;
	}
}
