#sulo-store-dashboard {
	.section-title {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 0.5rem;
		margin-top: 2rem;
		h1 {
			margin: 0;
		}
		.button {
			margin-bottom: 0;
		}

		div:last-child {
			display: flex;	
		}
	}
	.button {
		i:last-child {
			margin-left: 0.5rem;
		}
		i:first-child {
			margin-right: 0.5rem;
		}
	}
	#sulo-store-edit {
		label {
			text-align: left;
		}
		h1 {
			margin-left: 0.5rem;
		}
		> h1:first-child {
			margin-top: 0;
		}
	}
	#sulo-store.edit-store {
		// @include foundation-button;
		max-width: $global-width;
		padding: 0;
		// margin-top: -2.5rem;
		// border: $global-border;

		.section-error {
			text-align: center;
		}
		// .section-title {
		// 	p {
		// 		display: inline-block;
		// 	}
		// }
		.callout {
			@include breakpoint(large) {
				padding: 1rem;
			}
		}
		.row {
			max-width: $dashboard-content-width;
			margin-left: auto;
			margin-right: auto;
			&.expanded {
				max-width: $dashboard-max-width;
			}
			.photo.cover {
				border: $global-border;
			}
		}
		.product-item, .photo-container .overlay {
			// transition: all .25s ease-in-out;
			// position: relative;
			&:hover {
				// box-shadow: 0 0 10px 3px $dashboard-primary-color;
			}
		}

		a.open-edit {
			border: 1px solid transparent;
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			transition: border .25s ease-in-out, box-shadow .25s ease-in-out;
			// border-color: transparent: 
			&:hover {
				border: $global-border;
				box-shadow: 0 0 5px $medium-gray;
				color: $black;
			}
		}

		.policies {
			.column {
				display: flex;
				flex-direction: column;
				&:first-child {
					.sl-quill-editor-container {
						// height: 100%;
						min-height: 23.5rem;
						transition: min-height .25s ease-in-out;
						justify-content: flex-start;

						&.disabled {
							min-height: 13.5rem;
						}
					}
				}
			}
			input {
				color: $dark-gray;
			}
			.editable {
				input {
					color: $black;
				}
			}
			@include breakpoint(medium) {
				.column:first-child {
					padding-right: 1rem;
				}
				.column:last-child {
					padding-left: 1rem;
				}
			}
		}

		.product-sections-container {
			.section-title {
				div {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-end;
					.button:first-child {
						margin-right: 0.5rem;
					}
				}
			}
		}

		.product-section-menu {
			// border-bottom: $global-border;
			margin-bottom: 2rem;
			flex-wrap: wrap;
			li {
				// border-right: $global-border;
				border-bottom: $global-border;
				&:first-child {
					border-right: $global-border;
				}
				a {
					color: $dark-gray;
					&:hover {
						color: $black;
					}
				}
				&.is-active {
					a {
						color: $black;
						font-weight: $global-weight-bold;
					}
				}
			}
		}

		.edit-sections-menu {
			margin-bottom: 1rem;
			.edit-sections-item {
				border-bottom: $global-border;
				padding: 0.5rem 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				> * {
					flex: 0 0 auto;
				}
				input {
					width: 15rem;
					max-width: 50%;
				}
			}
		}

		.content-item {
			padding-top: 0;
			// padding-bottom: 0.5rem;
			// border: $global-border;
			.text {
				padding: 0 0.5rem;
				justify-content: flex-start;
				font-size: 80%;
			}
			.edit-item-menu {
				justify-content: stretch;
				border-top: $global-border;
				margin-top: 0.5rem;
				li {
					flex: 1 0 auto;
					border-right: $global-border;
					&:last-child {
						border-right: none;
					}
					a {
						color: $dark-gray;
						&:hover {
							color: $black;
						}
						justify-content: center;
					}
				}
			}
			// .edit-item-
		}
	}
}