#sulo-store-dashboard {
	#sulo-main-dashboard {
		max-width: $global-width;
		margin: 0 auto;
		.photo-container {
			max-width: 12rem;
			margin: 0 auto;
			margin-bottom: 1rem;
		}
		> .row.collapse {
			@include breakpoint(medium) {
				> .column {
					margin: 0 1rem;
					&:last-child {
						margin-right: 0;
					}
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.section-info {
			.store-info-menu {
				a {
					display: flex; 
					justify-content: space-between;
				}
			}
			li {
				border-top: $global-border;
				&:last-child {
					border-bottom: $global-border;
				}
			}
		}
		.stream-status {
			@include label-hollow;
			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0;
				.label {
					cursor: pointer;
					text-transform: uppercase;
				}
			}
		}

		li.getting-started-item {
			padding: 0;
			// $sulo-color: darken(map-get($foundation-palette, sulo), 10%);
			&:hover {
				background: rgba($light-gray, 0.2);
			}
			p {
				margin-bottom: 0;
				font-weight: $global-weight-bold;
			}
			i {
				opacity: 0;
			}
			a {
				color: $body-font-color;//$sulo-color;
			}
			&.done {
				// pointer-events: none;
				p {
					font-weight: $global-weight-normal;
				}
				i {
					opacity: 1;
					color: $medium-gray;
				}
				span {
					color: $medium-gray;
					text-decoration: line-through;
				}
			}
		}

		.callout.getting-started {
			// background: map-get($foundation-palette, sulo);
		}
	}
}