.sl-orderstatus {
	font-weight: $global-weight-bold;
	font-size: 80%;
	border: $global-border;
	$color: map-get($foundation-palette, primary);
	color: $color;
	border-color: $color;
	padding: $label-padding;
	border-radius: $global-radius;
	&.sl-orderstatus--canceled, 
	&.sl-orderstatus--returned {
		border-color: $dark-gray;
		color: $dark-gray;
	}
}

.sl-orderlist {
	$action-color: map-get($foundation-palette, action);
	.sl-orderlist-row {
		.sl-orderlist-cell--price, 
		.sl-orderlist-cell--icon {
			color: $action-color;
			font-weight: $global-weight-bold;
		}
		.sl-orderlist-cell--icon {
			width: 3rem;
		}
		&.sl-orderlist-row--returned, 
		&.sl-orderlist-row--canceled {
			color: $dark-gray;
			.sl-orderlist-cell--price,
			.sl-orderlist-cell--icon {
				color: inherit;
			}
		}
		&:hover {
			color: darken($primary-color, 10%);
			.sl-orderlist-cell--price,
			.sl-orderlist-cell--icon {
				color: inherit;
			}
			.sl-orderstatus {
				color: inherit;
				border-color: darken($primary-color, 10%);;
			}
		}
	}
}

#sl-order-list, #sulo-edit-order {
	max-width: $global-width;
	margin: 0 auto;
}

#sulo-edit-order {
	label {
		text-align: left !important;
	}
	.shipping-address {
		// border: $global-border;
		// padding: 0.5rem;
		label {
			text-align: left;
		}
	}
	h3 {
		color: $body-font-color;
	}
	// h2 {
		// small {
		// 	font-family: $header-font-family-sans-serif;
		// }
	// }
	.callout > .row:first-child {
		margin-bottom: 1rem;
	}
	.breadcrumbs {
		margin-top: -1rem;
	}
	.order-action {
		border: 1px solid $light-gray;
		height: 100%;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> div{
			display: flex;
			align-items: center;
		}
		.button {
			margin: 0;
			i {
				margin: 0;
			}
		}
		i {
			margin-right: 1rem;
			color: $dark-gray;
		}
	}

	.section-list {
		li {
			padding: 0.5rem 0;
			.order-item-info {
				display: flex;
				align-items: flex-start;
			}
			.photo-container {
				// flex: 0;
				max-width: 3rem;
				min-width: 3rem;
				width: 3rem;
			}
		}
		li.secondary-items {
			font-size: 80%;
			padding: 0.5rem;
			p {
				margin: 0;
			}
		}
	}

	.total-price {
		font-size: 120%;
	}
	.action-buttons {
		
	}
	// .sl-OrderItemlist-row {
	// 	p {
	// 		margin-bottom: 0;
	// 	}
	// 	border: none;
	// 	.sl-OrderItemlist-cell--price {
	// 		font-weight: $global-weight-bold;
	// 	}
	// 	&.sl-OrderItemlist-row--shipping, 
	// 	&.sl-OrderItemlist-row--tax {
	// 		font-size: 85%;
	// 		border: none;
	// 	}
	// 	&.sl-OrderItemlist-row--shipping {
	// 		// border-top: $global-border-secondary;
	// 	}
	// }
	// .tfoot {
	// 	.sl-OrderItemlist-row {
	// 		border-bottom: $global-border;
	// 	}
	// 	.sl-OrderItemlist-row--fee {
	// 		font-weight: $global-weight-normal;
	// 		background: $white;
	// 		.td {
	// 			font-weight: inherit;
	// 		}
	// 		.dropdown-trigger {
	// 			display: inline-block;
	// 			&:hover, &:focus {
	// 				.dropdown-pane {
	// 					display: block;
	// 				}
	// 			}
	// 		}
	// 		.dropdown-pane {
	// 			p {
	// 				display: flex;
	// 				justify-content: space-between;
	// 				margin-bottom: 0.2rem;
	// 			}
	// 			max-width: 90%;
	// 		}
	// 	}
	// }
}