.sl-orderstatus {
	font-weight: $global-weight-bold;
	// text-transform: uppercase;
	// border: $global-border;
	$color: map-get($foundation-palette, warning);
	// padding: 0.25rem 0.5rem;
	// font-size: 90%;
	&.sl-orderstatus--canceled, 
	&.sl-orderstatus--returned {
		color: $dark-gray;
	}
	&.sl-orderstatus--paid, &.sl-orderstatus--created {
		color: map-get($foundation-palette, warning);
	}
	&.sl-orderstatus--fulfilled {
		color: map-get($foundation-palette, primary);
	}
}

#sl-order-list, #sulo-edit-order {
	max-width: $global-width;
	margin: 0 auto;
	label {
		text-align: left !important;
	}
}

#sulo-edit-order {
	.go-back {
		padding-top: 1rem;
		padding-left: 0.5rem;
		font-weight: $global-weight-bold;
		font-size: 90%;
		a {
			transition: color .25s ease-in-out;
			color: $dark-gray;
			&:hover  {
				color: $body-font-color;
			}
		}
	}
	.sl-orderstatus {
		// font-size: 130%;
		font-weight: $global-weight-normal;
		margin-right: 1rem;
	}
	
	.shipping-address {
		// border: $global-border;
		// padding: 0.5rem;
		label {
			text-align: left;
		}
	}
	h2 {
		color: $body-font-color;
		margin-bottom: 1rem;
	}
	// h2 {
		// small {
		// 	font-family: $header-font-family-sans-serif;
		// }
	// }
	.callout > .row:first-child {
		margin-bottom: 1rem;
	}
	.breadcrumbs {
		margin-top: -1rem;
	}
	.order-action {
		border: 1px solid $light-gray;
		height: 100%;
		padding: 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> div{
			display: flex;
			align-items: center;
		}
		.button {
			margin: 0;
			i {
				margin: 0;
			}
		}
		i {
			margin-right: 1rem;
			color: $dark-gray;
		}
	}

	.section-list {
		li {

			padding: 0.5rem 0;
			.order-item-info {
				display: flex;
				align-items: flex-start;
			}
			.photo-container {
				// flex: 0;
				max-width: 3rem;
				min-width: 3rem;
				width: 3rem;
				margin-right: 0.5rem;
			}
		}
		li.secondary-items {
			font-size: 80%;
			padding: 0.5rem;
			p {
				margin: 0;
			}
		}
	}

	.total-price {
		font-size: 120%;
	}
	.action-buttons {
		
	}
}