#sulo-edit-product {
	max-width: $dashboard-content-width;
	margin: 0 auto;
	h3 {
		@include wrap-text;
		small {
			text-transform: none;
		}
	}

	// a small {
	// 	padding: $global-padding 0;
	// 	color: $dark-gray;
	// }
	.input-sku-group {
		.button {
			border: none;
			font-weight: $global-weight-normal;
			padding: 0.85rem 0;
		}
	}

	input[type="number"], select, .Select {
		max-width: 20rem;
	}
	.Select, select {
		margin-bottom: 0;
		&#input-main-inventory {
			margin-bottom: 1rem;
		}

	}
	.breadcrumbs {
		margin-top: -0.5rem;
	}

	.photo-container {
		.overlay {
			background: rgba($white, 0.5);
		}
	}
	.empty-photo {
		position: relative;
		border: $global-border;
		width: 100%;
		padding-top: 100%;
		color: $medium-gray;
		transition: all .25s ease-in-out;
		&:hover {
			cursor: pointer;
			color: $dark-gray;
			border-color: $dark-gray;
		}
		> div {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}
	}
	.photo-uploader {
		label {
			display: none !important;
		}
	}
	label[for] {
		color: $body-font-color;
	}
	.create-another-checkbox {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		input {
			margin: 0;
		}
		margin: $global-margin 0;
	}

}

#sulo-product-list {
	max-width: $global-width;
	margin: 0 auto;
	.callout.warning {
		// box-sizing: border-box;
		overflow: hidden;
		transition: opacity .25s ease-in-out;
		display: flex;
		align-items: center;
		opacity: 1;
		&.sl-invisible {
			opacity: 0;
		}
	}

	.callout.submenu {
		.button-item {
			flex: 1;
			text-align: right;
			// margin-bottom: 1rem;
		}
		.button {
			// flex: 0 0 auto;
			margin-bottom: 0;
			margin-left: 1rem;
			// display: block;
		}
		input {
			margin: 0;
		}
		li.search-input {
			padding-right: 0;
		}
		@include breakpoint(small only) {
			.menu {
				margin-bottom: 1rem;
			}
		}
	}

	.row {
		max-width: $dashboard-content-width;
		&.expanded {
			max-width: $dashboard-max-width;
		}
	}
	.row:first-child {
		.column:first-child {
			display: flex;
		}
	}
	.table, .tbody, .thead {
		border: none;
	}
	.tbody {
		font-size: 90%;
	}
	.tr {
		border-right: none;
		border-left: none;
	}
	.th {
		font-size: 80%;
		color: $dark-gray;
		&.text-right {
			text-align: right;
		}
	}
	.td:first-child {
		$width: 4rem;
		max-width: $width;
		width: $width;
	}
	.react-grid-layout {
		.react-grid-item {
			background: $white;
			padding: 1rem;
			overflow: hidden;
			@include breakpoint(medium) {
				// padding: 2rem;
			}
			display: flex;
			flex-direction: column;
			box-shadow: 0 1px 4px 0 rgba($black, 0.2);
		}
		// &.editable {
		// 	.react-grid-item {
		// 		// padding-top: 0.5rem;
		// 	}

		// 	.content-item {
		// 		cursor: move;
		// 	}
		// }
		.content-item {
			// flex: 0 0 auto;
			cursor: move;
			max-width: 100%;
			width: 100%;
			// padding-top: 0;
			// max-width: rem-calc(250);
			@include breakpoint(medium) {
				padding: 1rem;
			}
			.button {
				// background: rgba($light-gray, 0.9);
				cursor: move;
				box-shadow: 0 1px 3px 0 rgba($black, 0.2);
			}

		}
	}
	.buttons {
		.button {
			margin-bottom: 0;
		}
	}
	.action-buttons {
		.button {
			margin-bottom: 0;
		}
	}
	.edit-sections-callout {
		.row {
			// flex-direction: column;
		}
		.button {
			margin: 0;
		}
		.edit-sections-menu {
			// margin-right: 0.5rem;
			// margin-bottom: 1rem;
		}
	}
	.product-section-menu {
		flex-wrap: wrap;
		// margin-right: 0.5rem;
		margin-bottom:  1rem;
		@include breakpoint(medium) {
			margin-bottom: 0;
			margin-right: 1rem;
		}
		li {
			&:first-child {
				border-right: $global-border;
			}
			a {
				color: $medium-gray;
				transition: color .25s ease-in-out;

				&:hover {
					color: $black;
				}
			}
			&.is-active {
				a {
					color: $black;
					font-weight: $global-weight-bold;
				}
			}
		}
	}
	.edit-sections-menu {
		margin-bottom: 1rem;
		.edit-sections-item {
			border-bottom: $global-border-secondary;
			&:first-child {
				border-top: $global-border-secondary;
			}
			a small {
				color: $dark-gray;
			}
			padding: 1rem 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			> * {
				flex: 0 0 auto;
			}
			input {
				width: 15rem;
				max-width: 50%;
			}
		}
	}
}