#sulo-start-store {
	$color: map-get($foundation-palette, sulo);
	h1 {
		font-family: $header-font-family-sans-serif;
		font-weight: $global-weight-bold;
		text-transform: none;
		@include breakpoint(large) {
			font-size: 250%;
		}
		color: $white;

		strong {
			font-style: normal;
			font-weight: bold;
			color: $white;
		}
	}
	.page-content-container {
		display: flex;
		flex-direction: column;
	}
	.page-content {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
	}
	.photo-container.cover {
		flex: 0;
		.overlay {
			background: rgba($color, 0.9);
		}
		.photo {
			padding-top: 50%;
			@include breakpoint(medium) {
				padding-top: 30%;
			}
			@include breakpoint(large) {
				padding-top: 20%;
			}
		}
	}
	.callout {
		border: none;
	}
	.success-message {
		color: darken(map-get($foundation-palette, success), 10%);
		// padding: 0.5rem;
		// font-weight: $global-weight-bold;
		// letter-spacing: 0.5px;
		font-weight: $global-weight-bold;
		font-size: 90%;
		// color: $dark-gray;
		text-align: center;
	}
	textarea {
		height: 8rem;
	}
	li.shopping-bag {
		display: none;
	}
	li > a.unauthed {
		pointer-events: none;
	}
	// li > a.category, li > a.navbar-live {
	// 	pointer-events: none;
	// }
}