#sulo-store {
	.callout {
		border: none;
	}
	.store-container {
		padding: 0.5rem 0;
		@include breakpoint(medium) {
			padding-bottom: 0;
		}
		a {
			margin: 0;
		}
		.row:last-child {
			margin: 1rem auto;
		}

		.photo-container.circle {
			max-width: 10rem;
			margin: 0 auto;
		}
		.store-name {
			margin-top: 1rem;
			text-align: center;
			@include breakpoint(medium) {
				margin-top: 0;
				text-align: left;
			}
		}
		.follow-section {
			margin-top: 1rem;
			@include breakpoint(medium) {
				margin-top: 0;
			}
		}
	}
	.quote-section {
		margin: 2rem 0;
		color: $dark-gray;
		font-style: italic;
	}
	#sulo-video {
		margin-bottom: 0;
		border: 1px solid $light-gray;
	}

	.stream-container {
		span {
			font-style: normal;
		}
		@include breakpoint(large) {
			padding: 0;
		}
	}
	#shop {
		ul.menu.navigation {
			font-weight: 500;
			border-top: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
		}
		.about {
			border-right: 1px solid $medium-gray;
		}

		.menu-container {
			// font-family: $header-font-family-serif;
			// text-transform: uppercase;
			font-weight: $global-weight-normal;
			// font-size: 90%;
			a {
				font-weight: $global-weight-normal;
				color: $dark-gray;
				&:hover {
					color: $black;
				}
			}
			.is-active {
				// background: rgba($black, 0.05);
				a {
					color: $black;
					font-weight: $global-weight-bold;
				}
			}
			.column {
				padding: 0;
			}
			.menu {
				padding: 1rem 0;
			}
		}
	}
}

.product-item {
	.reveal {
		top: 1rem;
		// vertical-align: middle;
	}
}

.orbit {
	li.orbit-slide {
		display: none;
		// max-height: 25rem;
		// height: 25rem;
		// position: relative;
		&.is-active {
			display: list-item;
		}
		// padding-top: 67%;
		img {
			// height: 100%;
			// width: 100%;
			// object-fit: contain;
		}
	}
	.orbit-bullets {
		button {
			width: 4rem;
		}
	}
}