#sulo-store {
	.callout {
		border: none;
	}
	.store-container {
		margin-bottom: 1rem;
		a {
			margin: 0;
		}
		.row {
			margin: 0 auto;
		}
		.row:last-child {
			margin-top: 1rem;
		}

		.photo-container.circle {
			max-width: 10rem;
			margin: 0 auto;
		}
		.store-name {
			margin-top: 1rem;
			text-align: center;
			@include breakpoint(medium) {
				margin-top: 0;
				text-align: left;
			}
		}
		.follow-section {
			margin-top: 1rem;
			@include breakpoint(medium) {
				margin-top: 0;
			}
		}
	}
	.tagline {
		color: $dark-gray;
		font-style: italic;
	}
	.quote-section {
		margin-bottom: 2rem;
		color: $dark-gray;
		font-style: italic;
	}
	#sulo-video {
		margin-bottom: 0;
		border: 1px solid $light-gray;
	}

	.stream-container {
		span {
			font-style: normal;
		}
		@include breakpoint(large) {
			padding: 0;
		}
	}
	#shop {
		.menu-container {
			overflow-x: scroll;
			border-top: 1px solid $light-gray;
			border-bottom: 1px solid $light-gray;
			&::-webkit-scrollbar {
     			height: 0;
			}
			&::-webkit-scrollbar-track {
      			background: transparent;
			}
			&::-webkit-scrollbar-thumb {
      			background: $primary-color;
			}
		}
		ul.menu.navigation {
			font-weight: 500;
			flex-wrap: wrap;
		}
		.about {
			border-right: 1px solid $medium-gray;
		}

		.menu-container {
			// font-family: $header-font-family-serif;
			// text-transform: uppercase;
			font-weight: $global-weight-normal;
			// font-size: 90%;
			a {
				font-weight: $global-weight-normal;
				color: $dark-gray;
				&:hover {
					color: $black;
				}
			}
			.is-active {
				// background: rgba($black, 0.05);
				a {
					color: $black;
					font-weight: $global-weight-bold;
				}
			}
			.column {
				padding: 0;
			}
			.menu {
				padding: 1rem 0;
			}
		}
	}
}