#sulo-stream-settings {
	.callout label {
		text-align: left;
	}

	.section-title {
		h1 {
			.label {
				font-size: 50%;
			}
		}
	}
	.stream-chat-container {
		position: relative;
	}
	>.row .column {
		display: flex;
		flex-direction: column;
	}
	.column .dashboard-section {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
	}

	.chat-container {
		display: flex;
		min-height: 25rem;
		flex-direction: column;
		flex: 1 0 auto;
		// padding: 0;
		// .callout {
		// 	display: flex;
		// 	flex: 1 0 auto;
		// }
		.chat-messages {
			flex: 1 0 auto;
		}
		.chat-content {

			flex: 1 0 auto;
			display: flex;
			flex-direction: column;
			padding: 0.5rem;
			border: 1px solid $light-gray;
		}
	}

	.setup-checklist {
		li {
			margin-bottom: 1rem;
			p {
				margin-bottom: 0.5rem;
			}
			a {
				color: map-get($foundation-palette, action);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.stream-status {
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			font-size: 1rem;
			@include breakpoint(medium) {
				font-size: 1.2rem;
			}
		}
		span.status {
			text-transform: uppercase;
		}
		i.status {
			font-size: 1.1rem;
			@include breakpoint(medium) {
				font-size: 1.5rem;
			}
			&.offline {
				color: $medium-gray;
			}
			&.online {
				color: $success-color;
			}
			&.live {
				color: map-get($foundation-palette, highlight);
			}
		}
		.button.hollow {
			margin: 0;
		}
	}
}
