$daterange-border-radius: 			5px;
$daterange-border-radius-top: 		$daterange-border-radius $daterange-border-radius 0 0;
$daterange-border-radius-right: 	0 $daterange-border-radius $daterange-border-radius 0;
$daterange-border-radius-bottom: 	0 0 $daterange-border-radius $daterange-border-radius;
$daterange-border-radius-left: 		$daterange-border-radius 0 0 $daterange-border-radius; 

$daterange-ranges-width: 				160px;
// $daterange-option-border-radius: 		100px;


$daterange-primary-color:				#0B2941;
$daterange-highlight-color: 			$orange;//#57BFBF;
$daterange-white:						#fefefe;

// Common colors
$daterange-border-color: 				rgba($daterange-primary-color, 0.2);
$daterange-input-border-color:			$daterange-border-color;
$daterange-input-focus-border-color:	rgba($daterange-input-border-color, 0.25);
$daterange-shadow-color:				rgba($daterange-primary-color, 0.1);
$daterange-button-close-color:			rgba($daterange-primary-color, 0.5);

// Element colors in range selection right menu
$daterange-option-bg: 					$daterange-white;
$daterange-option-color:				$daterange-primary-color;
$daterange-option-border-color:			$daterange-option-color;
$daterange-option-active-bg: 			$daterange-option-color;
$daterange-option-active-color: 		$daterange-option-bg;
$daterange-option-hover-color:			darken($daterange-option-color, 10%);

// Element colors in the calendars
$daterange-calendar-month-bg: 			rgba($light-blue, 0.05);//rgba($daterange-highlight-color, 0.05);
$daterange-calendar-month-color: 		rgba($daterange-primary-color, 0.7);
$daterange-calendar-week-bg: 			$daterange-calendar-month-bg;
$daterange-calendar-week-color: 		$daterange-calendar-month-color;

$daterange-calendar-date-bg: 				$daterange-white;
$daterange-calendar-date-color: 			$daterange-primary-color;
$daterange-calendar-date-today-bg:			$daterange-calendar-date-bg;
$daterange-calendar-date-today-color:		#ED9C40;
$daterange-calendar-date-off-bg: 			$daterange-calendar-date-bg;
$daterange-calendar-date-off-color: 		rgba($daterange-calendar-date-color, 0.25);
$daterange-calendar-date-in-range-bg: 		rgba($daterange-highlight-color, 0.1);
$daterange-calendar-date-in-range-color: 	$daterange-calendar-date-color;
$daterange-calendar-date-hover-bg: 			rgba($daterange-calendar-date-color, 0.1);
$daterange-calendar-date-hover-color: 		$daterange-primary-color;
$daterange-calendar-date-active-bg: 		$orange;//$daterange-calendar-date-color;
$daterange-calendar-date-active-color: 		$daterange-white;
