
.daterangepicker {
	.calendar {
		margin: 0 0.25rem;

		.date_input {
    		position: relative;
    		display: flex;
    		align-items: center;
    		input {
      			margin: 0 0 5px 0;
      			padding: 0 6px 0 28px !important;
      			height: 2rem;
				border: 1px solid $daterange-input-border-color;
				width: 100%;
				border-radius: $daterange-border-radius;
				outline: none;
				&:focus {
					box-shadow: 0 0 3px $daterange-shadow-color;
					border-color: $daterange-input-focus-border-color;
				}
    		}
    		i {
      			position: absolute;
      			left: 8px;
    		}
  		}

		&.left {
		    .calendar-table {
		       	border-radius: $daterange-border-radius-left;
		    }
		}

		&.right {
		    .calendar-table {
		      	border-radius: $daterange-border-radius-right;
		    }
		}

		table {
			border: 1px solid $daterange-border-color;
			border-radius: $daterange-border-radius;
			border-collapse: separate;
			position: relative;
			overflow: hidden;
		}

		thead {
    		background: $daterange-white;
    		border: none;
    		&:after {
    			content: "";
    			margin-top: -1px;
    			border-top: 1px solid $daterange-border-color;
    			position: absolute;
    			left: 0;
    			right: 0;
    		}
  		}
  		tbody {
  			border: none;
  		}
		tr {
			background: $white !important;
		}
		th {
			background: $daterange-calendar-month-bg;
		    &.month {
		      text-align: center;
		      color: $daterange-calendar-month-color;
		      
		    }
		    &.week {
		      color: $daterange-calendar-week-color;
		      font-size: 80%;
		      background: $daterange-calendar-week-bg;
		    }
		 }

		th, td {
			text-align: center;
		    min-width: 2rem;
		    white-space: nowrap;
		    padding: 0.25rem;
		}

	    td {
	    	border-radius: $daterange-border-radius;
	    	color: $daterange-calendar-date-color;
	    	font-weight: 500;

	    	&.in-range {
	      		background: $daterange-calendar-date-in-range-bg;
	      		color: $daterange-calendar-date-in-range-color;
	      		border-radius: 0;
	    	}
	    	&.available:hover {
	      		cursor: pointer;
	      		background: $daterange-calendar-date-hover-bg;
	      		color: $daterange-calendar-date-hover-color;
	    	}

	    	&.active, &.active:hover {
	    		background: $daterange-calendar-date-active-bg;
	    		border-color: transparent;
		    	color: $daterange-calendar-date-active-color;
		    	&.start-date.end-date {
		    		border-radius: $daterange-border-radius;
		    	}
		    	&.start-date {
		    		border-radius: $daterange-border-radius-left;
		    	}
		    	&.end-date {
		    		border-radius: $daterange-border-radius-right;
		    	}
	    	}
	    	&.off {
	    		background: $daterange-calendar-date-off-bg;
	      		border-color: transparent;
	      		color: $daterange-calendar-date-off-color;
	    	}
			&.today, &.today:hover {
				color: $daterange-calendar-date-today-color;
			}
	  	}
	}
}