.daterangepicker {
	.ranges {
		margin: 0 0.25rem;
	    width: $daterange-ranges-width;
	    ul {
	    	list-style-type: none;
	    	margin: 0;
	    	flex-grow: 1;
	    }

	    li {
	    	border-radius: 0;
	    	background: $daterange-option-bg;
	    	border: 1px solid $daterange-option-border-color;
	    	border-top: 1px none transparent;
	    	padding: 0.25rem;
	    	text-align: center;
	    	color: $daterange-option-color;
	    	font-size: 0.9rem;
	    	// margin-bottom: 0.25rem;
	    	transition: all 0.25s ease-out;

	    	&.active {
	    		background: $daterange-option-active-bg;
	    		color: $daterange-option-active-color;
	    	}
	    	&:hover {
	    		border-color: $daterange-option-hover-color;
	    		color: $daterange-option-hover-color;
	    		cursor: pointer;
	    		&.active {
	    			background: $daterange-option-hover-color;
	    			color: $daterange-option-active-color;
	    		}
	    	}
	    	&:first-child {
	    		border-top: 1px solid $daterange-option-border-color;
	    		border-radius: $daterange-border-radius-top;
	    	}
	    	&:last-child {
	    		border-radius: $daterange-border-radius-bottom;
	    	}
	    }

	    .action_bar {
    		display: flex;
    		flex-direction: row;
    		align-items: center;
    		a {
      			margin: 0.5rem;
    		}
    		.apply {
    		}
    		.close {
    			// position: absolute;
    			// z-index: 1;
    			// right: 1rem;
    			// bottom: 	1rem;
      		color: $daterange-button-close-color;
    		}
  		}
	}
}