$navbar-height: 56px;

html, body {
	min-height: 100%;
	width: 100%;
}

.reveal-overlay {
	display: block;
	.reveal {
		display: block;
	}
}

$footer-height-small: 6rem;
$footer-height: 4rem;

.page-container {
	min-height: 100%;
	position: relative;
}

.page-content {
	padding-bottom: $footer-height-small;
	padding-top: $navbar-height;
	@include breakpoint(medium) {
		padding-bottom: $footer-height;
	}
}

.footer {
	footer {
		margin: auto 0;
		height: 100%;
	}
	width: 100%;
	position: absolute;
	bottom: 0;
	height: $footer-height-small;
	@include breakpoint(medium) {
		height: $footer-height;
		padding-top: 0.75rem;
	}
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 500;
}

.content-item {
	padding-top: 1.5rem;
	text-align: left;
	@include breakpoint(large) {
		padding: 1.5rem;
	}
	display: flex;
	flex-direction: column;

	.content-item-title-section {
		span, a {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		padding-top: 1rem;
		display: flex;	
		flex-direction: column;
		@include breakpoint(large) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	.content-item-subtitle-section {
		display: flex;
		flex-direction: column;
		@include breakpoint(large) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	.user-rating-container {
		font-size: 0.9rem;
	}

	.viewers-container {
		margin-left: 0.2rem;
		display: flex;
		flex-wrap: nowrap;
	}
}
