
html, body {
	overflow-x: hidden;
	min-height: 100%;
	width: 100%;
	overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
}

.reveal-overlay {
	display: block;
	.reveal {
		display: block;
		top: 2rem;
		margin-bottom: 2rem;
	}
}

.dropdown-pane {
	visibility: hidden;
	@include breakpoint(medium) {
		visibility: visible;
	}
	right: 0;
	box-shadow: 1px 1px 3px 0 rgba($black, 0.5);
}

$footer-height-small: 8rem;
$footer-height: 4rem;

@mixin sulo-anchor {
	@each $name, $color in $foundation-palette {
		&.#{$name} {
			color: $color;
		}
    }
}
a {
	@include sulo-anchor;
}
.sulo-page {
	height: 100vh;
}
.page-container {
	min-height: 100%;
	position: relative;
}

.page-content {
	padding-bottom: $footer-height-small + 2rem;
	// padding-top: $navbar-height;
	@include breakpoint(medium) {
		padding-bottom: $footer-height;
	}
}

.footer {
	background: $navbar-background-color;//$header-background-color;
	color: map-get($foundation-palette, nude);//$body-background;
	a {
		color: $body-background;
	}
	footer {
		max-width: 65rem;
		margin: auto auto;
		height: 100%;
		a {
			// color: map-get($foundation-palette, brown);
		}
	}
	width: 100%;
	position: absolute;
	bottom: 0;
	height: $footer-height-small;
	@include breakpoint(medium) {
		height: $footer-height;
		padding-top: 0.75rem;
	}
}
