
#sulo-shopping-bag {
	.button {
		margin: 0;
	}
	.page-content {
		padding-top: 2rem;
		.callout {
			border: $global-border;
		}
	}
	.cart-checkout-item {
		.menu {
			border-top: $global-border;			
			border-bottom: $global-border;
			li {
				border-top: $global-border-secondary;
				&:first-child {
					border: none;
				}
				padding: 0.5rem 0;
			}
		}
	}

	a.name {
		margin-bottom: 2%;
		max-height: 4.5rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.5;
		text-overflow: ellipsis;
		span {
			line-height: 1.5;
		}
	}


	.cart-empty, .cart-loading {
		padding: 1.5rem;
		h5 {
			margin-top: 2rem;
		}
		padding: 2.5rem;
	}
	
	.cart-loading {
		color: rgba($black, 0.2);
	}

	span.price {
		font-weight: bold;
	}
	.price-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

