
#sulo-shopping-bag {
	.row {
		max-width: $dashboard-content-width;
		margin: 0 auto;
	}
	.page-container {
		background: $dashboard-background;
		.page-content {
			padding-bottom: 0;
		}
	}
	h1 {
		margin-top: 2rem;
	}
	.cart-empty .icon {
		height: auto;
		width: auto;
		display: block;
		svg {
			height: 200px;
		}
	}

	.cart-checkout-item {
		margin-bottom: 2rem;
		&:last-child {
			margin-bottom: 6rem;
		}
		.button {
			margin: 0;
		}
		.menu {
			border-top: $global-border;			
			border-bottom: $global-border;
			li {
				border-top: $global-border-secondary;
				&:first-child {
					border: none;
				}
				padding: 0.5rem 0;
			}
		}
	}

	.store-container {
		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			.photo-container {
				width: 4rem;
			}
			margin-bottom: $global-margin;
		}
	}
	a.name {
		max-height: 4.5rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.5;
		text-overflow: ellipsis;
		span {
			line-height: 1.5;
		}
	}
	span.variation {
		font-size: 85%;
		color: $dark-gray;
	}
	.callout.featured {
			margin: 0;
			margin-top: 4rem;
		}

	.cart-empty, .cart-loading {
		padding-bottom: 4rem;
		&.callout {
			border: none;
		}
	}
	
	.cart-loading {
		color: rgba($black, 0.2);
	}

	span.price {
		font-weight: bold;
	}
	.price-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.sl-productlist-item--cell {
		.button.hollow {
			border: none;
			font-weight: $global-weight-normal;
		}
		.photo-container {
			width: 3rem;
		}
	}

	.total-price {
		font-size: 110%;
		margin-top: 0.5rem; 
	}
	.callout.warning {
		flex: 0 0 auto;
		text-align: center;
		margin-top: 0.5rem;
	}
	.new-arrival-item {
		// background: $white;
		padding-bottom: $global-padding;
	}
}

