.callout.transparent {
	border: none;
}
#sulo-checkout {
	.page-container {
		$color: map-get($foundation-palette, primary);
		background: rgba($color, 0.03);
		.page-content .callout {
			box-shadow: 0 1px 3px 0 rgba($black, 0.1);
		}
	}
	.callout .callout {
		box-shadow: none;
	}
	.row.collapse {
		// .column {
		// 	padding-right: 1rem;
		// 	&:last-child {
		// 		padding-right: 0;
		// 	}
		// }
		.button {
			margin: 0;
		}
	}
	.cart-checkout-item {
		.item.callout {
			margin: 0;
			// border-top: 1px solid $light-gray;
			border-top: 1px solid $light-gray;
			box-shadow: none;
			// margin-bottom: 1rem;
		}
	}
	h3 {
		// margin-top: 4%;
	}
	a.name {
		margin-bottom: 2%;
		max-height: 4.5rem;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		line-height: 1.5;
		text-overflow: ellipsis;
		span {
			line-height: 1.5;
		}
	}
	h3 {
		text-transform: uppercase;
	}
	
	// input {
		// margin: 0; 
	// }
	.callout {
		> .row > .column:first-child {
			// border-right: 1px solid $medium-gray;
		}
		table {
			margin-top: 2rem;
			tbody {
				border: none;
				td {
					padding: 0;
					padding-bottom: 0.25rem;
				}
			}
			// $border-color: $dark-gray;//map-get($foundation-palette, success);
			// $border: 1px solid rgba(10,10,10,0.1);
		}
	}
	tbody {
		background-color: transparent;
	}
	tr {
		$border-color: $black;
		$border: 1px solid rgba($border-color, 0.05);
		background: transparent;
		&.total-price {
			border-top: $border;
			font-weight: bold;
		}
	}

	.cart-empty, .cart-loading {
		padding: 1.5rem;
		h5 {
			margin-top: 2rem;
		}
		padding: 2.5rem;
	}
	.cart-loading {
		color: rgba($black, 0.2);
	}

	span.price {
		font-weight: bold;
	}
	.price-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.cart {

	.content-item-title-section, .content-item-subtitle-section {
		span, small, strong {
			// font-size: 0.8rem;
			color: $black;
			@include wrap-text(1.1, 1);
		}
	}

	.cart-link {
		display: flex;
		flex-direction: row;
		.photo-container {
			min-width: 25%;
			width: 25%;
			margin-right: 0.5rem;
			flex: 0;
		}
	}
}

.menu-dropdown {
	position: relative;
	.dropdown-pane {
		transition: visibility 0s linear 0.25s, opacity 0.25s linear;
		visibility: hidden;
		opacity: 0;
		.callout {
			box-shadow: none;
		}

		// li {
			// border-bottom: 1px solid $medium-gray;
		// }
		a:not(.button) {
			padding-right: 0;
			padding-left: 0;
		}
		li {
			transition: background .25s ease-in-out;
		}
		li:hover, li:focus {
			background: darken($white, 2%);
		}
	}
	&:hover, &:focus {
		.dropdown-pane {
			@include breakpoint(large) {
				visibility: visible;
				opacity: 1;
				transition-delay: 0s;
			}
		}
	}
}
