#sulo-checkout {
	$primary-color: map-get($foundation-palette, action);
	$border-color: rgba($light-gray, 0.75);
	$border: 1px solid $border-color;
	// @include sulo-action-buttons;
	.page-container {
		$color: map-get($foundation-palette, primary);
		background: rgba($color, 0.03);
		.page-content .callout {
			box-shadow: 0 1px 3px 0 rgba($black, 0.1);
		}
		.page-content {
			padding-top: 2rem;
		}
	}
	#navbar-brand {
		border-right: none;
	}
	hr {
		border-color: $light-gray;
		// padding: 1rem;
		// border-color: $light-gray;
		// box-shadow: none;
	}
	h3 {
		// font-family: $header-font-family-serif;
	}
	.section-title {
		letter-spacing: 1px;
		margin-bottom: 0.2rem;
		span {
			// color: $dark-gray;
			// margin-bottom: 1rem;
		}
		p {
			letter-spacing: 1px;
			font-size: 120%;
		}
	}

	.callout {
		.sl-CheckoutItemlist {
			padding: 1rem 0;
			border-top: $border;
			border-bottom: $border;
			margin-bottom: 0.5rem;
			p {
				margin: 0;
			}
			display: table;
			width: 100%;
			.sl-CheckoutItemlist-row {
				display: table-row;
				input {
					max-width: 4rem;
					// float: right;
				}
				.sl-CheckoutItemlist-cell {
					display: table-cell;
					vertical-align: top;
					padding: 0.5rem;
					font-size: 90%;
					&.sl-CheckoutItemlist-cell--photo {
						width: 3rem;
						padding: 0.5rem 0;
					}
				}
			}
		}
		.receipt {
			.row {
				padding-bottom: 0.5rem;
			}
			a {
				color: $primary-color;
				font-weight: $global-weight-bold;
			}
			font-size: 0.9rem;
			color: $dark-gray;
			.total {
				padding-top: 0.5rem;
				border-top: $border;
				font-size: 1rem;
				color: $black;
			}
		}
	}

	.checkout-payment {
		.button {
			margin: 0.5rem 0;
		}
	}
	.section-list {
		margin-bottom: 0.5rem;
	}

	.footer {
		background: transparent;
		.row {
			display: none;
		}
		.copyright {
			color: $dark-gray;
		}
	}

	.section-list--cards {
		.section-list-item--card, .section-list-item--new-card {
			padding: 0.25rem 0;
		}
	}
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
#sulo-card-element {
	@include form-element;
	margin-bottom: 0;
  &.StripeElement--invalid {
		$background: $input-error-color;
		$background-alpha: 0.025;
	    background-color: rgba($background, $background-alpha);
	    border-color: $background;
	}
}

#card-errors {
	// height: 1rem;
	color: $alert-color;
	margin-bottom: 0.5rem;
}

.StripeElement--focus {
  // box-shadow: 0 1px 3px 0 #cfd7df;
}


.StripeElement--webkit-autofill {
  // background-color: #fefde5 !important;
}


