#sulo-sell-coming-soon {
	.content .callout {
		background: rgba($white, 0.9);
	}
	p {
		&.success {
			text-transform: none;
			color: green;
		}
		&.alert {
			text-transform: none;
			color: red;
		}
	}
}
#sulo-coming-soon, #sulo-sell-coming-soon {
	.info-banner {
		$bg: lighten(map-get($foundation-palette, warning), 35%);
		background: rgba($bg, 0.85);
		// color: $white;
		font-weight: 500;
		border: none;
		box-shadow: 0px 1px 2px 0 rgba($black, 0.1);
		transition: height 0.25s ease-in-out, visibility 0s linear 0.25s, opacity 0.25s linear;
		&.invisible {
			opacity: 0;
		}
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
		// transition: visibility .25s ease-in-out;
	}
	.page-content-container {
		min-height: 100vh;
		display: flex;
	}
	.page-content {
		flex: 1;
		padding-bottom: 0;
		display: flex;
		> .photo.header {
			flex: 1;
			padding-bottom: 3%;
			// padding-top: 0;
			position: relative;
			.button {
				font-weight: bold;
				text-transform: none;
			}
		}
	}
	.footer {
		display: none;
	}

	.content .callout {
		hr {
			margin: 2rem 0;
		}
		padding: 2rem 1rem 2rem 1rem;
		@include breakpoint(medium) {
			padding: 2rem 3rem 2.5rem 3rem;
		}
		// margin-top: 3%;
		border: none;
		background: rgba($white, 0.85);
		text-transform: uppercase;
		&.transparent {
			background: transparent;
		}

		strong {
			text-transform: uppercase;
		}

		form {
			margin: 2rem auto 1rem auto;
		}
		.coming-soon {
			// text-transform: none;
			font-size: 1.2rem;
			@include breakpoint(medium) {
				font-size: 2rem;
			}
			@include breakpoint(large) {
				font-size: 1.8rem;
			}
		}
		p {
			text-transform: none;
		}
		h1 {
			line-height: 1.2;
			font-weight: normal;
			margin-bottom: 0;
		}
		h2 {
			font-weight: bold;

		}

		&.secondary {
			margin-top: 3%;
			// padding: 0.5%;
			background: rgba($black, 0.85);
			color: $white;
			font-size: 2rem;
			@include breakpoint(medium) {
				font-size: 2.5rem; 
			}
		}
	}

	.enter strong {
		font-size: 80%;
		text-transform: none;
	}

	#sulo-navbar {
		.dropdown-pane {
			display: none;
		}
		.category, .category a {
			color: $medium-gray;
			text-decoration: line-through;
		}
	}
}