#sulo-coming-soon {
	.page-content {
		min-height: 100vh;
		padding-bottom: 0;
		display: flex;
		> .photo.header {
			flex: 1;
			padding: 1%;
		}
	}
	.footer {
		display: none;
	}
	.callout {
		margin-top: 3%;
		border: none;
		background: rgba($white, 0.85);
		text-transform: uppercase;

		p {
			text-transform: none;
		}
		h1 {
			line-height: 1.2;
			font-weight: normal;
		}

		&.secondary {
			margin-top: 3%;
			// padding: 0.5%;
			background: rgba($black, 0.85);
			color: $white;
			font-size: 2rem;
			@include breakpoint(medium) {
				font-size: 2.5rem; 
			}
		}
	}

	.enter strong {
		font-size: 80%;
		text-transform: none;
	}

	#sulo-navbar {
		.dropdown-pane {
			display: none;
		}
		.category, .category a {
			color: $medium-gray;
			text-decoration: line-through;
		}
	}
}