#sulo-sell-coming-soon {
	.callout {
		background: rgba($white, 0.9);
	}
}
#sulo-coming-soon, #sulo-sell-coming-soon {
	.page-content-container {
		min-height: 100vh;
		display: flex;
	}
	.page-content {
		flex: 1;
		padding-bottom: 0;
		display: flex;
		> .photo.header {
			flex: 1;
			padding: 3%;
			.button {
				font-weight: bold;
			}
		}
	}
	.footer {
		display: none;
	}

	.callout {
		hr {
			margin: 2rem 0;
		}
		padding: 2rem 1rem 2rem 1rem;
		@include breakpoint(medium) {
			padding: 2rem 3rem 2.5rem 3rem;
		}
		// margin-top: 3%;
		border: none;
		background: rgba($white, 0.85);
		text-transform: uppercase;
		&.transparent {
			background: transparent;
		}

		strong {
			text-transform: uppercase;
		}

		form {
			margin: 2rem auto 1rem auto;
		}
		.coming-soon {
			// text-transform: none;
			font-size: 1.2rem;
			@include breakpoint(medium) {
				font-size: 2rem;
			}
			@include breakpoint(large) {
				font-size: 1.8rem;
			}
		}
		p {
			text-transform: none;
		}
		h1 {
			line-height: 1.2;
			font-weight: normal;
			margin-bottom: 0;
		}
		h2 {
			font-weight: bold;

		}

		&.secondary {
			margin-top: 3%;
			// padding: 0.5%;
			background: rgba($black, 0.85);
			color: $white;
			font-size: 2rem;
			@include breakpoint(medium) {
				font-size: 2.5rem; 
			}
		}
	}

	.enter strong {
		font-size: 80%;
		text-transform: none;
	}

	#sulo-navbar {
		.dropdown-pane {
			display: none;
		}
		.category, .category a {
			color: $medium-gray;
			text-decoration: line-through;
		}
	}
}