
$box-shadow: 0 0 5px 0 rgba($black, 0.2);
.content-item {
	padding-top: 1.5rem;
	.photo-container {
		margin-bottom: 0.5rem;
	}
	.text {
		a, small {
			@include wrap-text;
		}
		display: flex;
		justify-content: center;
	}

	&.stream-item {
		.photo-container {
			margin: 0;
		}
		.overlay-container {
			margin-bottom: 0.5rem;

			.overlay {
				// transition: background .2s ease-in-out;
				&:hover {
					// background: rgba($black, 0.5);
					.content .video {
						height: 5rem;
						width: 5rem;
						font-size: 1.5rem;
					}
				}
				.content {
					padding: $global-padding;
					display: flex;
					justify-content: center;
					.video {
						box-shadow: $box-shadow;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						height: 4rem;
						width: 4rem;
						transition: all .25s ease-in-out;
						background: rgba($white, 0.85);
					}
				}
			}
		}
	}

	&.collection-item {
		.photo-container {
			margin: 0;
		}
		.overlay-container {
			 .content {
				display: flex;
				justify-content: center;
				> div {
					padding: 0.2rem 1rem;
					background: rgba($white, 0.75);
					box-shadow: $box-shadow;
					span {
						// margin-bottom: 0;
						font-weight: $global-weight-bold;
						// color: $black;
						text-transform: uppercase;
					}
				}
			}
			// font-size: inherit;
			.overlay {
				transition: all .2s ease-in;
				&:hover {
					// background: rgba($black, 0.5);
					font-size: 125%;
				}
			}
		}
	}
}

