
$box-shadow: 0 0 5px 0 rgba($black, 0.2);
.content-item {
	padding-top: 1.5rem;
	.photo-container {
		margin-bottom: 0.5rem;
	}
	.text {
		a, small:not(.sl-tooltip-text), div {
			@include wrap-text;
		}
		display: flex;
		justify-content: center;
	}
	&.product-item {
		.store-name {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			&::after {
				flex: 0 0 auto;
				right: 0;
				font-size: 70%;
				color: $white;
				padding: 0 0.25rem;
				border-radius: $global-radius;
			}
			&::before {
				flex: 0 0 auto;
				font-size: 70%;
				color: transparent;
				padding: 0 0.25rem;
			}
		}
		&.is-online, &.is-live {
			.store-name {
				justify-content: space-between;
			}
		}
		&.is-online .store-name {
			&::after {
				content:'online';
				background: $success-color;
			}
				&::before {
				content:'online';
			}
		}
		&.is-live .store-name {
			&::after {
				content:'LIVE';
				background: $alert-color;
			}
			&::before {
				content:'LIVE';
			}
		}
		.photo-container {
			position: relative;
			.online-status {
				$online-color: lighten($success-color, 10%);
				position: absolute;
				bottom: 0;
				right: 0;
				margin: 0;
				padding: 0.25rem 0.5rem;
				background: rgba($online-color, 0.7);
				border-radius: $global-radius;
				color: $white;
				text-transform: uppercase;
				font-size: 70%;
				font-weight: $global-weight-bold;
				letter-spacing: 0.5px;
			}
		}
	
	}

	&.stream-item {
		a {
			color: $body-font-color;
		}
		.photo-container {
			.overlay {
				transition: background .25s ease-in-out;
				.content {
					padding: $global-padding;
					// align-items: center;
					.video {
						$color: $white;
						background: rgba($color, 0.85);
						// box-shadow: $box-shadow;
						border-radius: 50%;
						height: 4rem;
						width: 4rem;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all .25s ease-in-out;
						font-size: 1.5rem;
					}
				}
				&:hover {
					background: rgba($white, 0.75);
					.video {
						background: transparent;
						box-shadow: none;
						height: 5rem;
						width: 5rem;
						font-size: 3rem;
					}
				}
				.visitor-count {
					position: absolute;
					color: $white;
					background: rgba($primary-color, 0.7);
					padding: 0.25rem 0.5rem;
					border-radius: $global-radius;
					right: 0;
					bottom: 0;
					font-size: 75%;
					font-weight: bold;
					i {
						margin-right: 0.25rem;
					}
				}
			}
		}
		.text.is-live {
			display: flex;
			justify-content: space-between;
			align-items: center;
			&::after {
				content: 'LIVE';
				flex: 0 0 auto;
				right: 0;
				font-size: 70%;
				color: $white;
				padding: 0 0.25rem;
				background: $alert-color;
				border-radius: $global-radius;
			}
			&::before {
				content: 'LIVE';
				flex: 0 0 auto;
				font-size: 70%;
				color: transparent;
				padding: 0 0.25rem;
			}
		}
	}

	&.collection-item {
		a {
			color: $body-font-color;
		}
		.photo-container {
			margin: 0;
			.overlay {
				display: flex;
				justify-content: center;
				h3 {
					transition: font-size .25s ease-in-out;
				}
				> div {
					padding: 0.2rem 1rem;
					transition: background .25s ease-in;
					background: rgba($white, 0.75);
					// box-shadow: $box-shadow;
					span {
						// margin-bottom: 0;
						font-weight: $global-weight-bold;
						// color: $black;
						text-transform: uppercase;
					}
				}
				transition: all .2s ease-in;
				&:hover {
					background: rgba($white, 0.75);
					h3 {
						font-size: 160%;
					}
					> div {
						background: transparent;
					}
				}
			}
		}
	}
}

