
.content-item {
	padding-top: 1.5rem;
	text-align: left;
	@include breakpoint(large) {
		padding: 1rem;
	}
	&.row {
		.content-item-title-section,
		.content-item-subtitle-section {
			padding: 0;
			margin-left: 0.5rem;
		}
	}

	.content-item-title-section {
		a {
			flex: 1;
		}
		span, a {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			color: $body-font-color;
			font-style: italic;
			font-weight: 500;
		}
		padding-top: 0.5rem;
		display: flex;	
		flex-direction: column;
		@include breakpoint(large) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
	.content-item-subtitle-section {
		text-align: center;
		display: flex;
		flex-direction: column;
	}
}