#sulo-product-page {
	.product-container {
		padding: 1rem;
	}
}
#sulo-product {
	.product-container {
		background: white;
		box-shadow: 0 1px 3px 1px rgba($black, 0.2);
	}
	.store-container {
		p {
			font-size: 1.5rem;
		}
	}

	.product-info-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.product-info-title {
		font-size: 1.1rem;
		@include breakpoint(large) {
			font-size: 1.3rem;
		}
	}
	.product-info-price {
		font-size: 1.5rem;
		font-weight: 500;
		color: map-get($foundation-palette, primary);
	}
}
