

// @enable

@mixin sl-toggle-scroll($enabled: true) {
  @if $enabled==true {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    @include breakpoint(large) {
      overflow-y: auto;
    }
  }
  @else {
    overflow-y: hidden;
  }
}