

// @enable

@mixin sl-toggle-scroll($enabled: true) {
  @if $enabled==true {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    @include breakpoint(large) {
      overflow-y: auto;
    }
  }
  @else {
    overflow-y: hidden;
  }
}

@mixin sulo-flex-video {
  .flex-video {
    @include flex-video;

    &.widescreen {
      padding-bottom: flex-video(16 by 9);
      @include breakpoint(large) {
          padding-bottom: flex-video($flexvideo-ratio-widescreen);
        }
    }

    &.vimeo {
      padding-top: 0;
    }
  }
}