#sulo-navbar {
	.top-bar-right {
		li {
			padding-left: 0.5rem;
		}
	}
	.top-bar-left {
		ul {
			li:last-child {
				// border-right
				// a {
					border-right: 1px solid $medium-gray;
				// }
			}
		}
	}
	position: fixed;
	width: 100%;
	z-index: $navbar-zindex;

	.category, .contact {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 80%;
		span {
			vertical-align: middle;
		}
	}
	.contact {
		display: flex;
		align-items: center;
		font-size: 80%;
	}
}

.navbar-container {
	background: $navbar-background-color;
	box-shadow: 1px 1px 3px 0 rgba($black, 0.1);
	display: flex;
	align-items: center;
	height: $navbar-height;
	font-size: 0.9rem;
	@include breakpoint(medium) {
		font-size: 1rem;
	}
}

.navbar {
	flex: 1;
	.top-bar-right li {
		// padding-top: 0.5rem;
	}
	max-width: $global-width;
	margin: 0 auto;
	padding: 0;
	a:not(.button) {		
		// color: $navbar-font-color;
		// text-transform: uppercase;
		// font-style: italic;
	}
	.button.tiny {
		font-size: 0.8rem;
	}
	&.top-bar, ul {
		background: transparent;
		// i { 
		// 	font-size: 1.25rem;
		// }
	}
	input {
		@include sulo-form-element(rem-calc(16));
		margin: 0;
	}
}

.navbar-blur {
	@extend .navbar-container;
	filter: blur(20px);
}

#shopping-icon {
	padding-right: 0;
	@include breakpoint(medium) {
		padding: 0.7rem 1rem;
	}
}

.navbar-live {
	border-right: 1px solid $medium-gray;
	text-transform: uppercase;
}
#navbar-brand {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	color: $black;
	// font-style: italic;
	// padding: 0;
	// color: $black;
	@include breakpoint(medium) {
		font-size: 1.2rem;
		// padding: 0.7rem 1rem;
	}
	border-right: 1px solid $medium-gray;
}
