$navbar-height: rem-calc(56);
$navbar-background-color: map-get($foundation-palette, brown);
$navbar-font-color: $white;
$subnav-background-color: rgba($navbar-background-color, 0.03);//map-get($foundation-palette, nude);
// $subnav-background-color: lighten($navbar-background-color, 75%);//map-get($foundation-palette, nude);
$subnav-font-color: rgba(map-get($foundation-palette, brown), 0.5);

#sulo-navbar {
	background: $white;
	// box-shadow: 0 1px 5px 1px rgba($black, 0.2);
	border-bottom: 1px solid rgba($navbar-background-color, 0.15);
}
nav {
	height: $navbar-height;
	z-index: 3;
	font-size: 0.9rem;
	@include breakpoint(medium) {
		font-size: 1rem;
	}
}
.navbar-container {
	background: $navbar-background-color;
}
.navbar {
	max-width: 65rem;
	margin: 0 auto;
	// color: $white;
	a:not(.button):not(.top-nav-link) {		
		color: $white;//map-get($foundation-palette, brown);
	}
	a.button.nude {
		@extend .tiny;
		font-size: 0.8rem;
		@include breakpoint(medium) {
			
		}
	}
	input {
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
	}
	&.top-bar {
		background: transparent;
		ul {
			background: transparent;
		}
		i { vertical-align: bottom };

		.fa-video-camera, .seach-icon {
			display: inline-block;
		}
		a.top-nav-link {
			strong {
				display: none;
			}
		}
		@include breakpoint(medium) {
			.fa-video-camera, .search-icon {
				display: none;
			}		
		a.top-nav-link {
			strong {
				display: block;
			}
		}
		}
	}
	a.button {
		font-weight: bold;
	}
}

.subnav-container {
	// background: rgba(map-get($foundation-palette, brown), 0.1);
		background: $subnav-background-color;
		// box-shadow: 0px 1px 1px 0px rgba($navbar-background-color, 0.15);

}
.subnav {
	a:not(.button) {
		color: $subnav-font-color !important;
		font-weight: 500;
		transition: background 0.25s;
		&:hover {
			background: darken($subnav-background-color, 10%);
		}
	}
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.8rem;
	@include breakpoint(medium) {
		font-size: 1.2rem;
	}
	// vertical-align: middle;
}