$navbar-height: rem-calc(56);
$navbar-background-color: map-get($foundation-palette, brown);

#sulo-navbar-container {
	box-shadow: 0 1px 5px 1px rgba($black, 0.2);
}
nav {
	height: $navbar-height;
	// width: 100%;
	// position: absolute;
	z-index: 3;
	// top: 0;
	// border-bottom: 1px solid rgba($black, 0.2);
}
.navbar-container {
	background: $navbar-background-color;
	box-shadow: 1
}
.navbar {
	max-width: 65rem;
	margin: 0 auto;
	a:not(.button):not(.top-nav-link) {		
		color: $white;//map-get($foundation-palette, brown);
	}
	input {
		display: none;
		@include breakpoint(medium) {
			display: block;
		}
	}
	&.top-bar {
		background: transparent;
		ul {
			background: transparent;
		}
		i { vertical-align: bottom };

		i.fa-video-camera {
			display: inline-block;
		}
		a.top-nav-link {
			strong {
				display: none;
			}
		}
		@include breakpoint(medium) {
			i.fa-video-camera {
				display: none;
			}		
		a.top-nav-link {
			strong {
				display: block;
			}
		}
		}
	}
	a.button {
		font-weight: bold;
	}
}

.subnav-container {
	// background: rgba(map-get($foundation-palette, brown), 0.1);
}
.subnav {
	a:not(.button) {
		color: $white;//map-get($foundation-palette, brown) !important;
		transition: background 0.25s;
		&:hover {
			background: darken($navbar-background-color, 10%);
		}
		// font-size: 80%;
		// text-transform: uppercase;
	}
}

.navbar-brand {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 1rem;
	// vertical-align: middle;
}