$primary-color: map-get($foundation-palette, primary);
.photo-container {
	box-shadow: 0 1px 3px 0 rgba($primary-color, 0.15);
	&.collage {
		.photo-container {
			display: flex;
			box-shadow: none;
			.photo {
				width: 50%;
				padding-top: 50%;
			}
		}
	}
}

.overlay-container {
	position: relative;
	.overlay {
		display: flex;	
		flex-direction: column;
		justify-content: center;	
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// opacity: 1;
		// visibility: hidden;
		// transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
		.content {
			background: rgba($white, 0.85);
			vertical-align: middle;
			padding: $global-padding;
			text-align: center
		}
		p {
			@include wrap-text(2, 1);
			margin-bottom: 0.25rem;
		}
		// p, i, strong {
		// 	font-weight: bold;
		// }
		span {
			// color: white !important;
		}
		.button.hollow {
			border-width: 2px;
			text-shadow: 1px 1px 0 rgba($black, 0.5);
			box-shadow: 1px 1px 3px 0 rgba($black, 0.5);
			&:hover, &:active, &:focus {
				$color: lighten($primary-color, 10%);
				border-color: $color;
				color: $color;
				text-shadow: 1px 0px 0 rgba($white, 0.5);
				box-shadow: 1px 0px 3px 0 rgba($white, 0.5);
			}
		}
	}
	&:hover {
		// .overlay {
		// 	opacity: 1;
		// 	visibility: visible;
		// }
		// box-shadow: 1px 1px 3px 1px rgba($black, 0.1);
		.photo {
			&:not(.square) {
				background-size: 105%;
			}
			// filter: blur(3px);
		}
	}
}

.multi-photos-container {
	display: flex;
	justify-content: center;
	padding: 0.5rem 0;
	.photo-container {
		margin: 0 0.5rem;
		width: 10%;
	}
}

.photo {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 67%;
	width: 100%;
	transition: background .25s ease-in-out;
	&.square {
		background-size: cover;
		padding-top: 100%;		
		transition: none;		
	}
	&.thumbnail {
		background-size: cover;
		margin: 0;
		display: block;
		&.mini {
			width: 50%;
			padding-top: 50%
		}		
	}
	&.cover {
		background-size: cover;
		padding: 0;
		// max-width: 100%;
	}

	&.header {
		padding: 0;
		// position: absolute;
		// height: 100%;
		// width: 150%;
		top: 0;
		left: 0;
		background-position: top center;
		background-size: cover;
		// opacity: 0.7;
		// @include breakpoint(medium) {
			// width: 100%;
			// left: 25%;
		// }

		// &::after {
		// 	content: "";
		// 	display: block;
		// 	background: linear-gradient(to right, rgba($header-background-color,1) 0%,rgba($header-background-color,0) 50%,rgba($header-background-color,1) 100%);
		// 	position: absolute;
		// 	top: 0; left: -1px; right: 0; bottom: 0;
		// }
	}
	// &:hover {
	// 	filter: blur(50px);
	// }
	// &.hover-item {
	// 	&:hover {

	// 	}
	// }
}
