
.ql-editor, #quill-editor-container .ql-editor {
	font-family: $header-font-family-serif;
	strong {
		font-weight: bold;
	}
	.ql-size-large {
		font-size: 1.25rem;
	}
}
#quill-editor-container {
	min-height: 18rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.ql-container {
		font-size: $global-font-size;
		min-height: 15rem;
		height: 15rem;
		border: $global-border;
	}
	.ql-toolbar {
		min-height: 3rem;
		border: $global-border;
		border-bottom: none;
			font-family: $header-font-family-serif;

	}
	.ql-disabled {
		.ql-editor {
			cursor: auto;
		}
	}
	.ql-bubble {
		border: none;
	}
}