$editor-font-family: $header-font-family-sans-serif;//$header-font-family-serif;
.ql-editor, .sl-quill-editor-container .ql-editor {
	font-family: $editor-font-family;
	strong {
		// font-weight: bold;
	}
	.ql-size-large {
		font-size: 1.25rem;
	}
}
#sulo-store-dashboard {
	.sl-quill-editor-container {
		border: $global-border;
	}
}

.sl-quill-editor-container {
	min-height: 23rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.ql-container {
		font-size: $global-font-size;
		min-height: 20rem;
		height: 20rem;
		border: none;
	}
	.ql-toolbar {
		min-height: 3rem;
		border: none;
		border-bottom: $global-border;
		font-family: $editor-font-family;

	}
	.ql-disabled {
		.ql-editor {
			cursor: auto;
		}
	}
	.ql-bubble {
		border: none;
	}
}