.sl-spinner {
  width: 40px;
  height: 40px;
  background-color: $white;
  // border: 1px solid $primary-color; 
  // position: fixed;
  // margin: 0 auto;
  // vertical-align: middle;

  // margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
  vertical-align: middle;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.sl-spinner-overlay {
  background: rgba($white, 0.6);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  // margin-left: auto;
  // margin-right: auto; 
  z-index: $loading-zindex;
  .sl-spinner {
    margin-bottom: 1rem;
  }
}

@keyframes loading-slider {
  0% {
    left: 0;
    width: 0;
  }

  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.sl-global-spinner {
  position: fixed;
  z-index: $navbar-zindex;
  top: $navbar-height;
  transform: translateY(-2px);
  @include breakpoint(large) {
    position: fixed;
  }
  height: 2px;
  background: map-get($foundation-palette, primary);
  // opacity: 0;
  transition: all .25s linear;
  animation: loading-slider 1s 0.5s 1 forwards;
  // animation-iteration-count: 1;
  // animation-fill-mode: forwards;
  &.is-active {
      // opacity: 1;
      animation-iteration-count: infinite;
      // animation: loading-slider 2s 2s infinite forwards;
  }
}

@keyframes signal-pulsate {
    0% {
      transform: scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.sl-loading-signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 40px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 40px;
 
    animation: signal-pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
