.star-rating-container {
	.star-rating {
		// color: lighten($primary-color, 50%);
		i {
			margin: 0;
		}
		font-size: 0.9rem;
		&.small {
			font-size: 0.8rem;
		}
		&.large {
			font-size: 1.2rem;
		}
	}
}