// $primary-color: map-get($foundation-palette, sulo);

$header-background-color: rgba($white,1);//map-get($foundation-palette, primary);//#2E2A31;
$header-font-color: $black;
$header-border-color: rgba($black, 0.1);

$banner-background-color: map-get($foundation-palette, sulo);//rgba($primary-color, 0.15);
$section-footer-color: $primary-color;

#sulo-index {
	#sulo-navbar {
		.menu {
			.search-input {
				display: none;
			}
		}
	}
	.row {
		// max-width: 80rem;
	}
	
	h2 {
		@include breakpoint(large) {
			// font-size: rem-calc(28);
		} 
	}
	.page-content {
		padding-bottom: 0;
	}
	.photo.cover {
		@include breakpoint(large) {
			padding-top: 25%;
		}
	}
	
	.photo-container.cover {
		.overlay {
			background: rgba($primary-color, 0.7);
		}
		.content {
			flex: 1;
		}
	}

	// .banner {
	// 	padding: 2rem 0 1rem 0;
	// 	@include breakpoint(medium) {
	// 		padding-top: 3rem;
	// 		padding-bottom: 2rem;
	// 	}
	// 	background: rgba($banner-background-color, 0.8);

	// 	&.white {
	// 		background: $white;
	// 		border-bottom: 1px solid rgba($primary-color, 0.1);
	// 	}
	// 	.align-right {
	// 		display: flex;
	// 		justify-content: flex-end;
	// 	}
	// 	.icon {
	// 		// display: none;
	// 		padding: 0;
	// 		max-width: 100%;
	// 		svg {
	// 			height: 100%;
	// 			width: 100%;
	// 		}
	// 		@include breakpoint(medium) {
	// 			max-width: 12rem;	
	// 		}
	// 	}	
	// }

	.section {
		padding: 0;
		.section-title {
			padding: 0.5rem 0;
			margin: 0;
			margin-bottom: 0.5rem;
			background: rgba($sulo-color, 0.25);
			h2, h3 {
				margin: 0;
				color: darken($sulo-dark-color, 10%);
			}
		}
		// border-top: $global-border-secondary;
		&.online-channels {
			.section-title {
				background: rgba($success-color, 0.25);
				// background: transparent;
				h2 {
					color: darken($success-color, 10%);
				}
			}
			.row:last-child {
				padding: 2rem 0;
			}

			// background: $dashboard-background;
		}

		&.collections {
			background: $dashboard-background;
			// padding: 2rem 0;
			// font-size: 1.7rem;
			.row {
				padding: $global-padding 0;
			}
			.section-title {
				// background: transparent;
				// margin: 0;
			}
			.section-footer {
				visibility: hidden;
			}
			.collection-item {
				padding: $global-padding;
				h3 {
					// font-size: 95%
					margin: 0;
					margin-bottom: 0;
					text-transform: uppercase;
					font-weight: bold;
					margin-top: 0.25rem;
					letter-spacing: 1px;
				}
				@include breakpoint(small only) {
					padding: 0.5rem 0;
					.photo {
						padding-top: 50%;
					}
				}
			}
		}

		&.new-brands {
			// background: $dashboard-background;
			// border-top: $global-border;
			// border-bottom: $global-border;
			.section-title {
				// background: transparent;
			}
			padding-bottom: 2rem;
		}

		&.sell-on-sulo {
			.photo-container {
				background: transparent;
				max-width: 6rem;
				width: 6rem;
				margin: 0 auto;
				img {
					object-fit: contain;
					&.small {
						opacity: 0;
					}
				}
			}
			p {
				max-width: 40rem;
				margin: 0 auto;
				letter-spacing: 1px; 
				font-weight: $global-weight-bold;
				color: $primary-color;
			}
			.section-title {
				background: none;
			}
			// background: rgba($sulo-color, 0.5);
			background: $dashboard-background;
			padding: $global-padding;
		}

		&.products {
			.row {
				.button {
					margin-bottom: 1px;
				}
				// flex-wrap: nowrap;
				overflow-y: hidden;
				overflow-x: auto;
				&::-webkit-scrollbar {
				    height: 3px;
				    background: $white;
				}
				 
				&::-webkit-scrollbar-track {
				    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
				    // border-radius: 10px;
				    // background: $sulo-color;
				}
				 
				&::-webkit-scrollbar-thumb {
					background: $sulo-color;
				    // border-radius: 10px;
				    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
				}
			}
			// margin-top: $global-margin;
			.section-title {
				// background: $sulo-color;
				margin-bottom: 0.5rem;
				h2 {
					margin: 0;
					color: darken($sulo-dark-color, 10%);
				}
			}
			.row {
				padding-bottom: 2rem;
			}
			.column {
				padding: 0 0.5rem;
				&:nth-child(4+n) {
					display: none;
				}
				.content-item {
					.text:last-child {
						display: none;
					}
				}
			}
		}
	}
}