$primary-color: map-get($foundation-palette, sulo);

$header-background-color: rgba($white,1);//map-get($foundation-palette, primary);//#2E2A31;
$header-font-color: $black;
$header-border-color: rgba($black, 0.1);

$banner-background-color: map-get($foundation-palette, sulo);//rgba($primary-color, 0.15);
$section-footer-color: $primary-color;

#sulo-index {
	#sulo-navbar {
		.menu {
			.search-input {
				display: none;
			}
		}
	}
	h2 {
		@include breakpoint(large) {
			font-size: rem-calc(28);
		} 
	}
	// .icon {
	// 	padding: 1rem;
	// 	display: flex;
	// 	justify-content: center;
	// }
	// h1, h2, h3, h4, h5, h6 {
	// 	font-family: $header-font-family-sans-serif;
	// }
	.page-content {
		padding-bottom: 0;
	}
	.photo.cover {
		@include breakpoint(large) {
			padding-top: 25%;
		}
	}
	.intro-header {
		padding: 1rem 0;
		background: $primary-color;
		input {
			margin: 0;
		}
		// min-height: 30rem;
		// height: 75vh;
		color: $white;
		h1 {
			margin: 0;
			display: flex;
			align-items: center;
			i {
				font-size: 80%;
				margin-right: 0.5rem;
			}
		// font-size: 2rem;
			@include breakpoint(large) {
				font-size: rem-calc(36);
			}
		}
		.icon {
			font-size: 120%;
			opacity: 1;
			display: inline-block;
			margin-right: 0.5rem;
			width: 50px;
			height:50px;
			padding: 0;
		}
		.header {
			// text-transform: uppercase;
			// font-weight: bold;
		}
		
		.button {
			font-weight: $global-weight-bold;
		}
	}
	.photo-container.cover {
		.overlay {
			background: rgba($primary-color, 0.7);
		}
		.content {
			flex: 1;
		}
	}

	.banner {
		padding: 2rem 0 1rem 0;
		@include breakpoint(medium) {
			padding-top: 3rem;
			padding-bottom: 2rem;
		}
		background: rgba($banner-background-color, 0.8);

		&.white {
			background: $white;
			border-bottom: 1px solid rgba($primary-color, 0.1);
		}
		.align-right {
			display: flex;
			justify-content: flex-end;
		}
		.icon {
			// display: none;
			padding: 0;
			max-width: 100%;
			svg {
				height: 100%;
				width: 100%;
			}
			@include breakpoint(medium) {
				max-width: 12rem;	
			}
		}	
	}

	.section {
		margin-top: 3%;
		margin-bottom: 3rem;
		padding: 2% 0;
		.section-footer {
			margin-top: $global-margin;
		}

		&.online-channels {
			// .online-streams {
			// 	display: flex;
			// 	flex-wrap: nowrap;
			// 	overflow-x: auto;
			// 	&::-webkit-scrollbar {
	  //    			width: 0;
			// 	}
			// 	&::-webkit-scrollbar-track {
	  //     			background: transparent;
			// 	}
			// 	&::-webkit-scrollbar-thumb {
	  //     			background: transparent;
			// 	}
				.online-stream {
					// width: $global-width / 6;
					// min-width: $global-width / 6;
					// @include breakpoint(medium) {
					// 	width: $global-width / 4;
					// 	min-width: $global-width / 4;
					// }
					@include breakpoint(small only) {
						padding: 0 0.5rem;
						&:nth-child(even) {
							padding-right: 0;
						}
						&:nth-child(odd) {
							padding-left: 0;
						}
					}
					@include breakpoint(medium) {
						padding: 0.5rem;
					}
				}
			// }
		}

		&.collections {
			font-size: 1.7rem;
			.section-footer {
				visibility: hidden;
			}
			.collection-item {
				@include breakpoint(small only) {
					padding: 0.5rem 0;
					.photo {
						padding-top: 50%;
					}
				}
			}
		}
		&.new-arrivals {
			margin-bottom: 4rem;
			// .new-arrivals-container {
				// display: flex;
				// flex-wrap: nowrap;
				// overflow-x: auto;
				&::-webkit-scrollbar {
	     			width: 0;
				}
				&::-webkit-scrollbar-track {
	      			background: transparent;
				}
				&::-webkit-scrollbar-thumb {
	      			background: transparent;
				}
				.new-arrival-item {
					@include breakpoint(small only) {
						padding: 0 0.5rem;
						&:nth-child(even) {
							padding-right: 0;
						}
						&:nth-child(odd) {
							padding-left: 0;
						}
					}
					@include breakpoint(medium) {
						padding: 0.5rem;
					}
					// width: $global-width / 6;
					// min-width: $global-width / 6;
					// @include breakpoint(medium) {
					// 	width: $global-width / 4;
					// 	min-width: $global-width / 4;
					// }
				}
			// }
		}
	}
}