#sulo-store {
	nav {
		position: relative;
	}
	#sulo-product {
		.store-container {
			display: none;
		}
		.product-container {
			box-shadow: none;
		}
	}

	.page-content {
		padding-top: 0;
	}

	#sulo-store-container {
		.cover.photo {
			@include breakpoint(large) {
				display: flex;
			}
			.stream-container {
				text-align: center;
			}
			#video-container {
				padding: 1rem;
				margin: 0 auto;
				min-height: 10rem;
				@include breakpoint(large) {
					max-width: 75%;
				}
			}
		}
	}
	.store-container {
		$brown: #2E2A31;
		$nude: #F0EDE3;
		background: rgba($nude, 0.5);
		// color: $white;
		box-shadow: 1px 0 2px 0 rgba($black, 0.5);
		h1, small {
			// color: $white;
			text-shadow: 1px 1px 1px rgba($white, 0.7);
		}
		i {
			color: $brown;
			text-shadow: 1px 1px 1px rgba($nude, 0.7);
		}
		.store-main-menu {
			width: 100%;
			padding: 1rem 0;
			li {
				@include breakpoint(large) {
					$border: 1px solid rgba($brown, 0.2);
					border-top: $border;
					&:last-child {
						border-bottom: $border;
					}
				}
				&:hover {
					background: rgba($brown, 0.7);
					a {
						color: $nude;
					}
				}
				a {
					color: $brown;
					font-weight: bold;
					text-shadow: 0px 0px 0px rgba($white, 0.5);
				}
			}
		}
	}
	.store-short-info-container {
		display: flex;
		padding: 0 1rem;
		@include breakpoint(large) {
			flex-direction: column;
			padding: 0 2rem;
		}
		.content-item-thumbnail-container {
			width: 5rem;
			margin-right: 1rem;
			@include breakpoint(large){
				width: 100%;
				margin: 0;
			}
		}
	}

	.stream-chat-container {
		display: none;
		background: rgba($white, 0.7);
		box-shadow: -1px 0 2px 0 rgba($black, 0.5);
		@include breakpoint(large) {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		.stream-chat-content {
			color: $black;
			padding: 1rem;
			font-weight: 500;
			text-shadow: 0px 1px 1px rgba($white, 0.5);
		}
		.stream-chat-input {
			padding: 0 0.5rem;
			input {
				margin: 0;
			}
			// box-shadow: 1px 2px 2px 0 rgba($black, 0.5);
		}
	}

	.store-nav {
		padding: 0.7rem 0;
		background: $body-background;
		box-shadow: 0 1px 3px 1px rgba($black, 0.2);
		ul {
			background: transparent;
		}
	}
}
.store-container {
	h1 {
		font-size: 1.6rem;
	}
	.user-rating {
		height: 1.2rem;
	}
}