$chat-zindex: 2;

$chat-container-bg-color: $black;
$chat-container-box-shadow-color: $chat-container-bg-color;

$chat-available-breakpoint: medium;

.stream-container {
	position: relative;
	.stream-title-container {
		opacity: 0;
		padding: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		color: $white;
		transition: opacity .25s ease-in-out;
		// width: 100%;
		background: linear-gradient(rgba($chat-container-bg-color, 0.5), rgba($chat-container-bg-color, 0.25));
		@include breakpoint(medium) {
			font-size: 1.25rem;
		}
	}
	&:hover, &:focus {
		.stream-title-container {
			opacity: 1;
		}
	}
	#sulo-wowza {
		position: absolute;
		// height: 100%;
		// width: 100%;
		top: 0;
		// left: 0;
		bottom: 0;
		// margin: 0 auto;
	}
	#sulo-video-container {
		.jw-controlbar {
			transition: margin .25s ease-in-out;
			margin-right: 0;
			width: auto;
		}
		// #sulo-wowza-MediaController {
		// 	width: auto;
		// 	right: 0;
		// 	transition: right .25s ease-in-out;
		// }
		&.sulo-show-chat {
			.jw-controlbar {
				margin-right: $chat-width-small;
				@include breakpoint(large) {
					margin-right: $chat-width-large;
				}
			}
			// #sulo-wowza-MediaController {
			// 	right: $chat-width-small;
			// 	@include breakpoint(large) {
			// 		right: $chat-width-large
			// 	}
			// }
		}
	}
}
.fullscreen {
	.stream-chat-container {
		z-index: 2147483647;
	}
}

.stream-chat-container {
	z-index: $chat-zindex;
	display: none;
	background: linear-gradient(to right, rgba($chat-container-bg-color, 0.5), rgba($chat-container-bg-color, 0.9));
	// border-left: 1px solid rgba($bg-color, 0.05);
	box-shadow: -1px 0 10rem 0 rgba($chat-container-box-shadow-color, 0.35);
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	// right: 0;
	width: $chat-width-small;
	@include breakpoint(large) {
		width: $chat-width-large;
	}

	transition: right .25s ease-in-out;
	flex-direction: column;

	.show-button {
		margin-top: 1rem;
		position: absolute;
		right: $chat-width-small;
		@include breakpoint(large) {
			right: $chat-width-large;
		}
		top: 0;
		opacity: 1;
		visibility: visible;
		transition: opacity .25s ease-in-out .25s;
	}
	.secondary.hide-button {
		border: none;
		margin-top: 1rem;
		color: $dark-gray;
	}

	&.show {
		.show-button {
			opacity: 0;
			visibility: hidden;
		}
	}
	.content {
		ul {
			-webkit-overflow-scrolling: touch;
			overflow-y: scroll;
			@include breakpoint(large) {
				overflow-y: auto;
			}
			&::-webkit-scrollbar {
	     		width: 0;
	     		// background: $black;
			}
			&::-webkit-scrollbar-track {
	      		background: $black;
			}
			&::-webkit-scrollbar-thumb {
	      		background: map-get($foundation-palette,green);
			}
		}
		position: relative;
		display: flex;		
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;

	}
	@include breakpoint($chat-available-breakpoint) {
		display: flex;
		right: -$chat-width-small;
		@include breakpoint(large) {
			right: -$chat-width-large;
		}
		&.show {
			right: 0;
		}
	}
	.messages-list {
		margin-bottom: 0.5rem;
	}
	.message-container {
		// padding: 0.5rem;
		color: $white;
		flex: 1 0 auto;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		// padding: 1rem;
		$border: 1px solid rgba($light-gray, 0.15);
		border-top: $border;
		// border-bottom: $border;
		text-shadow: 1px 1px 0 rgba($black, 0.5);
		.row {
			margin: 0;
		}
		.column {
			padding: 0.75rem 0.5rem;
		}
		strong {
			color: $light-gray;
		}
		.photo {
			margin-top: 0.5rem;
		}
	}
	.input-container {
		padding: 0.5rem;
		background: rgba($chat-container-bg-color, 0.25);
		.row {
			margin: 0;
		}
		.column {
			padding: 0;
		}
		input {
			margin: 0;
			// background: $chat-container-bg-color;
			border: none;
		}
		.button {
			margin-bottom: 0;
			display: flex;
			height: 100%;
			align-items: center;
			border: none;
		}
	}
}