$chat-zindex: 2;

$chat-container-bg-color: $primary-color;
$chat-container-box-shadow-color: $chat-container-bg-color;

.stream-container {
	// max-width: 75rem;
	// position: relative;
	// padding-top: 1rem;
	// @include text-shadow(light);
	position: relative;
	span {
		font-style: normal;
	}
	// visibility: hidden;
	
	// font-weight: bold;
	// .fa-eye:before {
	// 	vertical-align: middle;
	// }
	// h5 {
	// 	@include single-line-text;
	// }

	// margin: 0 auto 1rem auto;
	// min-height: 10rem;
	@include breakpoint(large) {
		// padding: 0;
		// font-size: 1.25rem;
	}
	&:hover {
		.stream-title-container {
			opacity: 1;
		}
	}

	.stream-title-container {
		opacity: 0;
		padding: 1rem;
		position: absolute;
		top: 0;
		left: 0;
		color: $white;
		font-size: 1.25rem;
		transition: opacity .25s ease-in-out;
		// width: 100%;
		background: linear-gradient(rgba($chat-container-bg-color, 0.5), rgba($chat-container-bg-color, 0.25));
	}
}

.stream-chat-container {
	z-index: $chat-zindex;
	display: none;
	background: linear-gradient(to right, rgba($chat-container-bg-color, 0.25), rgba($chat-container-bg-color, 0.5));
	// border-left: 1px solid rgba($bg-color, 0.05);
	box-shadow: -1px 0 13px 0 rgba($chat-container-box-shadow-color, 0.25);
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	// right: 0;
	width: $chat-width;
	transition: right .25s ease-in-out;

	&:not(.show) {
		.button {
			$button-color: map-get($foundation-palette, green);
			background: rgba($button-color, 1);
		}	
	}
	.content {
		position: relative;
		display: flex;		
		flex-direction: column;
		justify-content: flex-end;
		flex: 1;
	}
	.stream-toggle {
		margin: 1rem;
		margin-right: 0;
		&:not(.show) {
			right: $chat-width;
		}
		position: absolute;
		top: 0;
		right: 0;
		// width: 3rem;
		transition: right 0.25s ease-in-out 1s;
	}
	@include breakpoint(large) {
		display: flex;
		// flex-direction: column;
		right: -$chat-width;
		&.show {
			right: 0;
			.stream-toggle {
				left: 0;
				right: auto;
				// width: $chat-width;
				.button {
					border: none;
				}
			}
		}
	}
	.messages-list {
		margin-bottom: 0.5rem;
	}
	.message-container {
		// padding: 0.5rem;
		color: $white;
		flex: 1 0 auto;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		// padding: 1rem;
		$border: 1px solid rgba($light-gray, 0.15);
		border-top: $border;
		// border-bottom: $border;
		.row {
			margin: 0;
		}
		.column {
			padding: 0.5rem;
		}
	}
	.input-container {
		// padding: 0 0.5rem;
		.row {
			margin: 0;
		}
		.column {
			padding: 0;
		}
		input {
			margin: 0;
			// background: $chat-container-bg-color;
		}
		.button {
			margin-bottom: 0.5rem;
		}
	}
}