  input.invalid {
    $red: map-get($foundation-palette, alert);
    border-color: $red;
    box-shadow: 0 1px 2px rgba($red,0.1);
  }
#add-transaction {
  .daterangepicker {
    margin-top: -1rem;
  }

  .add-new-transaction-fee {
    display: flex;
    flex-direction: column;
  }

  .transaction-fee-container {
    display: block;
    width: 100%;
    padding: 0.25rem;
    .transaction-fee {
      $color: map-get($foundation-palette, success);
      $text-color: $darkblue;
      display: flex;
      justify-content: space-between;
      background: rgba($color, 0.1);
      border: 1px solid rgba($color, 0.4);
      border-radius: $global-radius;
      padding: 0.1rem 0.5rem;
      > .content {
        flex: 1;
      }
    }
  }

  .top-bar-container {
    transition: background 0.25s;
    border-bottom: none;
    box-shadow: 0 1px 3px rgba($darkblue, 0.25);
    @each $name, $color in $foundation-palette {
      &.#{$name} {
        background: $color;
      }
    }

    ul {
      display: flex;
      li {
        @extend .text-center;
        flex: 1;
        a {
          transition: color 0.25s, font-weight 0.25s;
          color: rgba($white, 0.75);
          font-weight: normal;
          &.active {
            font-weight: bold;
            color: $white;
          }
        }
      }
    }
  }

  .long-term {
    .switch {
      margin-right: 1rem;
      flex: 0;
    }
      display: flex;
      flex-direction: row;
  }
}