#project-content {
  .content-section {
    padding: 2.5rem 0;
    margin: 0;
    margin-bottom: 0.5rem;
    border: $default-border;

    .section-title {
      display: flex;
      flex-direction: row;
      margin-bottom: 2.5rem;
      > * {
        margin-right: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $darkblue-a50;
      }
    }
  }
}

#add-transaction {
  .daterangepicker {
    margin-top: -1rem;
  }
}

$callout-height: 2.7rem;
.jm-playground {
  #page-content{
    margin-top: $topnav-height + $subnav-height + $callout-height;
  }
  .callout {
    margin-bottom: 0;
    height: $callout-height;
    position:fixed;
    top: $topnav-height + $subnav-height;
    left:0;
    right:0;
    z-index: $callout-zindex;
    a {
      color: $orange;
      &.navbar-brand {
        color: $darkblue;
        padding: 0 1rem;
        // position: absolute;
        // left: 0;
      }
    }
    border-color: rgba($darkblue, 0.1);
  }

  #subscribe {
    .subscribe-input {
      display: flex;
      a.button {
        flex: 1;
        margin-left: 1rem; 
      }
    }
    a.mail-link {
      color: $orange;
    }
  }
}

.delete-button {
  &:hover {
    border-color: map-get($foundation-palette, alert) !important;
    color: map-get($foundation-palette, alert) !important;
  }
}
#project-settings {
  .button, input {
    // margin: 0;
  }

  .add-category-section {
      display: flex;
      align-items: center;
      position: relative;
    .button.secondary {
      border: none;
    }
    .add-new {
      position: absolute;
      left: 0;
    }
    .add-category-option {
      display: flex;
      flex: 1;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;

      &.show {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

@import "dashboard";
@import "all-transactions";
