{:IQD {:symbol "IQD", :symbol_native "د.ع.‏", :decimal_digits 0, :rounding 0.0, :code "IQD"},
 :MAD {:symbol "MAD", :symbol_native "د.م.‏", :decimal_digits 2, :rounding 0.0, :code "MAD"},
 :AWG {:symbol "AWG", :symbol_native "Afl.", :decimal_digits 2, :rounding 0.0, :code "AWG"},
 :CHF {:symbol "CHF", :symbol_native "CHF", :decimal_digits 2, :rounding 0.05, :code "CHF"},
 :GNF {:symbol "GNF", :symbol_native "FG", :decimal_digits 0, :rounding 0.0, :code "GNF"},
 :DOP {:symbol "DOP", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "DOP"},
 :SGD {:symbol "SGD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "SGD"},
 :KHR {:symbol "KHR", :symbol_native "៛", :decimal_digits 2, :rounding 0.0, :code "KHR"},
 :MKD {:symbol "MKD", :symbol_native "MKD", :decimal_digits 2, :rounding 0.0, :code "MKD"},
 :GBP {:symbol "£", :symbol_native "£", :decimal_digits 2, :rounding 0.0, :code "GBP"},
 :TOP {:symbol "TOP", :symbol_native "T$", :decimal_digits 2, :rounding 0.0, :code "TOP"},
 :HNL {:symbol "HNL", :symbol_native "L", :decimal_digits 2, :rounding 0.0, :code "HNL"},
 :KWD {:symbol "KWD", :symbol_native "د.ك.‏", :decimal_digits 3, :rounding 0.0, :code "KWD"},
 :PAB {:symbol "PAB", :symbol_native "B/.", :decimal_digits 2, :rounding 0.0, :code "PAB"},
 :KES {:symbol "KES", :symbol_native "Ksh", :decimal_digits 2, :rounding 0.0, :code "KES"},
 :AMD {:symbol "AMD", :symbol_native "դր.", :decimal_digits 0, :rounding 0.0, :code "AMD"},
 :NIO {:symbol "NIO", :symbol_native "C$", :decimal_digits 2, :rounding 0.0, :code "NIO"},
 :PKR {:symbol "PKR", :symbol_native "₨", :decimal_digits 0, :rounding 0.0, :code "PKR"},
 :MYR {:symbol "MYR", :symbol_native "RM", :decimal_digits 2, :rounding 0.0, :code "MYR"},
 :KZT {:symbol "KZT", :symbol_native "₸", :decimal_digits 2, :rounding 0.0, :code "KZT"},
 :ZMK {:symbol "ZMK", :symbol_native "ZK", :decimal_digits 0, :rounding 0.0, :code "ZMK"},
 :BOB {:symbol "BOB", :symbol_native "Bs", :decimal_digits 2, :rounding 0.0, :code "BOB"},
 :CRC {:symbol "CRC", :symbol_native "₡", :decimal_digits 0, :rounding 0.0, :code "CRC"},
 :JOD {:symbol "JOD", :symbol_native "د.أ.‏", :decimal_digits 3, :rounding 0.0, :code "JOD"},
 :ERN {:symbol "ERN", :symbol_native "Nfk", :decimal_digits 2, :rounding 0.0, :code "ERN"},
 :CZK {:symbol "CZK", :symbol_native "Kč", :decimal_digits 2, :rounding 0.0, :code "CZK"},
 :LVL {:symbol "LVL", :symbol_native "Ls", :decimal_digits 2, :rounding 0.0, :code "LVL"},
 :HKD {:symbol "HK$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "HKD"},
 :LYD {:symbol "LYD", :symbol_native "د.ل.‏", :decimal_digits 3, :rounding 0.0, :code "LYD"},
 :XAF {:symbol "FCFA", :symbol_native "FCFA", :decimal_digits 0, :rounding 0.0, :code "XAF"},
 :GTQ {:symbol "GTQ", :symbol_native "Q", :decimal_digits 2, :rounding 0.0, :code "GTQ"},
 :DJF {:symbol "DJF", :symbol_native "Fdj", :decimal_digits 0, :rounding 0.0, :code "DJF"},
 :UAH {:symbol "UAH", :symbol_native "₴", :decimal_digits 2, :rounding 0.0, :code "UAH"},
 :RWF {:symbol "RWF", :symbol_native "FR", :decimal_digits 0, :rounding 0.0, :code "RWF"},
 :GYD {:symbol "GYD", :symbol_native "GYD", :decimal_digits 0, :rounding 0.0, :code "GYD"},
 :BWP {:symbol "BWP", :symbol_native "P", :decimal_digits 2, :rounding 0.0, :code "BWP"},
 :CLP {:symbol "CLP", :symbol_native "$", :decimal_digits 0, :rounding 0.0, :code "CLP"},
 :OMR {:symbol "OMR", :symbol_native "ر.ع.‏", :decimal_digits 3, :rounding 0.0, :code "OMR"},
 :PLN {:symbol "PLN", :symbol_native "zł", :decimal_digits 2, :rounding 0.0, :code "PLN"},
 :MZN {:symbol "MZN", :symbol_native "MTn", :decimal_digits 2, :rounding 0.0, :code "MZN"},
 :AFN {:symbol "AFN", :symbol_native "؋", :decimal_digits 0, :rounding 0.0, :code "AFN"},
 :PYG {:symbol "PYG", :symbol_native "₲", :decimal_digits 0, :rounding 0.0, :code "PYG"},
 :TRY {:symbol "TRY", :symbol_native "TL", :decimal_digits 2, :rounding 0.0, :code "TRY"},
 :BZD {:symbol "BZD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "BZD"},
 :MDL {:symbol "MDL", :symbol_native "MDL", :decimal_digits 2, :rounding 0.0, :code "MDL"},
 :JPY {:symbol "¥", :symbol_native "￥", :decimal_digits 0, :rounding 0.0, :code "JPY"},
 :INR {:symbol "₹", :symbol_native "₹", :decimal_digits 2, :rounding 0.0, :code "INR"},
 :RSD {:symbol "RSD", :symbol_native "дин.", :decimal_digits 0, :rounding 0.0, :code "RSD"},
 :TTD {:symbol "TTD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "TTD"},
 :BIF {:symbol "BIF", :symbol_native "FBu", :decimal_digits 0, :rounding 0.0, :code "BIF"},
 :SEK {:symbol "SEK", :symbol_native "kr", :decimal_digits 2, :rounding 0.0, :code "SEK"},
 :IDR {:symbol "IDR", :symbol_native "Rp", :decimal_digits 0, :rounding 0.0, :code "IDR"},
 :ARS {:symbol "ARS", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "ARS"},
 :VND {:symbol "₫", :symbol_native "₫", :decimal_digits 0, :rounding 0.0, :code "VND"},
 :MUR {:symbol "MUR", :symbol_native "MUR", :decimal_digits 0, :rounding 0.0, :code "MUR"},
 :NGN {:symbol "NGN", :symbol_native "₦", :decimal_digits 2, :rounding 0.0, :code "NGN"},
 :KRW {:symbol "₩", :symbol_native "₩", :decimal_digits 0, :rounding 0.0, :code "KRW"},
 :MGA {:symbol "MGA", :symbol_native "MGA", :decimal_digits 0, :rounding 0.0, :code "MGA"},
 :KMF {:symbol "KMF", :symbol_native "CF", :decimal_digits 0, :rounding 0.0, :code "KMF"},
 :AED {:symbol "AED", :symbol_native "د.إ.‏", :decimal_digits 2, :rounding 0.0, :code "AED"},
 :EGP {:symbol "EGP", :symbol_native "ج.م.‏", :decimal_digits 2, :rounding 0.0, :code "EGP"},
 :THB {:symbol "฿", :symbol_native "฿", :decimal_digits 2, :rounding 0.0, :code "THB"},
 :DZD {:symbol "DZD", :symbol_native "د.ج.‏", :decimal_digits 2, :rounding 0.0, :code "DZD"},
 :TZS {:symbol "TZS", :symbol_native "TSh", :decimal_digits 0, :rounding 0.0, :code "TZS"},
 :LKR {:symbol "LKR", :symbol_native "රු.", :decimal_digits 2, :rounding 0.0, :code "LKR"},
 :YER {:symbol "YER", :symbol_native "ر.ي.‏", :decimal_digits 0, :rounding 0.0, :code "YER"},
 :BBD {:symbol "BBD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "BBD"},
 :NZD {:symbol "NZ$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "NZD"},
 :USD {:symbol "$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "USD"},
 :UGX {:symbol "UGX", :symbol_native "USh", :decimal_digits 0, :rounding 0.0, :code "UGX"},
 :TWD {:symbol "NT$", :symbol_native "NT$", :decimal_digits 2, :rounding 0.0, :code "TWD"},
 :CAD {:symbol "CA$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "CAD"},
 :ILS {:symbol "₪", :symbol_native "₪", :decimal_digits 2, :rounding 0.0, :code "ILS"},
 :MMK {:symbol "MMK", :symbol_native "K", :decimal_digits 0, :rounding 0.0, :code "MMK"},
 :CNY {:symbol "CN¥", :symbol_native "CN¥", :decimal_digits 2, :rounding 0.0, :code "CNY"},
 :MXN {:symbol "MX$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "MXN"},
 :PEN {:symbol "PEN", :symbol_native "S/.", :decimal_digits 2, :rounding 0.0, :code "PEN"},
 :IRR {:symbol "IRR", :symbol_native "﷼", :decimal_digits 0, :rounding 0.0, :code "IRR"},
 :AOA {:symbol "AOA", :symbol_native "Kz", :decimal_digits 2, :rounding 0.0, :code "AOA"},
 :CDF {:symbol "CDF", :symbol_native "FrCD", :decimal_digits 2, :rounding 0.0, :code "CDF"},
 :GHS {:symbol "GHS", :symbol_native "GHS", :decimal_digits 2, :rounding 0.0, :code "GHS"},
 :LRD {:symbol "LRD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "LRD"},
 :BMD {:symbol "BMD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "BMD"},
 :SYP {:symbol "SYP", :symbol_native "ل.س.‏", :decimal_digits 0, :rounding 0.0, :code "SYP"},
 :SOS {:symbol "SOS", :symbol_native "SOS", :decimal_digits 0, :rounding 0.0, :code "SOS"},
 :BDT {:symbol "BDT", :symbol_native "৳", :decimal_digits 2, :rounding 0.0, :code "BDT"},
 :EUR {:symbol "€", :symbol_native "€", :decimal_digits 2, :rounding 0.0, :code "EUR"},
 :RUB {:symbol "RUB", :symbol_native "руб.", :decimal_digits 2, :rounding 0.0, :code "RUB"},
 :UZS {:symbol "UZS", :symbol_native "UZS", :decimal_digits 0, :rounding 0.0, :code "UZS"},
 :RON {:symbol "RON", :symbol_native "RON", :decimal_digits 2, :rounding 0.0, :code "RON"},
 :ALL {:symbol "ALL", :symbol_native "Lek", :decimal_digits 0, :rounding 0.0, :code "ALL"},
 :NAD {:symbol "NAD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "NAD"},
 :NOK {:symbol "NOK", :symbol_native "kr", :decimal_digits 2, :rounding 0.0, :code "NOK"},
 :NPR {:symbol "NPR", :symbol_native "नेरू", :decimal_digits 2, :rounding 0.0, :code "NPR"},
 :LBP {:symbol "LBP", :symbol_native "ل.ل.‏", :decimal_digits 0, :rounding 0.0, :code "LBP"},
 :SDG {:symbol "SDG", :symbol_native "SDG", :decimal_digits 2, :rounding 0.0, :code "SDG"},
 :ISK {:symbol "ISK", :symbol_native "kr", :decimal_digits 0, :rounding 0.0, :code "ISK"},
 :BHD {:symbol "BHD", :symbol_native "د.ب.‏", :decimal_digits 3, :rounding 0.0, :code "BHD"},
 :HRK {:symbol "HRK", :symbol_native "kn", :decimal_digits 2, :rounding 0.0, :code "HRK"},
 :GEL {:symbol "GEL", :symbol_native "GEL", :decimal_digits 2, :rounding 0.0, :code "GEL"},
 :MOP {:symbol "MOP", :symbol_native "MOP", :decimal_digits 2, :rounding 0.0, :code "MOP"},
 :PHP {:symbol "PHP", :symbol_native "₱", :decimal_digits 2, :rounding 0.0, :code "PHP"},
 :BND {:symbol "BND", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "BND"},
 :HUF {:symbol "HUF", :symbol_native "Ft", :decimal_digits 0, :rounding 0.0, :code "HUF"},
 :TND {:symbol "TND", :symbol_native "د.ت.‏", :decimal_digits 3, :rounding 0.0, :code "TND"},
 :LTL {:symbol "LTL", :symbol_native "Lt", :decimal_digits 2, :rounding 0.0, :code "LTL"},
 :SAR {:symbol "SAR", :symbol_native "ر.س.‏", :decimal_digits 2, :rounding 0.0, :code "SAR"},
 :COP {:symbol "COP", :symbol_native "$", :decimal_digits 0, :rounding 0.0, :code "COP"},
 :UYU {:symbol "UYU", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "UYU"},
 :CVE {:symbol "CVE", :symbol_native "CVE", :decimal_digits 2, :rounding 0.0, :code "CVE"},
 :BAM {:symbol "BAM", :symbol_native "KM", :decimal_digits 2, :rounding 0.0, :code "BAM"},
 :AZN {:symbol "AZN", :symbol_native "ман.", :decimal_digits 2, :rounding 0.0, :code "AZN"},
 :AUD {:symbol "AU$", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "AUD"},
 :BRL {:symbol "R$", :symbol_native "R$", :decimal_digits 2, :rounding 0.0, :code "BRL"},
 :BYR {:symbol "BYR", :symbol_native "BYR", :decimal_digits 0, :rounding 0.0, :code "BYR"},
 :STD {:symbol "STD", :symbol_native "Db", :decimal_digits 0, :rounding 0.0, :code "STD"},
 :JMD {:symbol "JMD", :symbol_native "$", :decimal_digits 2, :rounding 0.0, :code "JMD"},
 :DKK {:symbol "DKK", :symbol_native "kr", :decimal_digits 2, :rounding 0.0, :code "DKK"},
 :ETB {:symbol "ETB", :symbol_native "ብር", :decimal_digits 2, :rounding 0.0, :code "ETB"},
 :QAR {:symbol "QAR", :symbol_native "ر.ق.‏", :decimal_digits 2, :rounding 0.0, :code "QAR"},
 :ZAR {:symbol "ZAR", :symbol_native "R", :decimal_digits 2, :rounding 0.0, :code "ZAR"},
 :VEF {:symbol "VEF", :symbol_native "Bs.F.", :decimal_digits 2, :rounding 0.0, :code "VEF"},
 :BGN {:symbol "BGN", :symbol_native "лв.", :decimal_digits 2, :rounding 0.0, :code "BGN"},
 :XOF {:symbol "CFA", :symbol_native "CFA", :decimal_digits 0, :rounding 0.0, :code "XOF"}}