[
;; user

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/email
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "A user's primary email."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "A user's unique identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/status
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "A user's account status."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/activated-at
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Timestamp for when the user activated their account."
  :db.install/_attribute :db.part/db}

 ;; User status
 [:db/add #db/id[:db.part/user] :db/ident :user.status/new]
 [:db/add #db/id[:db.part/user] :db/ident :user.status/active]

 ;; Facebook user
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :fb-user/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "User id of a Facebook user"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :fb-user/token
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Access token of a Facebook user"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :fb-user/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "User entity pointed to for this Facebook user."
  :db.install/_attribute :db.part/db}

 ;; Stripe user

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "User entity pointed to for this Stripe account."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/customer
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Customer id for this Stripe account."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/subscription
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Subscription id for this Stripe account."
  :db.install/_attribute :db.part/db}

 ;; verification

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "UUID to use for account verification."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/entity
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Entity this verification is applied to."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/attribute
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Entity attribute this verification is applied to."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/value
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Value of the attribute this verification is applied to."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/status
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Status of verification (e.g. activated or expired)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/created-at
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Timestamp of when the verification was created."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :verification/time-limit
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Time limit for when verification will expire."
  :db.install/_attribute :db.part/db}

 ;;verification status

 [:db/add #db/id[:db.part/user] :db/ident :verification.status/pending]
 [:db/add #db/id[:db.part/user] :db/ident :verification.status/verified]
 [:db/add #db/id[:db.part/user] :db/ident :verification.status/expired]

 ;; Budget

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :budget/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier for a budget."
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :budget/created-by
  :db/valueType          :db.type/ref
  :db/doc                "User who created this budget."
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :budget/name
  :db/valueType          :db.type/string
  :db/fulltext           true
  :db/doc                "Name for this budget."
  :db/cardinality        :db.cardinality/one
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :budget/created-at
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Timestamp of when the budget was created."
  :db.install/_attribute :db.part/db}

  ;; transactions

 {:db/id                 #db/id[:db.part/db]
  :db.install/_attribute :db.part/db
  :db/ident              :transaction/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier for a transaction."
  :db/cardinality        :db.cardinality/one}

 {:db/id                 #db/id[:db.part/db]
  :db.install/_attribute :db.part/db
  :db/ident              :transaction/budget
  :db/valueType          :db.type/ref
  :db/doc                "Budget that this transaction belongs to."
  :db/cardinality        :db.cardinality/one}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Title of the transaction. E.g. coffee, lunch or salary"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db.install/_attribute :db.part/db
  :db/ident              :transaction/details
  :db/valueType          :db.type/string
  :db/doc                "Details about a transaction. E.g. 'flight to thailand'"
  :db/cardinality        :db.cardinality/one}

 {:db/id                 #db/id[:db.part/db]
  :db.install/_attribute :db.part/db
  :db/ident              :transaction/date
  :db/valueType          :db.type/ref
  :db/doc                "Date of the transaction."
  :db/cardinality        :db.cardinality/one}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/tags,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/many,
  :db/doc                "Unique tags for a transaction. E.g. ['food' 'thailand']."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/created-at,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Timestamp for when the transaction was created."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/amount,
  :db/valueType          :db.type/bigint,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Amount of the transaction (cost or income)."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/currency,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Currency of the transaction."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/type,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Type of the transaction, such as income/expense."}

 [:db/add #db/id[:db.part/user] :db/ident :transaction.type/income]
 [:db/add #db/id[:db.part/user] :db/ident :transaction.type/expense]

  ;; Conversion

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :conversion/currency,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Currency conversion."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :conversion/rate,
  :db/valueType          :db.type/bigdec,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Conversion rate."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :conversion/date,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Date of the conversion."}

 ;; Date
 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :date/timestamp,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Date timestamp, at 12:00."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :date/year,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Year of date."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :date/month,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Month of year."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :date/day,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Day of month."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :date/ymd,
  :db/valueType          :db.type/string,
  :db/cardinality        :db.cardinality/one,
  :db/unique             :db.unique/identity
  :db/doc                "String representation of the date of the form 'yy-MM-dd'."}

  ;; Tag

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :tag/name,
  :db/unique             :db.unique/identity,
  :db/valueType          :db.type/string,
  :db/cardinality        :db.cardinality/one,
  :db/fulltext           true
  :db/doc                "Unique tag name."}

  ;; Currency

 {:db/id                 #db/id[:db.part/db],
  :db/ident              :currency/code,
  :db/unique             :db.unique/identity,
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one,
  :db/fulltext           true
  :db/doc                "Three letter currency code, e.g. 'USD'."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :currency/name,
  :db/valueType          :db.type/string,
  :db/fulltext           true
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Name of the currency."}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :currency/symbol
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "International symbol for the currency"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :currency/symbol-native
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Native symbol for the currency"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :currency/decimal-digits
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "How many decimal digits is used with the currency"
  :db.install/_attribute :db.part/db}
 ]
