{:streams [{:stream/name         "Wear and tear proof your clothes"
            :stream/store        #db/id[:db.part/user -100]
            :stream/viewer-count 8
            :stream/img-src      "https://img1.etsystatic.com/122/0/10558959/isla_500x500.21872363_66njj7uo.jpg"}
           {:stream/name         "What's up with thread count"
            :stream/store        #db/id[:db.part/user -1]
            :stream/viewer-count 13
            :stream/img-src      "https://img0.etsystatic.com/125/0/11651126/isla_500x500.17338368_6u0a6c4s.jpg"}
           {:stream/name         "Old looking leather, how?"
            :stream/store        #db/id[:db.part/user -2]
            :stream/viewer-count 43
            :stream/img-src      "https://img1.etsystatic.com/121/0/6396625/isla_500x500.17289961_hkw1djlp.jpg"}
           {:stream/name         "Talking wedding bands"
            :stream/store        #db/id[:db.part/user -3]
            :stream/viewer-count 3
            :stream/img-src      "https://img0.etsystatic.com/139/0/5243597/isla_500x500.22177516_ath1ugrh.jpg"}]

 :stores  [{:db/id              #db/id[:db.part/user -100]
            :store/name         "HeadnTail"
            :store/review-count 13
            :store/rating       4.5M
            :store/photo        "https://img1.etsystatic.com/122/0/10558959/isla_500x500.21872363_66njj7uo.jpg"
            :store/goods        [{:item/name    "Vintage 90's Fila Sport USA Sweatshirt Red Black Sport Trainer Sweater"
                                  :item/price   "$34.00"
                                  :item/img-src "https://img0.etsystatic.com/104/0/10558959/il_570xN.1015873526_1oed.jpg"
                                  :item/id      "00"}
                                 {:item/name    "Jean Michel Basquiat Pink T Shirt"
                                  :item/price   "$52.00"
                                  :item/img-src "https://img1.etsystatic.com/108/0/10558959/il_570xN.1060411775_k1ob.jpg"
                                  :item/id      "01"}
                                 {:item/name    "Vintage Tommy Hilfiger Short Pant Size 34"
                                  :item/price   "$134.00"
                                  :item/img-src "https://img1.etsystatic.com/146/0/10558959/il_570xN.1138598331_iu0t.jpg"
                                  :item/id      "02"}
                                 {:item/name    "Majestic Utah Jazz Hardwood Classics White Throwback NBA Basketball Jersey"
                                  :item/price   "$34.00"
                                  :item/img-src "https://img1.etsystatic.com/101/0/10558959/il_570xN.1038331841_gk1f.jpg"
                                  :item/id      "03"}]}
           {:db/id              #db/id[:db.part/user -1]
            :store/name         "MagicLinen"
            :store/rating       5M
            :store/cover        "https://img0.etsystatic.com/151/0/11651126/isbl_3360x840.22956500_1bj341c6.jpg"
            :store/photo        "https://img0.etsystatic.com/125/0/11651126/isla_500x500.17338368_6u0a6c4s.jpg"
            :store/review-count 8
            :store/goods        [{:item/name    "Linen duvet cover. Woodrose colour. Linen bedding. Stonewashed linen duvet cover. Taupe bedding. Linen bedding queen, king, double, twin."
                                  :item/price   "$34.00"
                                  :item/img-src "https://img1.etsystatic.com/141/1/11651126/il_570xN.1142044641_1j6c.jpg"
                                  :item/id      "10"}
                                 {:item/name    "Linen pillowcases with ribbons. Bow tie linen pillow cover. Natural linen pillow case. Pillow cases with ties. Romantic pillow cases"
                                  :item/price   "$52.00"
                                  :item/img-src "https://img0.etsystatic.com/137/0/11651126/il_570xN.1003284712_ip5e.jpg"
                                  :item/id      "11"}
                                 {:item/name    "Stone washed linen duvet cover, pleated. White linen bedding. Linen quilt cover. White duvet cover. Luxury, original, modern, handmade"
                                  :item/price   "$134.00"
                                  :item/img-src "https://img0.etsystatic.com/133/0/11651126/il_570xN.915745904_opjr.jpg"
                                  :item/id      "12"}
                                 {:item/name    "Linen fitted sheet. Aquamarine colour. Blue linen fitted sheet. Natural bed sheet. Softened. Green blue stone washed linen bed sheet"
                                  :item/price   "$34.00"
                                  :item/img-src "https://img1.etsystatic.com/126/0/11651126/il_570xN.1098073811_5ca0.jpg"
                                  :item/id      "13"}]}
           {:db/id           #db/id[:db.part/user -2]
            :store/name         "thislovesthat"
            :store/cover        "https://img1.etsystatic.com/126/0/6396625/iusb_760x100.17290451_heo8.jpg"
            :store/review-count 43
            :store/rating       3.5M
            :store/photo        "https://img1.etsystatic.com/121/0/6396625/isla_500x500.17289961_hkw1djlp.jpg"
            :store/goods        [{:item/name    "Glitter & Navy Blue Envelope Clutch"
                                  :item/img-src "https://img1.etsystatic.com/030/0/6396625/il_570xN.635631611_4c3s.jpg"
                                  :item/price   "$34.00"
                                  :item/id      "20"}
                                 {:item/name    "Mint Green & Gold Scallop Canvas Clutch"
                                  :item/img-src "https://img0.etsystatic.com/031/0/6396625/il_570xN.581066412_s3ff.jpg"
                                  :item/price   "$52.00"
                                  :item/id      "21"}
                                 {:item/name    "Modern Geometric Wood Bead Necklace"
                                  :item/price   "$134.00"
                                  :item/img-src "https://img0.etsystatic.com/045/1/6396625/il_570xN.723123424_ht5e.jpg"
                                  :item/id      "22"}
                                 {:item/name    "Modern Wood Teardrop Stud Earrings"
                                  :item/price   "$34.00"
                                  :item/img-src "https://img1.etsystatic.com/033/0/6396625/il_570xN.523107737_juvf.jpg"
                                  :item/id      "23"}]}
           {:db/id              #db/id[:db.part/user -3]
            :store/name         "Nafsika"
            :store/cover        "https://img1.etsystatic.com/133/0/5243597/isbl_3360x840.20468865_f7kumdbt.jpg"
            :store/review-count 22
            :store/rating       4.5M
            :store/photo        "https://img0.etsystatic.com/139/0/5243597/isla_500x500.22177516_ath1ugrh.jpg"
            :store/goods        [{:item/name    "Silver Twig Ring Milky Aquamarine Cabochon Light Blue March Birthstone Gifts for her Botanical Jewelry"
                                  :item/img-src "https://img0.etsystatic.com/036/1/5243597/il_570xN.654738182_2k08.jpg"
                                  :item/price   "$34.00"
                                  :item/id      "30"}
                                 {:item/name    "Bunny Charm Necklace, Bunny Necklace, Rabbit Necklace, Easter Gift, Child Necklace, Sterling silver, Rabbit Jewelry, Bunny Pendant"
                                  :item/img-src "https://img0.etsystatic.com/024/0/5243597/il_570xN.519102094_4gu0.jpg"
                                  :item/price   "$52.00"
                                  :item/id      "31"}
                                 {:item/name    "Red Moss Planter Fall Cube Necklace Sterling Silver Pendant Botanical Jewelry Novelty Pendant"
                                  :item/img-src "https://img0.etsystatic.com/140/1/5243597/il_570xN.964805038_b4eq.jpg"
                                  :item/price   "$134.00"
                                  :item/id      "32"}
                                 {:item/name    "Citrine Ring Elvish Twig Ring Branch Ring Thorn Jewelry November Birthstone Gifts for her Fine Jewelry"
                                  :item/img-src "https://img0.etsystatic.com/139/3/5243597/il_570xN.931188156_qhqe.jpg"
                                  :item/price   "$34.00"
                                  :item/id      "33"}]}
           {:db/id              #db/id[:db.part/user -4]
            :store/name         "FlowerRainbowNJ"
            :store/cover        "https://img1.etsystatic.com/142/0/10419159/isbl_3360x840.23915763_oyuug7tu.jpg"
            :store/review-count 132
            :store/rating       4.5M
            :store/photo        "https://img0.etsystatic.com/070/0/10419159/isla_500x500.15898658_8drjcd1j.jpg"
            :store/goods        [{:item/name    "Christmas Sale 25% OFF Opal nose studs x5, set of nose studs, tiny nose stud, gold nose stud, small nose stud, tiny stud, nose stud opal, pi"
                                  :item/img-src "https://img1.etsystatic.com/162/0/10419159/il_570xN.1142775003_oe2z.jpg"
                                  :item/price   "$24.74"
                                  :item/id      "40"}
                                 {:item/name    "Christmas Sale 25% OFF Small tragus ring, tiny tragus hoop, gold tragus jewelry, tragus earring, silver tragus hoops, tragus earrings gold,"
                                  :item/img-src "https://img1.etsystatic.com/150/1/10419159/il_570xN.1142779459_chfq.jpg"
                                  :item/price   "$4.49"
                                  :item/id      "41"}
                                 {:item/name    "Christmas Sale 25% OFF Tiny hoop nose ring 20g, nose ring gold, gold nosering, septum nose ring, nose ring silver, nose ring hoop, nose ring"
                                  :item/img-src "https://img0.etsystatic.com/157/1/10419159/il_570xN.1096187952_ecv9.jpg"
                                  :item/price   "$6.37"
                                  :item/id      "42"}
                                 {:item/name    "Christmas Sale 25% OFF Opal nose hoop, silver nose ring, tiny nose hoop, opal nose ring, nose hoop 18g, nose ring hoop, nose piercing, nose Christmas Sale 25% OFF Opal nose hoop, silver nose ring, tiny nose hoop, opal nose ring, nose hoop 18g, nose ring hoop, nose piercing, nose Christmas Sale 25% OFF Opal nose hoop, silver nose ring, "
                                  :item/img-src "https://img0.etsystatic.com/141/1/10419159/il_570xN.1096187360_ohgo.jpg"
                                  :item/price   "$6.74"
                                  :item/id      "43"}]}]}