#sulo-city-banner {
	.photo-container.cover {
		.photo {
			padding-top: 60%;
			@include breakpoint(medium) {
				padding-top: 20%;
			}
			@include breakpoint(large) {
				padding-top: 15%;
			}
			@include breakpoint(xlarge) {
				padding-top: 10%;
			}
		}
		.overlay {
			.content {
				flex: 1;
			}
			background: rgba($primary-color, 0.5) !important;
		}
	}
	input {
		margin: 0;
		// max-width: 20rem;
		flex: 0;
	}

	color: $white;
	h1 {
		margin: 0;
		display: flex;
		align-items: center;
		// text-transform: uppercase;
		// font-weight: bold;
		letter-spacing: 1px;
		// font-size: 70%;
		i {
			display: none !important;
			font-size: 100%;
			margin-right: 0.5rem;
			margin-bottom: 0.25rem;
		}
	// font-size: 2rem;
		@include breakpoint(large) {
			font-size: rem-calc(36);
		}
	}
	.icon {
		font-size: 120%;
		opacity: 1;
		display: inline-block;
		margin-right: 0.5rem;
		width: 50px;
		height:50px;
		padding: 0;
	}
	.header {
		// text-transform: uppercase;
		// font-weight: bold;
	}
	
	.button {
		font-weight: $global-weight-bold;
	}
	.input-container {
		display: flex;
		input {
			margin: 0;
		}
		.button {
			margin: 0;
			flex: 0;
		}
	}
}