.footer {
	background: $footer-background-color;
	color: $footer-header-color;
	padding: 2rem 0;
	i {
		font-size: 1.2rem;
	}
	a {
		color: $footer-font-color;
		font-weight: $global-weight-normal;
		font-size: 85%;
		letter-spacing: 0.5px;
	}
	.menu li a, .menu .menu-text {
		padding: 0.5rem 0.75rem;
	}
	footer {
		max-width: $dashboard-content-width;
		margin: auto auto;
		height: 100%;
	}
	width: 100%;
	@include breakpoint(medium) {
		// padding-top: 0.75rem;
	}

	.social {
		margin-top: $global-margin;
		padding-top: $global-padding;
		border-top: 1px dotted darken($primary-color, 10%);
		@include breakpoint(medium) {
			// text-align: right;
			// margin-top: 0;
		}
		.icon {
			opacity: 0.75;
			height: 30px;
			width: 30px;
		}
	}
	.sub-item {
		font-size: 80%;
		span {
			color: $medium-gray;
		}
	}
	ul.location-menu {
		.menu-text {
			padding: 0.7rem 0;
		}
	}
	h5 {
		font-size: 90%; 
		// font-weight: $global-weight-normal;
	}

	.footer-header {
		// text-transform: none;
		// color: $white;
		margin: 0;
		// font-weight: $global-weight-normal;
	}
}