// #0c4b9f24_1497385671 {
// 	#appView {
// 		.socialFeed {
// 			opacity: 0;
// 		}
// 		.powrMark {
// 			// display: none !important;
// 		}
// 	}
// }
#sulo-landing {
	$sulo-color: rgba(map-get($foundation-palette, sulo), 0.8);
	.section {
		margin-top: 1%;
		.section-title {
			margin-bottom: 2rem;
		}
		.section-footer {
			// margin-top: 0;
		}
	}
	.is-invalid-input {
		background: #FFFBFB;
	}
	.instagram-feed {
		.section-footer {
			margin-top: 0;
		}
		// margin-bottom: 1%;
	}
	.section {
		// padding-bottom: 3rem;
	}
	.powr-instagram-feed {
		// i {
		// 	transition: opacity
		// }
		&.powrLoaded {
			i {
				opacity: 0;
			}
		}
	}
	.page-content {
		padding-bottom: 6rem;
	}
	#sulo-navbar {
		.menu {
			.shopping-bag, .search-input {
				display: none;
			}
		}
	}
	
	// strong {
		// font-family: $header-font-family-sans-serif;
		// font-weight: bold;
	// }
	.cover {
		text-align: center;
		color: $white;
		.overlay {
			$background: map-get($foundation-palette, primary);
			background: rgba($black, 0.5);
			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.photo {
			padding-top: 100%;
			// filter: blur(3px);
			@include breakpoint(medium-small) {
				padding-top: 80%;
			}
			@include breakpoint(medium) {
				padding-top: 50%;
			}
			@include breakpoint(xlarge) {
				padding-top: 35%;
			}
		}
		h1 {
			// font-weight: bold;
			text-shadow: 1px 1px 1px rgba($black, 0.5);
		}
		p {
			margin: 0 auto;
			text-shadow: 1px 1px 1px rgba($black, 0.5);
			// font-family: $header-font-family-sans-serif;
			// font-size: 110%;
			font-weight: $global-weight-bold;
			// color: map-get($foundation-palette, sulo-dark);
			@include breakpoint(medium) {
				font-size: 130%;
			}
			max-width: 40rem;

			
		}
	}

	.top-features {
		padding: 0.5rem;
		margin-top: 2rem;
		// background: $sulo-color;
		// margin-top: 5%;
		// color: $white;
		// strong {
		// 	// color: map-get($foundation-palette, sulo-dark);
		// }
		h4 {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 90%;
			margin-bottom: 0;
		}
		.feature-item {
			.column {
				padding: 0;
				&:last-child {
					margin-left: 1rem;
				}
			}
			.icon {
				width: auto;
				height: auto;
				svg {
					width: 100%;
				}
			}
			@include breakpoint(medium) {
				text-align: center;
				.column {
					padding: 0 1rem;
				}
				.column:last-child {
					margin: 0;
				}
			}
		}
	}

	.column {
		// margin-top: $global-margin;
		.photo-container {
			.photo {
				padding-top: 75%;
				// @include breakpoint(medium-small) {
				// 	padding-top: 75%;
				// }
				@include breakpoint(medium) {
					padding-top: 50%;
				}
				@include breakpoint(large) {
					padding-top: 35%;
				}
			}
		}
		a.city-anchor {
			display: block;
			color: $white;
			img {
				// background-size: 100%;
				transition: transform .25s ease-in-out;
			}
			overflow: hidden;

			.photo-container {
				.photo {
					transition: filter .25s ease-in-out;
				}
				.overlay {
					background: rgba($black, 0.5);
					transition: background .25s ease-in-out;
					.content {
						flex: 1;
						display: flex;
						flex-direction: column;
						align-items: center;
						> div {
							display: flex;
							flex-direction: column;
							align-items: center;
							@include breakpoint(medium) {
								transform: translateY(25%); 
							}
							.button {
								margin-top: 0.5rem;
								opacity: 0.9;
								flex: 0 0 auto;
								font-weight: bold;
								border-width: 2px;
								color: $white;
								border-color: $white;
								transition: all .25s ease-in-out;
								// padding: 0.5rem 1.5rem;
							}
						}
					}
					
					p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						position: absolute;
						vertical-align: middle;
						bottom: 0;
						width: 100%;
						font-family: $header-font-family-sans-serif;
					}
					strong, p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						font-weight: $global-weight-bold;
						font-size: 120%;
						@include breakpoint(medium) {
							font-size: 180%;
						}
					}
					strong {
						text-transform: uppercase;
						// text-shadow: 1px 1px 1px rgba($white, 0.5);
						font-weight: bold;
						letter-spacing: 1px;
					}
				}
			}
			&:hover, &.inactive {
				color: $black;
				.photo-container {
					.photo {
						// filter: blur(2px);
					}
					img {
						transform: scale(1.02);
					}
					.overlay {
						background: rgba($white, 0.75);
						.content {
							background: transparent;
							.button {
								color: $black;
								border-color: $black;
							}
						}
					}
				}				
			}
			&.inactive {
				cursor: default;
				.photo-container .overlay {
					background: rgba($white, 0.75);
				}
				color: rgba($black, 0.75);
			}
		}
	}

	.suggest-location {
		$background: map-get($foundation-palette, banner);
		font-size: 1rem;

		.column {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h3 {
			color: $white;
			text-transform: none;
			font-weight: $global-weight-bold;
			margin-bottom: 0.5rem;
		}
		a, p {
			text-shadow: none;
			font-weight: $global-weight-normal;
		}
		img {
			display: none;
		}
		.photo-container {
			// padding-top: 100%
			.photo {
				@include breakpoint(small only) {
					padding-top: 110%;
				}	
				@include breakpoint(medium-small only) {
					padding-top: 80%;
				}
			}
			.content {
				padding: $global-padding;
			}
			p.user-message {
				line-height: 1;
			}
			.overlay {
				$background: map-get($foundation-palette, sulo);
				background: $sulo-color;//rgba($background, 0.9);
			}
		}
		.input-container {
			width: 100%;
			// padding: 0 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// flex: 1;
			flex-wrap: wrap;
			@include breakpoint(medium) {
				flex-direction: row;
			}
			input {
				max-width: 100%;
				width: 100%;
				@include breakpoint(medium) {
					width: 15rem;
				}
				flex: 1 0 auto;
				margin-right: 1rem;
			}
			.button {
				flex: 0 0 auto;
				// margin-left: 1rem;
			}
		}
	}

	.sell-on-sulo {
		// margin-bottom: 1rem;
	}
}