#sulo-landing {
	.page-content {
		padding-bottom: 4rem;
	}
	#sulo-navbar {
		.menu {
			.shopping-bag, .search-input {
				display: none;
			}
		}
	}
	
	strong {
		font-family: $header-font-family-sans-serif;//'Montserrat', Helvetica, Arial, sans-serif
		font-weight: bold;
	}
	.cover {
		text-align: center;
		text-shadow: 1px 1px 0 rgba(map-get($foundation-palette, search), 1);
		color: $white;
		// min-height: 100vh;
		.overlay {
			$background: map-get($foundation-palette, search);
			background: rgba($background, 0.9);
			// align-items: flex-start;
			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.photo {
			padding-top: 100%;
			@include breakpoint(medium) {
				padding-top: 35%;
			}
			img {
				// object-position: bottom center;
			}
			// background-position: bottom center;
		}
		p {
				font-family: 'Montserrat', Helvetica, Arial, sans-serif;
			font-size: 110%;
			@include breakpoint(medium) {
				font-size: 130%;
			}
			font-weight: $global-weight-bold;
			max-width: 30rem;
		}
	}

	.top-features {
		padding: 0.5rem;
		margin-top: 5%;
		.feature-item {
			.icon {
				width: auto;
				height: auto;
			}
			@include breakpoint(medium) {
				text-align: center;
			}
		}
	}

	.column {
		a.city-anchor {
			// margin-bottom: 4rem;
			display: block;
			color: $white;
			img {
				background-size: 100%;
				object-position: bottom center; 
				transition: transform .25s ease-in-out;
			}

			.photo-container {
				.photo {
					padding-top: 50%;
					@include breakpoint(medium) {
						padding-top: 40%;
					}
				}
				.overlay {
					$background: map-get($foundation-palette, search);
					background: rgba($primary-color, 0.25);
					transition: background .25s ease-in-out;
					.content {
						flex: 1;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					
					p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						position: absolute;
						// bottom: 0;
						vertical-align: middle;
						// left: 0;
						margin-top: 2rem;
						// margin-right: auto;
						// margin-left: auto;
						width: 100%;
						// padding-left: 0.5rem;
						// margin: 0;
						font-family: 'Montserrat', Helvetica, Arial, sans-serif
						// color: $white;
						// margin: 0 auto;
					}
					strong, p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						// text-shadow: 1px 1px 3px rgba($white, 0.5);
						font-weight: $global-weight-bold;
						font-size: 120%;
						@include breakpoint(medium) {
							font-size: 180%;
						}
						// text-transform: uppercase;
						// color: $white;
					}
					strong {
						font-family: 'Montserrat', Helvetica, Arial, sans-serif;
						text-transform: uppercase;
						font-weight: bold;
					}
					&:hover {
						
					}
				
				}
			}
			&:hover, &.inactive {
				color: $black;
				.photo-container {
					img {
						transform: scale(1.02);
					}
					.overlay {
						background: rgba($white, 0.5);
						.content {
							background: transparent;
						}
					}
				}				
			}
			&.inactive {
				cursor: default;
				.photo-container .overlay {
					background: rgba($white, 0.75);
				}
				color: rgba($black, 0.75);
			}
		}

		.section-title {
			margin-top: 3rem;
			letter-spacing: 0;
			@include breakpoint(large) {
				margin-top: 8%;
				margin-bottom: 5%;
			}
			h2 {
				font-weight: $global-weight-bold;
			}
		}
		// p {
		// 	font-size: 150%:
		// 	@include breakpoint(large) {
		// 		font-size: 180%;
		// 	}
		// 	// color: $white;
		// 	text-transform: uppercase;
		// 	font-weight: $global-weight-bold;
		// 	small {
		// 		text-transform: none;
		// 	}
		// }
	}
	.locations {
		padding-bottom: 2rem;
	}

	.suggest-location {
		$background: map-get($foundation-palette, banner);
		// background: $background;//rgba($primary-color, 0.1);
		font-size: 1rem;

		.column {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h3 {
			color: $white;
			text-transform: none;
			font-weight: $global-weight-bold;
		}
		a {
			text-shadow: none;
		}
		img {
			display: none;
		}
		.input-container {
			width: 100%;
			padding: 0 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// flex: 1;
			flex-wrap: wrap;
			@include breakpoint(medium) {
				flex-direction: row;
			}
			input {
				max-width: 100%;
				width: 100%;
				@include breakpoint(medium) {
					width: 15rem;
				}
				flex: 1 0 auto;
				margin-right: 1rem;
			}
			.button {
				flex: 0 0 auto;
				// margin-left: 1rem;
			}
		}
	}

	.sell-on-sulo {
		margin-bottom: 1rem;
		
		// max-width: 40rem;
		// marg
	}

	// .footer {
	// 	display: none;
	// }
}