// #0c4b9f24_1497385671 {
// 	#appView {
// 		.socialFeed {
// 			opacity: 0;
// 		}
// 		.powrMark {
// 			// display: none !important;
// 		}
// 	}
// }
#sulo-landing {
	.instagram-feed {
		// margin: 0 auto;
	}
	.section {
		padding-bottom: 3rem;
	}
	.powr-instagram-feed {
		// i {
		// 	transition: opacity
		// }
		&.powrLoaded {
			i {
				opacity: 0;
			}
		}
	}
	.page-content {
		padding-bottom: 0;
	}
	#sulo-navbar {
		.menu {
			.shopping-bag, .search-input {
				display: none;
			}
		}
	}
	
	strong {
		font-family: $header-font-family-sans-serif;
		font-weight: bold;
	}
	.cover {
		text-align: center;
		color: $white;
		.overlay {
			$background: map-get($foundation-palette, search);
			background: rgba($background, 0.9);
			.content {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		.photo {
			padding-top: 70%;
			@include breakpoint(medium) {
				padding-top: 30%;
			}
		}
		p {
			font-family: $header-font-family-sans-serif;
			font-size: 110%;
			@include breakpoint(medium) {
				font-size: 130%;
			}
			max-width: 30rem;
		}
	}

	.top-features {
		padding: 0.5rem;
		margin-top: 5%;
		.feature-item {
			.column {
				padding: 0;
				&:last-child {
					margin-left: 1rem;
				}
			}
			.icon {
				width: auto;
				height: auto;
				svg {
					width: 100%;
				}
			}
			@include breakpoint(medium) {
				text-align: center;
				.column {
					padding: 0 1rem;
				}
				.column:last-child {
					margin: 0;
				}
			}
		}
	}

	.column {
		.photo-container {
			.photo {
				padding-top: 55%;
				@include breakpoint(medium) {
					padding-top: 35%;
				}
			}
		}
		a.city-anchor {
			// margin-bottom: 4rem;
			display: block;
			color: $white;
			img {
				background-size: 100%;
				object-position: bottom center; 
				transition: transform .25s ease-in-out;
			}

			.photo-container {
				.overlay {
					background: rgba($primary-color, 0.25);
					transition: background .25s ease-in-out;
					.content {
						flex: 1;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
					
					p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						position: absolute;
						vertical-align: middle;
						bottom: 0;
						width: 100%;
						font-family: $header-font-family-sans-serif;
					}
					strong, p {
						transition: color .25s ease-in-out, text-shadow .25s ease-in-out;
						font-weight: $global-weight-bold;
						font-size: 120%;
						@include breakpoint(medium) {
							font-size: 180%;
						}
					}
					strong {
						text-transform: uppercase;
						font-weight: bold;
					}
				}
			}
			&:hover, &.inactive {
				color: $black;
				.photo-container {
					img {
						transform: scale(1.02);
					}
					.overlay {
						background: rgba($white, 0.5);
						.content {
							background: transparent;
						}
					}
				}				
			}
			&.inactive {
				cursor: default;
				.photo-container .overlay {
					background: rgba($white, 0.75);
				}
				color: rgba($black, 0.75);
			}
		}

		.section-title {
			margin-top: 3rem;
			letter-spacing: 0;
			@include breakpoint(large) {
				margin-top: 8%;
				margin-bottom: 5%;
			}
			h2 {
				font-weight: $global-weight-bold;
			}
		}
	}
	.locations {
		padding-bottom: 2rem;
	}

	.suggest-location {
		$background: map-get($foundation-palette, banner);
		font-size: 1rem;

		.column {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h3 {
			color: $white;
			text-transform: none;
			font-weight: $global-weight-bold;
			margin-bottom: 0.5rem;
		}
		a {
			text-shadow: none;
		}
		img {
			display: none;
		}
		.photo-container .photo {
			@include breakpoint(small only) {
				padding-top: 90%;
			}	
		}
		.input-container {
			width: 100%;
			padding: 0 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			// flex: 1;
			flex-wrap: wrap;
			@include breakpoint(medium) {
				flex-direction: row;
			}
			input {
				max-width: 100%;
				width: 100%;
				@include breakpoint(medium) {
					width: 15rem;
				}
				flex: 1 0 auto;
				margin-right: 1rem;
			}
			.button {
				flex: 0 0 auto;
				// margin-left: 1rem;
			}
		}
	}

	.sell-on-sulo {
		margin-bottom: 1rem;
	}
}