
// $transition-ease-in-out: .25s ease-in-out;

@mixin circle-indicator-style(
  $fill: none,
  $border: 1px solid $light-gray,
  $inset: none) {
  background: $fill;
  @if $inset != none {
    box-shadow: inset 0 3px 3px 0 $inset;
  }
  border: $border;
}

@mixin balance-indicator($enabled: true) {
  @if $enabled {
    @include circle-indicator-style($light-blue-a15, 1px solid $light-blue, $light-blue);
  } @else {
    @include circle-indicator-style($darkblue-a10, 1px solid $darkblue-a25, $darkblue-a25);
  }
}

@mixin spent-indicator($enabled: true) {
  @if $enabled {
    @include circle-indicator-style(none, 4px solid $orange);
  } @else {
    @include circle-indicator-style(none, 4px solid $light-gray);
  }
}

.focus-overlay {
  pointer-events: all;
  fill: none;
}
.focus {
  rect.guide {
    fill: $darkblue-a25;
    width: 1px;
  }
  circle.point {
    fill: white;
    stroke-width: 3;

    &.balance {
      stroke: $light-blue;
    }
    &.spent {
      stroke: $orange;
    }
  }
}

// .svg-container {
//   display: inline-block;
//   position: relative;
//   width: 100%;
//   padding-bottom: 100%; /* aspect ratio */
//   vertical-align: top;
//   overflow: hidden;
// }

// .svg-content {
//   display: inline-block;
//   position: absolute;
//   top: 10px;
//   left: 0;
// }

// .brush {
//   .extent {
//     stroke: #fff;
//     fill: $light-gray;
//     fill-opacity: 0.5;
//     shape-rendering: crispEdges
//   }
// }

.circle {
    border-radius: 50%;
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 0.5rem;
    &.balance {
      @include balance-indicator(true);
    }
    &.spent {
      @include spent-indicator(true);  
    }
  }

.d3.tooltip {
  background: $white;
  color: $black;
  border: 1px solid $secondary-color;
  box-shadow: 0 1px 3px 0 $darkblue-a25;
  font-size: 1rem;

  &::before {
    content: none;
  }
  .header {
    padding-bottom: 0.5rem;
  }
  .title {
    font-size: 85%;
    font-weight: bold;
  }
  .values {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid $light-gray;
  }
  .color {
    height: 1rem;
    width: 1rem;
    margin-right: 0.5rem;
  }
}

// .tick {
//   line {
//     opacity: 0.6;
//     fill: none;
//     shape-rendering: crispEdges;
//     stroke: $secondary-color;
//   }

//   text {
//     color: $black;
//     stroke: none;
//     font-size: 0.75em;
//   }
// }

// text.bar {
//   color: $black;
//   stroke: none;
//   font-weight:bold;
//   font-size: 0.75em;
//   opacity: 0;
  
//   @include breakpoint(medium) {
//     opacity: 1;
//   }
// }

// .area,
// .bar {
//   opacity: 0.7;
//   transition: opacity $transition-ease-in-out;
//   &:hover {
//     opacity: 0.9;
//   }
// }

// .bar-chart {
//   .y.axis {
//     .tick text {
//       visibility: hidden;
//     }
//   }
//   .x.axis {
//     .tick {
//       stroke: none;
//     }
//     text {
//       opacity: 1;
//       transition: opacity $transition-ease-in-out;
//     }
//     &.hidden {
//       text {
//         opacity: 0;
//       }
//     }
//   }
// }

// .node {
//   font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
//   fill: #bbb;
// }

// .node:hover {
//   fill: #000;
// }

// .link {
//   stroke: $secondary-color;
//   stroke-opacity: .4;
//   fill: none;
//   pointer-events: none;
// }

// .node:hover,
// .node--source,
// .node--target {
//   font-weight: 700;
// }

// .node--source {
//   fill: #2ca02c;
// }

// .node--target {
//   fill: #d62728;
// }

// .link--source,
// .link--target {
//   stroke-opacity: 1;
//   stroke-width: 2px;
// }

// .link--source, 
// .link--target{
//   stroke: #d62728;
// }

// // .link--target {
// //   stroke: #2ca02c;
// // }

// .line-chart,
// .burndown-chart {
//   .y.axis {
//     .tick text {
//       visibility: hidden;
//     }
//   }
//   .line {
//     fill: none;
//     stroke-width: 2px;
//     // shape-rendering: crispEdges;

//     transition: stroke-width $transition-ease-in-out;
//     &:hover {
//       stroke-width: 3px;
//   //stroke: #ef0d0c;
//     }
//   }
// }

// .circle-progress {
//   path {
//     transition: opacity $transition-ease-in-out;
//     opacity: 0.9;
//   }
//   .foreground,
//   .background {
//     &:hover {
//       opacity: 1;
//     }
//   }
// }

// .date-txt {
//     text-transform: lowercase;
//     font-variant: small-caps;
//     font-style: normal;
//     letter-spacing: 1px;
// }
// .val-txt {
//   font-weight: bold;
// }

// .data-point {
//   opacity:0.5;
// }
