$callout-zindex: 2;
$navbar-zindex: 3;
$click-outside-target-zindex: 4;

$dropdown-zindex: 5;
$text-shadow: 2px 2px 3px $darkblue-a50;

// body {
//   min-width: 75rem;
// }

.empty-message {
  margin: 1em;
  color: $dark-gray;
}

.button {
	// border-radius: 100px;
	font-weight: 500;
	// &.black {
	// 	@include button-style($black, auto);
		
	// 	&.hollow {
	// 		@include button-hollow;
	// 		@include button-hollow-style($black);
	// 	}
	// }

	// &.facebook {
	// 	@include button-style($facebook-color, auto);
	// }
	// &.twitter {
	// 	@include button-style($twitter-color, auto);
	// }
	// &.google {
	// 	@include button-style($google-color, auto);
	// }
}
// .flex {
//   display:flex;
//   align-items:center;
//   justify-content:center;
// }

// .flex-row {
//   flex-direction:row;
// }

// .flex-column {
//   flex-direction:column;
// }

footer {
  padding: 0 0;
  background-color: transparent;
}

p.copyright {
  color: $white;
  font-size: 75%;
  // margin: 15px 0px 0px;
}

.header {
	@extend h5;
	font-weight: 500;
}

.click-outside-target {
	@extend .reveal-overlay;
	z-index: $click-outside-target-zindex;
	display: block;
	background: transparent;
}

.truncate {
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

thead {
	background: $white;
	tr.week {
		color: $black;
	}
}
 

// Mixins for applying shados to elements: 
// {$pos} : offset of the shadow, "bottom" or "center" (default "bottom")
// {$color} : Shadow color, default is darkblue alpha 0.1
@mixin shadow-style(
 	$pos: "bottom",
 	$color: $darkblue-a10) {
 	@if $pos == "bottom" {
 		box-shadow: 0 1px 3px 0px $color;
 		border: 1px solid $color;
 	} @else if $pos == "center" {
 		box-shadow : 0 0 3px 0 $color;
 		border: 1px solid $color;
 	}
 }

// Bottom offset drop shadow for element
// {$color} : Shadow color
 @mixin shadow-bottom($color: $darkblue-a10) {
 	@include shadow-style("bottom", $color);
 }

// Center offset drop shadow for an element 
// {$color}: Colr of the drop shadow
 @mixin shadow-center($color: $darkblue-a10) {
 	@include shadow-style("center", $color);
 }
