$darkblue: #0B2941;
$darkblue-a50: rgba(11,41,65, 0.5);
$darkblue-a25: rgba(11,41,65, 0.25);
$darkblue-a10: rgba(11,41,65, 0.1);

$light-blue: #57BFBF;
$light-blue-a15: rgba(87,191,191, 0.15);
$lightblue-a5: rgba(87,191,191, 0.05);

$orange: #ED9C40;
$orange-a15: rgba(237,156,64,0.15);


$hover-bg: 			rgba($orange, 0.1);//lighten($light-blue-a15, 30%);
$hover-color: 		$light-blue;
$hover-border: 		1px solid darken($hover-bg,10%);

$selected-bg: 		$light-blue-a15;
$selected-border: 	1px solid darken($selected-bg, 10%);

// Social colors
$facebook-color: 	#3b5998;
$twitter-color: 	#55acee;
$google-color:		#dd4b39;
$foursquare-color: 	#f94877;
$flickr-color: 		#ff0084;
$dropbox-color: 	#1087dd;
$github-color: 		#444;
$linkedin-color: 	#005983;
$pinterest-color: 	#cb2027;

.fill-darkblue {
	fill: $darkblue;
}

.fill-white {
	fill: white;
}

.stroke-darkblue {
	stroke: $darkblue;
	stroke-width: 6;
	stroke-location: inside;
}