#jm-signup {
  label {
    color: $white;
  }
  a.link {
    color: $orange;
    text-shadow:  none;
    &:hover {
      color: darken($orange, 15%);
    }
  }
  .accept-terms {
    margin-top: 2rem;
  }
}

#signup-page {
	background: $darkblue;
	height: 100%;
}
#signup {
	display: flex;
	justify-content: center;
	hr {
		border-color: $white;
	}

	.content-section {
		margin: 0 auto;
		max-width: 50rem;
		width: 100%;
	}

	.input-section {
		display: flex;
		flex-direction: column;
		align-items: center;

		margin: 0 0 1rem 0;
		input {
			width: 100%;
			max-width: 30rem;
		}
		.message {
			min-height: 1rem;
			margin-bottom: 0.5rem;
		}
	}
	.message {
		&:empty:before {
			content: "\200b";
		}
		min-height: 1rem;
	}

	.divider {
		margin: 2rem 0 1rem 0;
	}
	.title {
		margin-bottom: 2rem;
	}

	.message-appear {
		opacity: 0;
	}
	.message-enter {
		opacity: 0;
		&.message-enter-active {
			opacity: 1;
			transition: opacity 0.25s ease-in;
		}
	}
	.message-leave {
		opacity: 1;
		&.message-leave-active {
			opacity: 0;
			transition: opacity 0.25s ease-in;
		}
	}
}