$border: 1px solid;
$bottom-shadow: 0 1px 3px 0px;
$center-shadow: 0 0 3px 0 $darkblue-a50;
$text-shadow: 2px 2px 3px $darkblue-a50;


$topnav-height: 2.5rem;
$subnav-height: 3rem;

.menu {
  .menu-text.header {
    color: $darkblue-a50;
    font-weight: bold;
    font-size: 75%;
    text-transform: uppercase;
  }

  &.dropdown {
    @include shadow-bottom();
    background: $white;
    position: fixed;
    border: 1px solid $darkblue-a10;
    box-shadow: $bottom-shadow $darkblue-a10;
    z-index: $dropdown-zindex;

    hr {
      margin: 0.1rem auto;
      border-bottom: 1px solid $light-gray;
    }
    .secondary-action {
      font-weight: bold;

      &.disabled {
        pointer-events: none;

        > * {
          color: $medium-gray;
        }
      }
    }
  }
}

#jm-app {
  height: 100%;
}

#jm-ui {
  min-height: 100%;
  min-width: 75rem;
  position: relative;
}

#nav-container {
  min-width: 75rem;
  position: fixed;
  z-index: $navbar-zindex;
  width: 100%;
  top: 0;
  background: $white;
}

#page-content {
  margin-top: $topnav-height + $subnav-height;
  padding-bottom: 3rem;
}

#footer-container {
  position: absolute;
  height: 3rem;
  bottom: 0;
}

#topnav {
  height: $topnav-height;
}

#subnav {
  height: $subnav-height;

  .submenu-icon {
    height: 24px;
    width: 24px;

    &.active,
    &:hover {
      path {
        fill: $primary-color;
      }
    }
    path {
      fill: $darkblue-a25;
    }
  }
}

.navbar-brand {
  padding: 1rem;
  font-weight: bold;
  color: $black;
  &:hover {
    color: $black;
  }
}

.footer {
  padding: 0.5rem 1rem;
  color: $black;
}

@mixin navbar-style(
  $border-color: $darkblue-a10, 
  $shadow-color: $border-color) {
  box-shadow: 0 1px 3px 0px $shadow-color;
  border-bottom: 1px solid $border-color;
}

@mixin navbar () {
  .top-bar-container {
    min-width: 75rem;
    @include navbar-style($shadow-color: none);
    .top-bar {
      width: 100%;
      min-width: 75rem;
      a {
        // font-weight: 500;
        margin: 0 0.75rem;
      }
      .top-bar-right {
        float: right;
        width: auto;
      }
      .top-bar-left {
        float: left;
        width: auto;
      }
    }

    &.subnav {
      @include navbar-style;
    }
  }
}

// .subscribe-modal {
//   .subscribe-input {
//     display: flex;
//     flex-direction: row;
//     input {
//       margin-right: 1em;
//     }
//     a.button {
//       flex: 0 0 auto;
//     }
//   }
//   a.mail-link {
//     color: $primary-color;
//     &:hover {
//       color: $black;
//     }
//   }
// }

