#sulo-wowza {
	$default-color: $black;//map-get($foundation-palette, primary);
	$mc-color: map-get($foundation-palette, highlight);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	#sulo-wowza-UI {
		#sulo-wowza-OverlayPlay, #sulo-wowza-SeekBarPlayed {
			background: rgba($default-color, 0.8);
		}
		#sulo-wowza-MediaController-BitrateSelector {
			display: none;
			color: $default-color;
			border-color: $default-color;
			&:hover {
				background: $default-color;
				color: $white;
			}
		}
		#sulo-wowza-MediaController-BitrateSelector-Palette {
			.sulo-wowza-PaletteLink {
				&.sulo-wowza-Selected, &:hover {
					color: $default-color;
				}
			}
		}
		.sulo-wowza-SVGAsset {
			&.sulo-wowza-Play:hover {
				background: url('data:image/svg+xml;charset=UTF-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2093.361%20105.96">
					<path%20d%3D"M90.352%2047.768c4.012%202.316%204.012%208.107%200%2010.424L49.69
					%2081.669%209.027%20105.145C5.015%20107.462%200%20104.566%200%2099.933L0%2052.98
					%200%206.027c0-4.633%205.015-7.528%209.027-5.212L49.69%2024.292%2090.352%2047.768z"
					%20fill%3D"'+ $mc-color +'"%2F><%2Fsvg>') no-repeat center center;
				background-size: 55.1875%;
			}
			&.sulo-wowza-Pause:hover {
				background: url('data:image/svg+xml;charset=UTF-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2059.064%2088.174">
					<path%20d%3D"M16.859%2088.174H3.154C1.412%2088.174%200%2086.762%200%2085.02V3.154C0%201.412
					%201.412%200%203.154%200h13.705c1.742%200%203.154%201.412%203.154%203.154V85.02C20.014%2086.762
					%2018.601%2088.174%2016.859%2088.174z"%20fill%3D"' + $mc-color + '"%2F><path%20d%3D"M55.91%2088.174H42.205c-1.742
					%200-3.154-1.412-3.154-3.154V3.154C39.051%201.412%2040.463%200%2042.205%200H55.91c1.742%200%203.154%201.412
					%203.154%203.154V85.02C59.064%2086.762%2057.652%2088.174%2055.91%2088.174z"%20fill%3D"' + $mc-color +'"%2F><%2Fsvg>') no-repeat center center;
				background-size: 45.923958%;
			}
			&.sulo-wowza-VolumeOn:hover {
				background: url('data:image/svg+xml;charset=UTF-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%20192%20192">
					<path%20fill%3D"'+ $mc-color +'"%20d%3D"M87.52%20140.53L50.89%20114.4H22.74V81.26H50.89L87.52%2055.12v85.41ZM28.9
					%20108.24h24l28.5%2020.34V67.08L52.86%2087.42h-24v20.82Z"%2F><path%20fill%3D"' + $mc-color + '"%20d%3D"M128.4
					%2095.28a41.54%2041.54%200%200%200-12.21-29.45l-4.35%204.35a35.39%2035.39%200%200%201-1.27%2051.35l4.14
					%204.55A41.51%2041.51%200%200%200%20128.4%2095.28Z"%2F><path%20fill%3D"' + $mc-color + '"%20d%3D"M148.4%2095.28A61.47
					%2061.47%200%200%200%20130.32%2051.7L126%2056.05a55.31%2055.31%200%200%201-2%2080.24l4.14%204.55A61.44%2061.44
					%200%200%200%20148.4%2095.28Z"%2F><path%20fill%3D"' + $mc-color + '"%20d%3D"M170.39%2095.28a83.4%2083.4%200%200%200-24.53-59.13l-4.35
					%204.35a77.24%2077.24%200%200%201-2.74%20112l4.14%204.55A83.35%2083.35%200%200%200%20170.39%2095.28Z"%2F><%2Fsvg>') no-repeat center center;
				background-size: 100%;
			}
			&.sulo-wowza-VolumeMuted:hover {
				background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org
					%2F2000%2Fsvg%22%20viewBox%3D%220%200%20192%20192%22%3E%3Cpolygon%20fill%3D%22' + $mc-color + '
					%22%20points%3D%2249.42%20108.23%2028.9%20108.23%2028.9%2087.4%2052.86%2087.4%2081.36
					%2067.06%2081.36%2076.28%2087.52%2070.12%2087.52%2055.11%2050.89%2081.25%2022.74%2081.25
					%2022.74%20114.39%2043.26%20114.39%2049.42%20108.23%22%2F%3E%3Cpolygon%20fill%3D%22' + $mc-color + '
					%22%20points%3D%2281.36%20128.56%2064.65%20116.64%2060.24%20121.06%2087.52%20140.52%2087.52
					%2093.77%2081.36%2099.93%2081.36%20128.56%22%2F%3E%3Cpolygon%20fill%3D%22' + $mc-color + '%22%20points
					%3D%22100.6%2064.93%2087.52%2078%2081.36%2084.16%2055.45%20110.08%2051.04%20114.49%2037.63
					%20127.9%2039.59%20129.87%2041.57%20131.85%2041.57%20131.84%2055.64%20117.77%2060.05%20113.36
					%2081.36%2092.05%2087.52%2085.89%20104.54%2068.87%20100.6%2064.93%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
				background-size: 100%;
			}
			&.sulo-wowza-FullScreen:hover {
				background: url('data:image/svg+xml;charset=UTF-8,
					<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20viewBox%3D"0%200%2089.954%2089.954">
					<polygon%20points%3D"51.602%200%2051.602%205.662%2080.289%205.662%2046.904%2039.046%2050.911
					%2043.047%2084.293%209.666%2084.293%2038.352%2089.954%2038.352%2089.954%200%20"
					%20fill%3D"' + $mc-color + '"%2F><polygon%20points%3D"39.071%2046.883%205.662%2080.291%205.662
					%2051.602%200%2051.602%200%2089.954%2038.352%2089.954%2038.352%2084.293%209.668%2084.293
					%2043.077%2050.884%20"%20fill%3D"' + $mc-color + '"%2F><%2Fsvg>') no-repeat center center;
				background-size: 46.851042%;
			}
		}
		.sulo-wowza-SVGAssetNoHover.sulo-wowza-Live.sulo-wowza-Active {
			background: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg
				%22%20viewBox%3D%220%200%20105.916%20105.916%22%3E%3Cpath%20d%3D%22M52.958%20105.916C23.757%20105.916
				%200%2082.159%200%2052.958S23.757%200%2052.958%200s52.958%2023.757%2052.958%2052.958S82.159%20105.916
				%2052.958%20105.916zM52.958%205.575c-26.128%200-47.383%2021.258-47.383%2047.383s21.256%2047.383%2047.383
				%2047.383%2047.383-21.258%2047.383-47.383S79.086%205.575%2052.958%205.575z%22%20fill%3D%22' + $mc-color + '%22%2F
				%3E%3Ccircle%20cx%3D%2252.957%22%20cy%3D%2252.959%22%20r%3D%2233.142%22%20fill%3D%22' + $mc-color + '%22%2F%3E%3C%2Fsvg%3E') no-repeat center center;
			background-size: 55.164583%;
		}
		#sulo-wowza-VolumeControl-Indicator, #sulo-wowza-VolumeControl-Highlight {
			background: $mc-color;
		}
	}
}