@import "goods";
@import "filters";


.empty-container {
	text-align: center;
	.shoutout {
		// padding: 4rem 0;
		text-align: center;
		color: $dark-gray;
		font-size: 120%;
		font-style: italic;
	}
}

.sulo-browse {
	.section {
		padding-top: $global-padding;
	}

	.section-title {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		
	}
	.sulo-items-container.empty-container {
		padding-bottom: 8rem;
	}
}

#sulo-product-page {
	.page-content {
		// padding-top: 5%;
	}
	.store-not-found {
		margin-top: 5%;
	}
}