#sulo-live .sulo-browse {
		h2 {
			color: map-get($foundation-palette, sulo-dark);
		}
		.column {
			.section-title {
				justify-content: center;
			}
			.section-footer {
				margin-top: $global-margin;
				display: flex;
				justify-content: center;
			}
		}
	}