[
 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :category/project,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Project this category belongs to."}

 ; Bank fees

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/fees,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/many,
  :db/isComponent        true
  :db/doc                "Any potential fees added to this transaction."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction.fee/type,
  :db/valueType          :db.type/keyword,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Type of transaction fee, absolute amount or relative percentage value. Values #{:transaction.fee.type/absolute :transaction.fee.type/relative}"}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction.fee/value,
  :db/valueType          :db.type/bigdec,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Value of transaction fee. If type relative value is in range 0-100, otherwise the fee amount."}

 ; Long term transactions

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction/end-date,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Date of a long term transaction's end."}
 ]