[
 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :transaction.fee/currency,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Currency of a transaction fee."}
 ]