[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/shipping-policy
  :db/valueType          :db.type/bytes
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store's custom shipping policy"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/shipping
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store's shipping settings"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping/rules
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Shipping rules."
  :db.install/_attribute :db.part/db}

 ;; Shipping Rules
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rule/destinations
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Shipping destinations"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rule/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping rule title"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rule/rates
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Shipping rates in this rule"
  :db.install/_attribute :db.part/db}

 ;; Shipping rates

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rate/first
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping rate first item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rate/additional
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping rate additional item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rate/free-above
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping is free above this amount"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rate/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of this shipping rate to show customer (e.g. FedEx 3-day)"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.rate/info
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Information about this shipping for customers."
  :db.install/_attribute :db.part/db}

 ;; Countries
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :country/code
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Country code"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :country/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Country name"
  :db.install/_attribute :db.part/db}

 ;; Order
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/created-at
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Timestamp of when the order was created."
  :db.install/_attribute :db.part/db}


 ;; Order item
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Order item title"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/description
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Order item description"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/photo
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Order item photo, if any"
  :db.install/_attribute :db.part/db}

 ;; Chat Message
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat.message/created-at
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Time chat message was created."
  :db.install/_attribute :db.part/db}

 ;; Store
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/email
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store contact email"
  :db.install/_attribute :db.part/db}
 ]