[

 ;; ############ User ##############################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/email
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "User email."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/verified
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "User has verified their email."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/stripe
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User Stripe info."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/cart
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "User owning the cart."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/profile
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User public profile."
  :db.install/_attribute :db.part/db}

 ;; ################# User.profile ######
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user.profile/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "User name."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user.profile/photo
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User profile photo."
  :db.install/_attribute :db.part/db}

 ;; ########## STRIPE ##################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Stripe account id."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/publ
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Stripe account publishable key"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/secret
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Stripe account secret key"
  :db.install/_attribute :db.part/db}

 ;; ################ Store ##########################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Store UUID unique identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/stripe
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Store UUID unique identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/owners
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owners."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/items
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Items this store has."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/profile
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Public profile of this store."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/sections
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Sections inside the store that the products are grouped in."
  :db.install/_attribute :db.part/db}

 ;;################# Store.profile ##############
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of a store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/description
  :db/valueType          :db.type/bytes
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Name of a store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/return-policy
  :db/valueType          :db.type/bytes
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Return policy of a store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/tagline
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Name of a store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/photo
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Profile photo of the store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.profile/cover
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Cover photo for the store"
  :db.install/_attribute :db.part/db}

 ;; @############### store.navigation #############

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.section/label
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Navigations inside the store (label)"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.section/path
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Navigations inside the store (label)"
  :db.install/_attribute :db.part/db}

 ;; ########### Store owners ########################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.owner/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owner user entity."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.owner/role
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owner role."
  :db.install/_attribute :db.part/db}


 ;; ############# STORE ITEMS ######################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier of the item."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Name of the item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/description
  :db/valueType          :db.type/bytes
  :db/cardinality        :db.cardinality/one
  :db/doc                "Description of the item, bytes from HTML string."
  :db.install/_attribute :db.part/db}

 ;; TODO: Add currency?
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/price
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Price of the item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/category
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category this item belongs to."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/section
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store section that this item belongs to."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/photos
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Item photos"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/skus
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Item SKUs, (stock keeping unit, with specific attributes such as color.)"
  :db.install/_attribute :db.part/db}

 ;; ############# Store.item.photo
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.photo/photo
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item photos"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.photo/index
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item photo index"
  :db.install/_attribute :db.part/db}

 ;;; ################ store.item.sku ##########
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/variation
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU variation value"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/inventory
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU inventory"
  :db.install/_attribute :db.part/db}

 ;;; ############ store.item.sku.inventory #########
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku.inventory/type
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU inventory type in #{:store.item.sku.type/finite :store.item.sku.type/finite :store.item.sku.type/infinite}."
  :db.install/_attribute :db.part/db}


 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku.inventory/value
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item inventory value when ::inventory/type is ::inventory.type/bucket. Can be one of #{::in-stock ::out-of-stock ::limited}."
  :db.install/_attribute :db.part/db}


 ;; ############# Photo
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :photo/path
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Photo URL"
  :db.install/_attribute :db.part/db}

 ;; ############### Stream

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name (title) of the stream."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/store
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Ref to the streams store."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/state
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "State of this stream (e.g. :stream.state/offline or :stream.state/online)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/token
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Stream token the user has generated last."
  :db.install/_attribute :db.part/db}


 ;; ################# Cart

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user.cart/items
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Cart items."
  :db.install/_attribute :db.part/db}

 ;; ############### Chat

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat/store
  :db/valueType          :db.type/ref
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the chat's store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat/messages
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/isComponent        true
  :db/doc                "Ref to the chat the chat message belongs to"
  :db.install/_attribute :db.part/db}

 ;; ################## Chat Messages

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat.message/text
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Text of the chat message"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat.message/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the user who wrote the chat message"
  :db.install/_attribute :db.part/db}

 ;; ############### Charge
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :charge/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Charge ID received from Stripe."
  :db.install/_attribute :db.part/db}

 ;; ################ Orders
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/charge
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Charge made on this order."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/amount
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Amount to store on this order."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/status
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Status of this order, can be one of #{:order.status/created order.status/paid :order.status/canceled :order.status/fulfilled :order.status/returned}."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/store
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the store this order is for."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the user who created the order."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Unique identifier of an order."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/shipping
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Ref to the user who created the order."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/items
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/isComponent        true
  :db/doc                "Ref to the user who created the order."
  :db.install/_attribute :db.part/db}


 ;; ############### order.item #################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/parent
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the SKU representing this order item."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/type
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Type of this order item (e.g. :tax :shipping)"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order.item/amount
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Price of this order item (e.g. 5.00)"
  :db.install/_attribute :db.part/db}

 ;; ############### Shipping
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping recipient name."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping/address
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/isComponent        true
  :db/doc                "Shipping address."
  :db.install/_attribute :db.part/db}

 ;; ################ shipping.address #############
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/street
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping street address (e.g. 2121 3rd Street)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/street2
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping street address line 2 (e.g. apt 50)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/postal
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping postal code (e.g. 94107)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/locality
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping locality (e.g. San Francisco)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/region
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping region (e.g. California)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :shipping.address/country
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Shipping country (e.g. United States)."
  :db.install/_attribute :db.part/db}

 ;; ################### Categories
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/path
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/fulltext           true
  :db/doc                "Category path identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category name, which is included in the category/path"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/label
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category label."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/children
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Category subcategories."
  :db.install/_attribute :db.part/db}
 ]
