[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/filter
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter goal data."
  :db.install/_attribute :db.part/db}
 ]