[

 ;; ############ User ##############################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/email
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "User email."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/verified
  :db/valueType          :db.type/boolean
  :db/cardinality        :db.cardinality/one
  :db/doc                "User has verified their email."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/photo
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User profile photo."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/stripe
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User Stripe info."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :user/cart
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "User owning the cart."
  :db.install/_attribute :db.part/db}

 ;; ########## STRIPE ##################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Stripe account id."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/publ
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Stripe account publishable key"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stripe/secret
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Stripe account secret key"
  :db.install/_attribute :db.part/db}

 ;; ################ Store ##########################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Store UUID unique identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/stripe
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Store UUID unique identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/owners
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owners."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/collections
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Store custom collections."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/items
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Store custom collections."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of a store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/photo
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Profile photo of the store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store/cover
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Cover photo for the store"
  :db.install/_attribute :db.part/db}

 ;; ########### Store owners ########################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.owner/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owner user entity."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.owner/role
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Store owner role."
  :db.install/_attribute :db.part/db}


 ;; ############# STORE ITEMS ######################
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier of the item."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Name of the item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/description
  :db/valueType          :db.type/bytes
  :db/cardinality        :db.cardinality/one
  ;:db/fulltext           true
  :db/doc                "Description of the item"
  :db.install/_attribute :db.part/db}

 ;; TODO: Add currency?
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/price
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Price of the item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/categories
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Categories this item belongs to."
  :db.install/_attribute :db.part/db}

 ;; TODO: figure out how to handle categories of different granularities, check out how Etsy is doing this.
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/section
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/fulltext           true
  :db/doc                "Category of the item"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/photos
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Item photos"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item/skus
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Item SKUs, (stock keeping unit, with specific attributes such as color.)"
  :db.install/_attribute :db.part/db}

 ;;; Stock item SKU
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Item SKU identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/value
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU variation value"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/type
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU quantity type (:store.item.sku.type/finite, :store.item.sku.type/infinite.)"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/quantity
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU quantity type, only used if type is :store.item.sku.type/finite."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :store.item.sku/price
  :db/valueType          :db.type/bigdec
  :db/cardinality        :db.cardinality/one
  :db/doc                "Item SKU price in lowest currency unit."
  :db.install/_attribute :db.part/db}

 ;; Photo
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :photo/path
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Photo URL"
  :db.install/_attribute :db.part/db}



 ;; Stream

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/name
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Name of the stream"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :stream/store
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the streams store"
  :db.install/_attribute :db.part/db}

 ;{:db/id                 #db/id[:db.part/db]
 ; :db/ident              :stream/photo
 ; :db/valueType          :db.type/string
 ; :db/cardinality        :db.cardinality/one
 ; :db/doc                "Tumbnail of the stream"
 ; :db.install/_attribute :db.part/db}


 ;; Cart

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :cart/items
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Cart items."
  :db.install/_attribute :db.part/db}

 ;{:db/id                 #db/id[:db.part/db]
 ; :db/ident              :cart.item/sku
 ; :db/valueType          :db.type/ref
 ; :db/cardinality        :db.cardinality/one
 ; :db/doc                "SKU for this cart item."
 ; :db.install/_attribute :db.part/db}

 ;{:db/id                 #db/id[:db.part/db]
 ; :db/ident              :cart.item/quantity
 ; :db/valueType          :db.type/bigdec
 ; :db/cardinality        :db.cardinality/one
 ; :db/doc                "Quantity cart item quantity."
 ; :db.install/_attribute :db.part/db}

 ;; Chat

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat/store
  :db/valueType          :db.type/ref
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the chat's store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat/mode
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the chat's store"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat/messages
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/isComponent        true
  :db/doc                "Ref to the chat the chat message belongs to"
  :db.install/_attribute :db.part/db}

 ;; Chat Messages

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat.message/text
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Text of the chat message"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :chat.message/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the user who wrote the chat message"
  :db.install/_attribute :db.part/db}

 ;; Orders
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/id
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Order ID received from Stripe."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/store
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the store this order is for."

  :db.install/_attribute :db.part/db}
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :order/user
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Ref to the user who created the order."
  :db.install/_attribute :db.part/db}

 ;; Collections
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/path
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Category path identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/label
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category label."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/children
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Category subcategories."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :category/level
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Category level."
  :db.install/_attribute :db.part/db}
 ]
