[
;; Dashboard
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Identifier of a dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/budget
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Budget for this dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/widgets
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Widgets on this dashboard."
  :db.install/_attribute :db.part/db}


 ;; ----------------- Widget
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Index of this widget on its dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/index
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Index of this widget on its dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/graph
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Graph this widget contains."
  :db.install/_attribute :db.part/db}


 ;; ------------------ Graph
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier for a graph."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/style
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Graph style (bar, area, number etc.)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/report
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Report visualized by this graph."
  :db.install/_attribute :db.part/db}

 ;; ------------------------ Report
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Report identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/functions
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Functions that this report will use."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/filter
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter that this report will apply to the data."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/group-by
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter that this report will apply to the data."
  :db.install/_attribute :db.part/db}


 ;; ------------------- Function
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/uuid
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Function identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/id
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Function identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/attribute
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Which transaction attribute to apply the function (e.g. amount, currency)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/group-by
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "What transaction attribute that should be grouped (e.g. currency, tags)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/label
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "User specified label for this function."
  :db.install/_attribute :db.part/db}
 ]