[

 ;; Dashboard
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Identifier of a dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/columns
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Number of columns on dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :dashboard/project
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "project for this dashboard."
  :db.install/_attribute :db.part/db}

 ;; ----------------- Widget
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Index of this widget on its dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/width
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Relative width of this widget on its dashboard (0 - 100)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/height
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Height of widget in number of rows."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/index
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Index of this widget on its dashboard."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/graph
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Graph this widget contains."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/report
  :db/isComponent        true
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Report visualized by this widget."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/filter
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter that this widget will apply to the data."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :widget/dashboard
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Dashboard that this widget belongs to."
  :db.install/_attribute :db.part/db}
 
 ;; ------------------ Graph
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Unique identifier for a graph."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/style
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Graph style (bar, area, number etc.)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :graph/filter
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Graph filter, what to display in the graph."
  :db.install/_attribute :db.part/db}

 ;; ------------------------ Report
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/uuid
  :db/valueType          :db.type/uuid
  :db/cardinality        :db.cardinality/one
  :db/unique             :db.unique/identity
  :db/doc                "Report identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/title
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "Report title."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/functions
  :db/valueType          :db.type/ref
  :db/isComponent        true
  :db/cardinality        :db.cardinality/many
  :db/doc                "Functions that this report will use."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report/group-by
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter that this report will apply to the data."
  :db.install/_attribute :db.part/db}


 ;; ------------------- Function

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/id
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Function identifier."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/attribute
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "Which transaction attribute to apply the function (e.g. amount, currency)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/group-by
  :db/valueType          :db.type/keyword
  :db/cardinality        :db.cardinality/one
  :db/doc                "What transaction attribute that should be grouped (e.g. currency, tags)."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :report.function/label
  :db/valueType          :db.type/string
  :db/cardinality        :db.cardinality/one
  :db/doc                "User specified label for this function."
  :db.install/_attribute :db.part/db}

 ;; Filter

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :filter/start-date
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter start date."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :filter/end-date
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter end date."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :filter/include-tags
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Filter include tags."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :filter/exclude-tags
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/many
  :db/doc                "Filter exclude tags."
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db]
  :db/ident              :filter/last-x-days
  :db/valueType          :db.type/long
  :db/cardinality        :db.cardinality/one
  :db/doc                "Filter time span since X days."
  :db.install/_attribute :db.part/db}

 ;; ------------------ Datomic transaction metadata
 ;; --- Not to be confused with jourmoney transactions.
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :tx/mutation-uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Identifier of a mutation."
  :db.install/_attribute :db.part/db}
 ]
