[

 ;; ------------------ Datomic transaction metadata
 ;; --- Not to be confused with jourmoney transactions.

 ;; :tx/mutation-uuid is not used anymore.
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :tx/mutation-uuid
  :db/valueType          :db.type/uuid
  :db/unique             :db.unique/identity
  :db/cardinality        :db.cardinality/one
  :db/doc                "Identifier of a mutation."
  :db.install/_attribute :db.part/db}
 ]
