[
 {:db/id                 #db/id[:db.part/db]
  :db/ident              :transaction/category
  :db/valueType          :db.type/ref
  :db/cardinality        :db.cardinality/one
  :db/doc                "Transaction's category"
  :db.install/_attribute :db.part/db}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :category/name,
  :db/unique             :db.unique/identity,
  :db/valueType          :db.type/string,
  :db/cardinality        :db.cardinality/one,
  :db/fulltext           true
  :db/doc                "Unique category name."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :tx/mutation-created-at,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Timestamp of when the mutation was created."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :tx/mutation-updated-at,
  :db/valueType          :db.type/long,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "Timestamp of when the mutation was updated, if the same mutation happened again."}

 {:db/id                 #db/id[:db.part/db],
  :db.install/_attribute :db.part/db,
  :db/ident              :tx/mutation-created-by,
  :db/valueType          :db.type/ref,
  :db/cardinality        :db.cardinality/one,
  :db/doc                "User the mutation was created by"}
 ]