.callout, .reveal {
	// width: 100%;
	> .header {
		font-weight: $global-weight-bold;
		// border-bottom: $global-border;
		// padding-bottom: 0.1rem;
		// margin-bottom: 1.5rem;
	}

	padding: 1rem 0.5rem;
	@include breakpoint(medium) {
		padding: 1rem;
	}

	&.notification {
		a {
			text-decoration: underline;
		}
		.header {
			border-bottom: none;
		}
		i.fa-warning {
			color: $warning-color;
		}
		&.action i {
			color: map-get($foundation-palette, action);
		}
		&.alert i {
			color: $alert-color;
		}
	}

	&.not-found {
		i {
			color: $alert-color;
		}
	}
}

.reveal-overlay {
	z-index: $modal-zindex;
}
.reveal {
	
	z-index: $modal-zindex;
	.button {
		// margin-bottom: 0 !important; 
	}
	.header {
		// border-bottom: $global-border;
		letter-spacing: 1px;
		// font-weight: $global-weight-bold;
		// margin-bottom: 1rem;
		// font-family: $header-font-family-serif;
		// text-transform: uppercase;
	}
	.callout {
		margin-bottom: 1rem;
		padding: 0;
		border: none;
		.error-message {
			color: map-get($foundation-palette, alert);
		}
	}
}