@import "callout";
@import "text";
@import "table";
@include sulo-table;
@import "upload-photo";
@import "grid-layout";
@import "icons";
@import "quill-snow";
@import "quill";
@import "search-bar";
@import "switch";
@import "menu";
@import "content-section";

.sl-shipping {
	.sl-shipping--address {
		font-size: 80%;
		color: $dark-gray;
	}
}

.button.delete-button {
	border: none !important;
	font-weight: $global-weight-normal;
}

.pagination {
	font-weight: $global-weight-bold;
	li {
		border: $global-border;
		border-color: rgba($sulo-dark-color, 0.5);
	}
	li.pagination-previous, li.pagination-next {
		font-weight: $global-weight-normal;
		border: none;
		a {
			color: $body-font-color;
			&:hover {
				background: $white;
			}
		}
	}
}