.section-footer {
	margin-top: $global-padding;
	padding: 0.5rem;
}

.section {
	margin-bottom: 4rem;
	padding: 1% 0;
	.section-header {
		margin-bottom: $global-margin;
		font-size: rem-calc(22);
		@include breakpoint(medium) {
			font-size: rem-calc(24);
		}
	}
}

