p > a {
	// $color: map-get($foundation-palette, action);
	// color: $color;
	// &:hover {
	// 	text-decoration: underline;
	// 	color: darken($color, 10%);
	// }
	color: $sulo-dark-color;
	font-weight: $global-weight-bold;
	&:hover {
		color: darken($sulo-dark-color, 10%);
	}
}

p.follow-button-container {
	margin: 0;
}
a.follow-button {
	// opacity: 0.5;
	text-decoration: none;
}

#sulo-landing {
	h1 {
		@include breakpoint(large) {
			font-size: rem-calc(48);
		}
	}
	// h3 {
	// 	text-transform: none;
	// 	@include breakpoint(large) {
	// 		font-size: rem-calc(22);
	// 	}
	// }
	// h2 {
	// 	@include breakpoint(large) {
	// 		font-size: rem-calc(32);
	// 	}
	// }
}

.sl-tooltip {
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	
	display: inline-block;
	.sl-tooltip-text {
		transition: visibility .25s linear 0s, opacity .25s ease-in-out;
		margin-top: 0.2rem;
		left: 50%;
		// top: 100%;
		// top: 0;
		font-size: 0.8rem;
		width: 10rem;
		// transform: translateX(50%);
	}
	&:hover {
		.sl-tooltip-text {
			transition: visibility .75s linear 0s, opacity .25s ease-in-out .5s;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	letter-spacing: -0.85px;
	font-weight: bold;
	margin-top: $global-margin;
	// font-size: 100%;
}

.jumbo-header {
	color: $white;
	font-size: rem-calc(32);
	// text-align: center;
	@include breakpoint(medium) {
		font-size: rem-calc(48);
	}
	// text-shadow: 1px 1px 0 rgba($black, 0.2);
	line-height: 1.1;

	&.banner {
		text-transform: none;
		font-size: rem-calc(24px);
		@include breakpoint(medium) {
			font-size: rem-calc(32px);
		}
		&.sulo-dark {
			color: $sulo-dark-color;
			text-shadow: none;
		}
	}
}

.jumbo-lead {
	color: $white;
	// text-align: center;
	font-weight: $global-weight-bold;
	letter-spacing: -0.4px;
	&.banner {
		font-size: 110%;
		&.sulo-dark {
			color: $sulo-dark-color;
		}
	}
}

.footer-header {
	text-transform: none;
	color: $medium-gray;
	margin: 0;
	font-weight: bold;
}

.content-item-text {
	letter-spacing: 0.1px;
}

#sulo-store-dashboard {
	// @include foundation-typography-base;
		h1, h2, h3, h4, h5, h6 {
		text-transform: none;
		letter-spacing: 0.5px;
		font-weight: $global-weight-normal;
	// font-size: 100%;
	}
	// $header-sizes:
	@each $size, $headers in $dashboard-header-sizes {
    	@include breakpoint($size) {
      		@each $header, $font-size in $headers {
        		#{$header} {
          			font-size: rem-calc($font-size);
        		}
    	  	}
    	}
  	}

}
