.upload-photo {
	cursor: pointer;
	.photo-container {
		background: $white;
		border: $global-border;
		.overlay {
			cursor: pointer;
			transition: opacity .25s ease-in-out, background .25s ease-in-out;
			background: transparent;
			&:hover {
				background: rgba($light-gray, 0.3);
			}
			.content {
				// font-size: 1rem;
				padding: 0.5rem 1rem;
				border-radius: $global-radius;
				background: rgba($white, 0.5);
			}
			justify-content: flex-start;
			align-items: flex-start;
			// padding: 1rem;
			.fa-camera {
				font-size: 1.5rem;
				// color: $dark-gray;
			}
		}
	}
	.photo-container.circle {
		max-width: 10rem;
		margin: 0 auto;
		.overlay {
			justify-content: center;
		}
	}
	&.loading .overlay {
		background: rgba($white, 0.5);
		align-items: center;

		.content {
			background: transparent;
		}
	}
}